<style>
    .summer-container{
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: center;
      background-color: #fbbb69;
      text-align: center;
      padding: 10px 10px;
      margin: 20px auto;
      font-size: 15px;
      position: relative;
      overflow: hidden;
      border: 1px white solid;
      border-radius: 5px;
      margin: 20px;
      box-shadow: 0 0 7px 0 silver;
    }
    .summer-picture{
      width: 150px;
      margin-top: 10px;
    }
    .summer-text{
      display: inline-block;
      height: auto;
      padding: 0 0 0 20px;
      text-align: left;
      line-height: 1.3;
      color: white;
      font-size: 30px;
      font-weight: bold;
      width: 300px;
    }
    .summer-text > p{
      margin: 0 0 10px;
    }
    .btn-white{
      background-color: white;
    }
    
    @media only screen and (min-width: 800px){
      .summer-button{
        width: 250px;
      }
      .summer-container{
        max-width: 800px;
      }
    }
    @media only screen and (max-width: 799px){
      .summer-button{
        width: 100%;
        padding: 10px 0;
      }
      .summer-container{
        max-width: 500px;
      }
    }
    @media only screen and (max-width: 499px){
      .summer-container{
        max-width: 400px;
      }
      
      .summer-text{
        text-align: center!important;
        padding: 0px!important;
      }
    }
    
    </style>
    
    <center>
    <div id="summer-wrapper">
          <div class="summer-container">
            
            <div class="summer-picture">
              <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/therapiedecken-neu-sommer-2021-1.png?v=1622482846" alt="" />
            </div>
    
            <div class="summer-text">
              <p>
                Sommerbezüge jetzt verfügbar!
              </p>
            </div>
            <div class="summer-button">
              <button class="Form__Submit Button Button--primary" href="/collections/welche-therapiedecken-modelle-fur-erwachsene-gibt-es">
                Mehr Erfahren
              </button>
            </div>
    
            <div class="set-upsell-badge">Limitiert</div>
          </div>
        </div>
    </center>
    
    