
<center>
  <div id="set-upsell-wrapper">
    <div class="set-upsell">
      <div class="set-upsell-disc">
        <div class="set-upsell-wv-absolute">
          <span class="set-upsell-dis1">Bis zu</span>
          <span class="set-upsell-dis">20%</span>
          <span class="set-upsell-dis1">sparen!</span>
        </div>
        <div class="set-upsell-wv">
          <span class="set-upsell-dis1">Bis zu</span>
          <span class="set-upsell-dis">20%</span>
          <span class="set-upsell-dis1">sparen!</span>
        </div>
      </div>

      <div class="set-upsell-img">
        <img src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/Balance-Summer-Set-100px.png?v=1622549859" alt="" />
      </div>

      <div class="set-upsell-text">
        <p>
          Wieder verfügbar! Balance Sets - Balance Decke + <b>2 Bezüge</b> nach Wahl
        </p>
        <a class="Button Button--primary" href="/products/set-premium-balance-gewichtsdecke-fur-erwachsene">ZUM SET</a>
      </div>

      <div class="set-upsell-badge">Limitiert</div>
    </div>
  </div>
</center>