<style>
  .blankets-sold-wrapper{
  	background: #fafafa;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
  }
  .blankets-sold-icon{
  	font-size: 40px;
    color: #fac636;
    line-height: initial;
  }
  .blankets-sold-icon span{
  	font-size: 30px;
  }
  .blankets-sold-text{
  	font-size: 24px;
  }
</style>
{% if product.template_suffix == 'basic-balance-product' or product.template_suffix == 'standard-gravity' or product.template_suffix == 'premium-balance-adults' %}
<div class="blankets-sold-wrapper">
  <span class="blankets-sold-icon">
    +500.000 <span class="icon-cover"></span>
  </span>
  <p class="blankets-sold-text">verkaufte Gewichtsdecken von</p>
  <div class="blankets-sold-img">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainBlackWithoutSubText_200x.png?v=1628287162">
  </div>
</div>
{% endif %}