{% if product.template_suffix == 'basic-balance-product' or product.template_suffix == 'standard-gravity' or product.template_suffix == 'premium-balance-adults' %}
<div class="blankets-sold-wrapper" style="margin-top: 30px;">
  <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/500000_sold_blankets.svg?v=1654079913">
</div>
{% endif %}

