{% if product.template_suffix == 'basic-balance-product' or product.template_suffix == 'standard-gravity' or product.template_suffix == 'premium-balance-adults' %}
<div class="blankets-sold-wrapper">
  <span class="icon-50000"></span><span class="icon-cover"></span>
</div>
{% endif %}