<div class="checkout-cert-con checkout-icons-desktop">
  <div class="title_area">
    <div class="line_title"></div>
    <div><h3 class="checkout-cert-title">Einige Vorteile im Überblick</h3></div>
    <div class="line_title"></div>
  </div>
  <div class="point_wrapper">
      <span class="icon-css icon-calendar100"></span>
    <div>
      <h4 class="h4">100 Tage Probeschlafen</h4>
      <p>Wir geben Ihnen ausreichend Zeit zum Testen, um das passende Modell und Gewicht Ihrer Therapiedecke zu finden.</p>
    </div>
  </div>
  <div class="point_wrapper">
      <span class="icon-css icon-EU"></span>
    <div>
      <h4 class="h4">Hergestellt in Europa</h4>
      <p>Dank europäischer Produktion und kurzen Lieferwegen kaufen Sie bei uns nachhaltig und mit gutem Gewissen ein.</p>
    </div>
  </div>
  <div class="point_wrapper">
      <span class="icon-css icon-costumers"></span>
    <div>
      <h4 class="h4">Über 50.000 zufriedene Kunden</h4>
      <p>Unsere vielen zufriedenen Kunden bestätigen die Qualität und Wirksamkeit unserer Therapiedecken.</p>
    </div>
  </div>
  <div class="point_wrapper">
      <span class="icon-css icon-exchange"></span>
    <div>
      <h4 class="h4">Gratis Umtausch</h4>
      <p>Sollte Ihre gewählte Therapiedecke zu leicht oder zu schwer sein, können Sie kostenlos in ein anderes Modell tauschen.</p>
    </div>
  </div>
  <div class="checkout-cert">
  <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Trusted_shops_reviews.png?v=1630170422">
  <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Google_reviews.png?v=1630170422">
  </div>            
</div>