<!-- collection-promotional-badge.liquid -->
{% if settings.enable_collection_badge %}
  {% comment %}
    {% style %}
      .Grid__Cell:nth-child(3) .Collection_SmallBadge, .Grid__Cell:nth-child(3) .Collection_ImgSmallBadge{
        display: none;
      }
    {% endstyle %}
  {% endcomment %}
  
  {% comment %}
  {% style %}
    .Grid__Cell:nth-child(n+2) .Collection_ImgSmallBadge{
      display: none;
    }
  {% endstyle %}
  {% endcomment %}

  {% if collection.handle == 'xgravity-therapiedecken-fur-erwachsene' 
        or collection.handle == 'xbalance-therapiedecken-fur-erwachsene' %}
    
    <div class="CollectionBadge_Mask__Wrapper">
      {% comment %}<div class="Collection_SmallBadge">Gratis</div>{% endcomment %}
      <div class="Collection_ImgSmallBadge">
        <img class="Collection_ImgSize_SmallBadge" 
             src="{{ settings.promo_badge }}" 
             alt="Collection promotional badge" />
      </div>
    </div>
  {% endif %}
{% endif %}