<style>
  .ctd-divider {
    border: 0;
    display: block;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 30px 0;
  }
  .ctd-prop-container {
    margin-bottom: 30px;
    text-align: center;
  }
  .icon-40 > span {
    color: #3c3a3a;
  }
  .icon-40 > span:before {
    color: #3c3a3a;
  }
</style>

{% if title == "Premium Balance Gewichtsdecke für Erwachsene" or title == "Premium Balance Gewichtsdecke für Kinder" %}
<hr class="ctd-divider" />

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-premium-cotton"></span>
  </div>
  <div class="Heading u-h6 top10">
    Premium Biobezüge
  </div>
  <div>
    Bezug
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-zipper"></span>
  </div>
  <div class="Heading u-h6 top10">
    Reißverschluss
  </div>
  <div>
    Bezugssystem
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_metalballs"></span>
  </div>
  <div class="Heading u-h6 top10">
    Edelstahlperlen
  </div>
  <div>
    Gewichtsmaterial
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_stability100-1"></span>
  </div>
  <div class="Heading u-h6 top10">
    100% fest stabil
  </div>
  <div>
    Gewichtsverteilung
  </div>
</div>
{% endif %}

{% if title == "Set: Premium Balance Gewichtsdecke für Erwachsene" %}
<hr class="ctd-divider" />

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-premium-cotton"></span>
  </div>
  <div class="Heading u-h6 top10">
    2 x Premium Biobezüge
  </div>
  <div>
    Bezug
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-zipper"></span>
  </div>
  <div class="Heading u-h6 top10">
    Reißverschluss
  </div>
  <div>
    Bezugssystem
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_metalballs"></span>
  </div>
  <div class="Heading u-h6 top10">
    Edelstahlperlen
  </div>
  <div>
    Gewichtsmaterial
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_stability100-1"></span>
  </div>
  <div class="Heading u-h6 top10">
    100% fest stabil
  </div>
  <div>
    Gewichtsverteilung
  </div>
</div>
{% endif %}


{% if title == "Standard Gravity Gewichtsdecke für Erwachsene" or title == "Standard Gravity Gewichtsdecke für Kinder" %}
<hr class="ctd-divider" />

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-premium-cotton"></span>
  </div>
  <div class="Heading u-h6 top10">
    Premium Biobezüge
  </div>
  <div>
    Bezug
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-loop"></span>
  </div>
  <div class="Heading u-h6 top10">
    Schlaufen
  </div>
  <div>
    Bezugssystem
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_glassballs"></span>
  </div>
  <div class="Heading u-h6 top10">
    Glasperlen
  </div>
  <div>
    Gewichtsmaterial
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_stability80"></span>
  </div>
  <div class="Heading u-h6 top10">
    80% beweglich anschmiegsam
  </div>
  <div>
    Gewichtsverteilung
  </div>
</div>
{% endif %}

{% if title contains "Basic Gravity Gewichtsdecke" %}
  <hr class="ctd-divider" />

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-cotton"></span>
    </div>
    <div class="Heading u-h6 top10">
      Basic Bezug
    </div>
    <div>
      Bezug
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-loop"></span>
    </div>
    <div class="Heading u-h6 top10">
      Schlaufen
    </div>
    <div>
      Bezugssystem
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-icn_glassballs"></span>
    </div>
    <div class="Heading u-h6 top10">
      Glasperlen
    </div>
    <div>
      Gewichtsmaterial
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-icn_stability80"></span>
    </div>
    <div class="Heading u-h6 top10">
      80% beweglich anschmiegsam
    </div>
    <div>
      Gewichtsverteilung
    </div>
  </div>
  {% endif %}

{% if title contains "Medizinische Gewichtsdecke" %}
  <hr class="ctd-divider" />

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-icn_none"></span>
    </div>
    <div class="Heading u-h6 top10">
      Ohne, nicht abziehbar
    </div>
    <div>
      Bezug
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-icn_none"></span>
    </div>
    <div class="Heading u-h6 top10">
      Ohne
    </div>
    <div>
      Bezugssystem
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-icn_glassballs"></span>
    </div>
    <div class="Heading u-h6 top10">
      Glasperlen
    </div>
    <div>
      Gewichtsmaterial
    </div>
  </div>

  <div class="ctd-prop-container">
    <div class="icon-40">
      <span class="icon-stability70"></span>
    </div>
    <div class="Heading u-h6 top10">
      70% beweglich anschmiegsam
    </div>
    <div>
      Gewichtsverteilung
    </div>
  </div>
{% endif %}


{% if title == "Set: Standard Gravity Gewichtsdecke für Erwachsene" %}
<hr class="ctd-divider" />

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-premium-cotton"></span>
  </div>
  <div class="Heading u-h6 top10">
    2 X Premium Biobezüge
  </div>
  <div>
    Bezug
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-loop"></span>
  </div>
  <div class="Heading u-h6 top10">
    Schlaufen
  </div>
  <div>
    Bezugssystem
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_glassballs"></span>
  </div>
  <div class="Heading u-h6 top10">
    Glasperlen
  </div>
  <div>
    Gewichtsmaterial
  </div>
</div>

<div class="ctd-prop-container">
  <div class="icon-40">
    <span class="icon-icn_stability80"></span>
  </div>
  <div class="Heading u-h6 top10">
    80% beweglich anschmiegsam
  </div>
  <div>
    Gewichtsverteilung
  </div>
</div>
{% endif %}