<!-- collection-promotional-badge.liquid -->

{%- comment -%}See CSS on badges.css file {%- endcomment -%}
{{ 'badges.css' | asset_url | stylesheet_tag }}

{% if settings.enable_collection_badge %}

  {% if collection.handle == '' %}
    <div class="CollectionBadge_Mask__Wrapper">
      {% comment %}
        <div class="Collection_SmallBadge">Gratis Maske</div>
      {% endcomment %}
      <div class="Collection_ImgSmallBadge"><img class="Collection_ImgSize_SmallBadge Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Website_Promotion_-_Mother_s_Day_Mask_Badge.png?v=1650567773" alt="Mother's day badge" /></div>
    </div>
  {% endif %}

{% endif %}