<!-- collection-promotional-badge.liquid -->

{% comment %}
  {% style %}
    .Grid__Cell:nth-child(3) .Collection_SmallBadge, .Grid__Cell:nth-child(3) .Collection_ImgSmallBadge{
      display: none;
    }
  {% endstyle %}
{% endcomment %}

{% comment %}
{% style %}
  .Grid__Cell:nth-child(n+2) .Collection_ImgSmallBadge{
    display: none;
  }
{% endstyle %}
{% endcomment %}

{% if settings.enable_collection_badge %}
  {%- comment -%}See CSS on promotional-badges.css file {%- endcomment -%}
  {{ 'promotional-badges.css' | asset_url | stylesheet_tag }}

  {% if collection.handle == 'gravity-therapiedecken-fur-erwachsene' or collection.handle == 'balance-therapiedecken-fur-erwachsene' %}
    <div class="CollectionBadge_Mask__Wrapper">
      {% comment %}<div class="Collection_SmallBadge">Gratis</div>{% endcomment %}
      <div class="Collection_ImgSmallBadge">
        <img class="Collection_ImgSize_SmallBadge" 
             src="{{ settings.promo_badge }}" 
             alt="Collection promotional badge" />
      </div>
    </div>
  {% endif %}
{% endif %}