<!-- collection-promotional-badge.liquid -->

<style>
  .Grid__Cell:nth-child(1) .Collection_SmallBadge, .Grid__Cell:nth-child(1) .Collection_ImgSmallBadge{
    display: none;
  }
  .Grid__Cell:nth-child(3) .Collection_SmallBadge, .Grid__Cell:nth-child(3) .Collection_ImgSmallBadge{
    display: none;
  }
</style>
{% if settings.enable_collection_badge %}
  {%- comment -%}See CSS on badges.css file {%- endcomment -%}
  {{ 'badges.css' | asset_url | stylesheet_tag }}

  {% if collection.handle == 'erwachsene' %}
    <div class="CollectionBadge_Mask__Wrapper">
      {% comment %}<div class="Collection_SmallBadge">Gratis</div>{% endcomment %}
      <div class="Collection_ImgSmallBadge"><img class="Collection_ImgSize_SmallBadge" src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_Sumer_Promotion_2022_Badge.svg?v=1656679563" alt="New Summer promotion discount badge" /></div>
    </div>
  {% endif %}
{% endif %}