{% for variant in product.variants %}
  {% if variant.td_field.seasonal_variant_dynamic_info and settings.seasonal_product_info %}
	Test
  {% else %}
	Test 2
    {% if variant.metafields.bgd.cover-type %}
      {% assign design_class = "info-wr info-wr-hidden" %}
      {% if variant.id == product.selected_or_first_available_variant.id %}
          {% assign design_class = "info-wr" %}
      {% endif %}
      <div data-variant-id="{{variant.id}}" class="{{ design_class }}">
        {{ variant.metafields.bgd.cover-type }}
      </div>
    {% endif%}
  {% endif%}

{% endfor %}