<style>
  .erwachsene-gewichtsdecke-wrapper{
  	text-align: center;
    background: #f8f8f8;
    padding: 50px 30px;
  }
  .erwachsene-gewichtsdecke-wrapper .owl-carousel{
  	max-width: 1330px;
    margin: 0 auto;
  }
  .erwachsene-gewichtsdecke-wrapper .media-img{
  	width: 70px;
    height: 70px;
    border-radius: 50px;
  }
  .erwachsene-gewichtsdecke-wrapper .media-img img{
  	width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div class="erwachsene-gewichtsdecke-wrapper">
  <h2 class="SectionHeader__Heading Heading u-h1">Was experten über die Wirkung von Therapiedecken sagen</h2>
  <div class="owl-carousel owl-theme">
     <div class="item">
    	<div class="media">
          <div class="media-img">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/diana_zur_lowen.jpg?v=1638296194">
          </div>
          <div class="media-content">
          	
          </div>
      	</div>
      </div>
      <div class="item">
    	<div class="media">
          <div class="media-img">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/markus_ruppert.jpg?v=1647274585">
          </div>
          <div class="media-content">
          	
          </div>
      	</div>
      </div>
      <div class="item">
    	<div class="media">
          <div class="media-img">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/dinah_berger.jpg?v=1638298528">
          </div>
          <div class="media-content">
          	
          </div>
      	</div>
      </div><div class="item">
    	<div class="media">
          <div class="media-img">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/caroline_helming.jpg?v=1638297982">
          </div>
          <div class="media-content">
          	
          </div>
      	</div>
      </div><div class="item">
    	<div class="media">
          <div class="media-img">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/phsycologist-therapiedecken-img1.jpg?v=1637921414">
          </div>
          <div class="media-content">
          	
          </div>
      	</div>
      </div>
  </div>
</div>

<script>
$('.erwachsene-gewichtsdecke-wrapper .owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    dots:true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:2
        }
    }
})
</script>