<style>
  .erwachsene-gewichtsdecke-wrapper{
  	text-align: center;
    background: #f8f8f8;
    padding: 50px 30px;
  }
</style>
<div class="erwachsene-gewichtsdecke-wrapper">
  <h2 class="SectionHeader__Heading Heading u-h1">Was experten über die Wirkung von Therapiedecken sagen</h2>
</div>