{{ 'gravity-printed-blanket.css' | asset_url | stylesheet_tag }}

{% if product.handle == 'standard-gravity-gewichtsdecke-mit-personalisierten-hunde-katzen-motiv-fur-erwachsene'
	or product.handle == 'therapiedecken-baumwollbezug-mit-personalisiertem-hunde-katzen-motiv' %}

<div id="GravityPrint_MainContainer">
    <h2 class="Heading u-h1">Zur Therapiedecke mit eigenem Tiermotiv in 3 Schritten</h2>
    <div id="GravityPrint_ColumnsContainer">
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_1_1.jpg?v=1642684250"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1"></div>

            <div class="icon-40"><span class="icon-1"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Das Lieblingsfoto Ihres Tieres hochladen</h3>
            <p>Das Foto muss eine Dateigröße von mindestens 1 mb haben. Das Gesicht des Tieres muss klar erkennbar sein.</p>

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_2_1_1.jpg?v=1642684250"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step2"></div>

            <div class="icon-40"><span class="icon-2"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Bestellung aufgeben</h3>
          	<p>Bestelldetails eintragen und Bestellung bezahlen. PayPal, Kreditkarte, Auf Rechnung oder in Raten Zahlen möglich.</p>
          {% comment %}
            <div>
                <div class="GravityPrint_iconText_wr"><span class="icon-A icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Komplettdruck des Fotos</p>
                </div>
                <div class="GravityPrint_iconText_wr"><span class="icon-B icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Nur der Kopf des Tieres</p>
                </div>
            </div>
          {% endcomment %}

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_3_1_1.jpg?v=1642684250"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step3"></div>
            <div class="icon-40"><span class="icon-3"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Fertig & wir machen den Rest!</h3>
            <p>Wählen Sie noch die Farbe für die Rückseite des Bezuges aus. Wenn Sie nur den Kopf Ihres Tieres drucken
                lassen möchten, wird diese Farbe auch für den freien Bereich zwischen den Köpfen verwendet.</p>
        </div>
    </div>
</div>
{% endif %}

{% if product.handle == 'standard-gravity-gewichtsdecke-familien-motiv' %}
<div id="GravityPrint_MainContainer">
    <h2 class="Heading u-h1">Zur Therapiedecke mit eigenem Familienmotiv in 3 Schritten</h2>
    <div id="GravityPrint_ColumnsContainer">
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Family_Cover_Images_web_steps_1.jpg?v=1645090613"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1"></div>

            <div class="icon-40"><span class="icon-1"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Das Lieblingsfoto Ihrer Familie hochladen</h3>
            <p>Das Foto muss eine Dateigröße von mindestens 1 mb haben. Alle Gesichter sollten klar erkennbar sein!</p>

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Family_Cover_Images_web_steps_2.jpg?v=1645090613"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step2"></div>

            <div class="icon-40"><span class="icon-2"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Entscheiden Sie sich zwischen:</h3>
            <div>
                <div class="GravityPrint_iconText_wr"><span class="icon-A icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Standard Druck des Fotos</p>
                </div>
                <div class="GravityPrint_iconText_wr"><span class="icon-B icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Cartoon Druck des Fotos</p>
                </div>
            </div>

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Family_Cover_Images_web_steps_3.jpg?v=1645090613"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step3"></div>
            <div class="icon-40"><span class="icon-3"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Fertig & wir machen den Rest!</h3>
            <p>Auf Ihre Bestellung warten, auspacken und Ihre Familie bestaunen.</p>
        </div>
    </div>
</div>
{% endif %}

{% if product.handle == 'standard-gravity-gewichtsdecke-mit-personalisiertem-partner-motiv-fur-erwachsene' %}
<div id="GravityPrint_MainContainer">
    <h2 class="Heading u-h1">Zur Therapiedecke mit eigenem Pärchenmotiv in 3 Schritten</h2>
    <div id="GravityPrint_ColumnsContainer">
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Couple_Cover_Images_Product-step1_1.jpg?v=1645092838"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1"></div>

            <div class="icon-40"><span class="icon-1"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Ihr Lieblingsfoto vom/mit dem Partner hochladen</h3>
            <p>Das Foto muss eine Dateigröße von mindestens 1 mb haben. Alle Gesichter sollten klar erkennbar sein!</p>

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Couple_Cover_Images_Product-step1_2.jpg?v=1645092838"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step2"></div>

            <div class="icon-40"><span class="icon-2"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Entscheiden Sie sich zwischen:</h3>
            <div>
                <div class="GravityPrint_iconText_wr"><span class="icon-A icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Standard Druck des Fotos</p>
                </div>
                <div class="GravityPrint_iconText_wr"><span class="icon-B icon_25" style="padding-right:10px"><span
                            class="path1"></span><span class="path2"></span></span>
                    <p class="GravityPrint_text_wr">Cartoon Druck des Fotos</p>
                </div>
            </div>

        </div>
        <div class="GravityPrint_steps_wr">
            <div><img
                    src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Personalized_Couple_Cover_Images_Product-step1_3.jpg?v=1645092838"
                    alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step3"></div>
            <div class="icon-40"><span class="icon-3"><span class="path1"></span><span class="path2"></span></span>
            </div>
            <h3 class="Heading u-h2 top10" style="margin-bottom:0">Fertig & wir machen den Rest!</h3>
            <p>Auf Ihre Bestellung warten, auspacken und Ihre Familie bestaunen.</p>
        </div>
    </div>
</div>
{% endif %}
