{% style %}
.harry_potter_wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  position:relative;
  margin: -40px;
  padding: 40px;
}
@media only screen and (max-width: 640px){
  .harry_potter_wrapper{
    margin: 0px;
    padding: 40px;
  }
}
{% endstyle %}

{% if product.handle == '' %}
<div class="harry_potter_wrapper">
  <h2 style="color: white">Ein Muss für alle Fans. Abtauchen in die Welt der Zauberer.</h2>
  <p style="color: white">Wer liebt nicht die weiten Fantasiewelten gigantischer Zauberer und fliegender Besen? Die Gewichtsdecke mit fantasievollen Bezügen nimmt Sie mit auf die Reise in die Zauberwelt. Ganz nebenbei wird Sie die beschwerte Decke beruhigen und entspannen, selbst bei den spannendsten Szenen.</p>
</div>
{% endif %}