{% if block.settings.simple_icons == 'wirkung'%}
  <span class="icon-relax"></span>
{% endif %}

{% if block.settings.simple_icons == 'gewicht'%}
  <span class="icon-weight"></span>
{% endif %}

{% if block.settings.simple_icons == 'materialien'%}
  <span class="icon-material"></span>
{% endif %}

{% if block.settings.simple_icons == '4jahreszeiten'%}
  <span class="icon-thermometer"></span>
{% endif %}

{% if block.settings.simple_icons == '28tagen'%}
  <span class="icon-callendar-trial"></span>
{% endif %}

{% if block.settings.simple_icons == '3optionen'%}
  <span class="icon-pillow-options"></span>
{% endif %}

{% if block.settings.simple_icons == 'einsteigermodell'%}
  <span class="icon-decision"></span>
{% endif %}

{% if block.settings.simple_icons == 'inklusive_basic'%}
  <span class="icon-cover"></span>
{% endif %}

{% if block.settings.simple_icons == 'euro'%}
  <span class="icon-coin-euro"></span>
{% endif %}

{% if block.settings.simple_icons == 'check'%}
  <span class="icon-user-check"></span>
{% endif %}

{% if block.settings.simple_icons == 'object-group'%}
  <span class="icon-object-group"></span>
{% endif %}

{% if block.settings.simple_icons == 'equalizer2'%}
  <span class="icon-equalizer2"></span>
{% endif %}

{% if block.settings.simple_icons == 'washing_machine'%}
  <span class="icon-washing-machine"></span>
{% endif %}

{% if block.settings.simple_icons == '100'%}
  <span class="icon-subjects"></span>
{% endif %}

{% if block.settings.simple_icons == '28'%}
  <span class="icon-days1"></span>
{% endif %}

{% if block.settings.simple_icons == '21-45'%}
  <span class="icon-age-group"></span>
{% endif %}

{% if block.settings.simple_icons == '10'%}
  <span class="icon-questions"></span>
{% endif %}

{% if block.settings.simple_icons == 'better-sleep-study'%}
  <span class="icon-better-sleep-study"></span>
{% endif %}

{% if block.settings.simple_icons == 'less-stress-study'%}
  <span class="icon-less-stress-study"></span>
{% endif %}

{% if block.settings.simple_icons == 'falling-asleep-faster-study'%}
  <span class="icon-falling-asleep-faster-study"></span>
{% endif %}

{% if block.settings.simple_icons == 'fifty-one-percent'%}
  <span class="icon-fifty-one-percent"></span>
{% endif %}

{% if block.settings.simple_icons == 'ninety-one-percent'%}
  <span class="icon-ninety-one-percent"></span>
{% endif %}

{% if block.settings.simple_icons == 'seventy-seven-percent'%}
  <span class="icon-seventy-seven-percent"></span>
{% endif %}

{% if block.settings.simple_icons == 'sixty-three-percent'%}
  <span class="icon-sixty-three-percent"></span>
{% endif %}
