{% if block.settings.icons_duotone == 'icon-vergleichen-sie'%}
  <span class="icon-Vergleichen-Sie"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'icon-tuen-sie'%}
  <span class="icon-Tuen-Sie"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'icon-erfreuen-sie'%}
  <span class="icon-Erfreuen-Sie"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'all-rounder'%}
  <span class="icon-all-rounder"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'energy'%}
  <span class="icon-Icons_Energy01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'favorite'%}
  <span class="icon-favourite"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'cooling'%}
  <span class="icon-Icons_Cooling01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'concentration'%}
  <span class="icon-Icons_Concentration"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'stress'%}
  <span class="icon-Icons_Stress01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'sleep'%}
  <span class="icon-Icons_Sleep01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'anxiety'%}
  <span class="icon-Icons_Anxiety01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'autism'%}
  <span class="icon-Icons_Autism01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'add'%}
  <span class="icon-Icons_ADD01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'alzheimer'%}
  <span class="icon-Icons_Alzheimer01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'wellbeing'%}
  <span class="icon-Icons_WellBeing01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'sustainable'%}
  <span class="icon-Icons_Sustainable01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'vegan'%}
  <span class="icon-Icons_Vegan01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'cotton'%}
  <span class="icon-Icons_Cotton01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'allergy'%}
  <span class="icon-Icons_Allergy01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'europe'%}
  <span class="icon-Icons_Europe01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'long_lasting'%}
  <span class="icon-long-lasting-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'quality'%}
	<span class="icon-Icons_Quality01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'our-engagement'%}
  <span class="icon-sustainability"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'our-team'%}
  <span class="icon-our-team"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'sustainability'%}
  <span class="icon-sustainability"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'handcrafted'%}
  <span class="icon-handcrafted"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'free-exchange'%}
  <span class="icon-free-exchange"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
{% endif %}

{% if block.settings.icons_duotone == 'different-weights'%}
  <span class="icon-different-weights"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
{% endif %}


<!-- For Section Settings -->

{% if section.settings.icons_duotone == 'all-rounder'%}
  <span class="icon-all-rounder"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'energy'%}
  <span class="icon-Icons_Energy01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'favorite'%}
  <span class="icon-favourite"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'cooling'%}
  <span class="icon-Icons_Cooling01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'concentration'%}
  <span class="icon-Icons_Concentration"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'stress'%}
  <span class="icon-Icons_Stress01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'sleep'%}
  <span class="icon-Icons_Sleep01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'anxiety'%}
  <span class="icon-Icons_Anxiety01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'autism'%}
  <span class="icon-Icons_Autism01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'add'%}
  <span class="icon-Icons_ADD01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'alzheimer'%}
  <span class="icon-Icons_Alzheimer01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'wellbeing'%}
  <span class="icon-Icons_WellBeing01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'sustainable'%}
  <span class="icon-Icons_Sustainable01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'vegan'%}
  <span class="icon-Icons_Vegan01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'cotton'%}
  <span class="icon-Icons_Cotton01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'allergy'%}
  <span class="icon-Icons_Allergy01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'europe'%}
  <span class="icon-Icons_Europe01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'long_lasting'%}
  <span class="icon-long-lasting-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'quality'%}
	<span class="icon-Icons_Quality01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'our-engagement'%}
  <span class="icon-our-engagement"><span class="path1"></span><span class="path2"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'our-team'%}
  <span class="icon-our-team"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'sustainability'%}
  <span class="icon-sustainability"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'handcrafted'%}
  <span class="icon-handcrafted"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'free-exchange'%}
  <span class="icon-free-exchange"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
{% endif %}

{% if section.settings.icons_duotone == 'different-weights'%}
  <span class="icon-different-weights"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
{% endif %}

{% comment %}
Add new icons to the schema framework in order a-z
				{
            	  "value": "none",
				  "label": "Select Icon"
                },
                {
                  "value": "anxiety",
                  "label": "Anxiety"
                },
                {
                  "value": "autism",
                  "label": "Autism"
                },
                {
                  "value": "add",
                  "label": "Add"
                },
                {
                  "value": "allergy",
                  "label": "Allergy"
                },
                {
                  "value": "alzheimer",
                  "label": "Alzheimer"
                },
                {
                  "value": "concentration",
                  "label": "Concentration"
                },
                {
                  "value": "cooling",
                  "label": "Cooling"
                },
                {
                  "value": "cotton",
                  "label": "Cotton"
                },
                {
                  "value": "different-weights",
                  "label": "Different Weights"
                },
				{
                  "value": "energy",
                  "label": "Energy"
                },
                {
                  "value": "europe",
                  "label": "Europe"
                },
                {
                  "value": "free-exchange",
                  "label": "Free Exchange"
                },
                {
                  "value": "handcrafted",
                  "label": "Handcrafted"
                },
                {
                  "value": "long_lasting",
                  "label": "Long_lasting"
                },
                {
                  "value": "our-engagement",
                  "label": "Our Engagement"
                },
                {
                  "value": "our-team",
                  "label": "Our Team"
                },
                {
                  "value": "quality",
                  "label": "Quality"
                },
                {
                  "value": "sleep",
                  "label": "Sleep"
                },
                {
                  "value": "stress",
                  "label": "Stress"
                },
                {
                  "value": "sustainable",
                  "label": "Sustainable"
                },
                {
                  "value": "sustainability",
                  "label": "Sustainability"
                },
                {
                  "value": "vegan",
                  "label": "Vegan"
                },
                {
                  "value": "wellbeing",
                  "label": "Wellbeing"
                }
{% endcomment %}