<div class="grey-rabat rabatt-code-page">
  <div class="tresc">
    <h2 class="Heading u-h2">Therapiedecken Angebot nicht verpassen!</h2>
    <p>Ihr 5€ Rabattcode:</p>
    <div class="white-rabat"><b>5-TD</b></div>
    <a href="https://therapiedecken.de/discount/5-TD?redirect=/pages/therapiedecken">
      <div class="Button Button--primary">JETZT EINLÖSEN</div>
    </a>
    <p style="margin-top: 10px;">Verfällt am <b>2.07.2022</b></p>

    <p>Durch das Klicken auf die Schaltfläche "JETZT EINLÖSEN" wird der Rabattcode automatisch zu Ihrem Warenkorb hinzugefügt und ist im Bestellprozess sichtbar.</p>
  </div>
</div>