<div class="grey-rabat rabatt-code-page">
  <div class="tresc">
    <h2 class="Heading u-h2">Jetzt sparen!</h2>
    <p>Erhalten Sie 10% Rabatt mit Code:</p>
    <div class="white-rabat"><b>DAK-10</b></div>
    <a href="https://therapiedecken.de/discount/5-TD?redirect=/pages/therapiedecken">
      <div class="Button Button--primary">JETZT EINLÖSEN</div>
    </a>
    <p style="margin-top: 10px;">Verfällt am <b>2.07.2022</b></p>

    <p>Wir fragen ggf. nach den letzten 4 Ziffern der Versicherungsnummer für Ihre Bestellung. Durch das Klicken der Schaltfläche “Jetzt Einlösen” wird der Rabattcode automatisch zu Ihrem Warenkorb hinzugefügt.</p>
  </div>
</div>