{% style %}

  .FeatureText__ImageWrapper.rabatt-code-page img {
    height: 25em;
    width: 38em;
  }
  
  .FeatureText__ContentWrapper.rabatt-code-page {
    background: #5b5b5b;
    color: white!important;
    padding: 10% 5%!important;
	}
  
  .FeatureText__ContentWrapper.rabatt-code-page h2 {
    color: white!important;
	}
  
  .grey-rabat.rabatt-code-page {
    width: 60%;
    margin: -10% auto 5%;
	}
  
  .overview-rabatt-code-page {
	display: flex;
    max-width: 1024px;
    margin: auto;
    flex-flow: wrap;
    justify-content: space-evenly;
	}
  
  .listing-rabatt-code-page {
    display: inline-block;
    background: #f1f1f1;
    margin: auto 5px;
    padding: 5%;
    width: 30%;
    margin-top: 5%;
    text-align: center;
	}
  
.listing-rabatt-code-page .Button--primary {
  	font-size: 10px!important;
    padding: 10px 15px;
  }
  
@media only screen and (max-width: 700px){  
  .grey-rabat.rabatt-code-page {
    width: 100%;
    margin: -40% auto 5%;
		}
  
    .listing-rabatt-code-page {
    width: 45%;
    min-height: 460px;
		}
  
  .FeatureText__ImageWrapper.rabatt-code-page img {
        height: 100%;
  		}
	}
  

{% endstyle %}

<div class="FeaturedHtmlImage-container">
  <div class="FeatureText FeatureText--withImage FeatureText--imageRight"><div class="FeatureText__ContentWrapper rabatt-code-page">

    <div class="FeatureText__Content"><h2>Jetzt mit Rabattcodes bei Therapiedecken sparen</h2><div class="SectionHeader__Description Rte">
      <p>Hier finden Sie aktuelle Rabattcodes für unsere Gewichtsdecken. Die Rabatte sind nur für limitierte Zeit verfügbar.</p>
      </div>
    </div>
    </div><div class="FeatureText__ImageWrapper rabatt-code-page"><img load="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Rabatt-LP-coupon-image-500x330.jpg?v=1633372461">

    </div></div>
</div>

<div class="grey-rabat rabatt-code-page">
  <div class="tresc">
    <h2 class="Heading u-h2">Jetzt sparen!</h2>
    <p>Erhalten Sie 10% Rabatt mit Code:</p>
    <div class="white-rabat"><b>DAK-10</b></div>
    <a href="https://therapiedecken.de/discount/5-TD?redirect=/pages/therapiedecken">
      <div class="Button Button--primary">JETZT EINLÖSEN</div>
    </a>
    <p style="margin-top: 10px;">Verfällt am <b>2.07.2022</b></p>

    <p>Wir fragen ggf. nach den letzten 4 Ziffern der Versicherungsnummer für Ihre Bestellung. Durch das Klicken der Schaltfläche “Jetzt Einlösen” wird der Rabattcode automatisch zu Ihrem Warenkorb hinzugefügt.</p>
  </div>
</div>