{% if collection.handle == 'erwachsene' %}
  <li class="HorizontalList__Item MoreOpt_Link">
    <a href="https://therapiedecken.de/collections/ersatzbezuge-fur-therapiedecken">
      <span class="MoreOpt_plusIcon icon-1"><span class="path1"></span><span class="path2"></span></span>
      <p class="MoreOpt_Label VariantValue--style">More Options</p>
    </a>
  </li>
{% endif %}