<script type="application/json" data-ajax-cart-initial-state >
    {{ cart | json }}
</script>

<script type="application/json" data-ajax-cart-configuration >
    {
      "addToCartCssClass": "js-my-cart-open"
    }
</script>

<script type="module">
  import '{{ "liquid-ajax-cart-v1.10.0.js" | asset_url }}';
  import { cartRequestAdd, cartRequestChange, subscribeToCartStateUpdate } from '{{ "liquid-ajax-cart-v1.10.0.js" | asset_url }}';
  
  async function addCartTotalDiscount(){
    console.log("cart state update");
    const discounts = await document.querySelectorAll(".MyCart_ItemDiscount");
    const totalCartWrapper = await document.querySelector("#myCart_totalCartWrapper");
    const discountsWrapper = await document.querySelector("#myCart_DiscountWrapper");
    if(discountsWrapper){
      discountsWrapper.remove();
    }
    if(discounts){
      await totalCartWrapper.insertAdjacentHTML("afterend", 
                                  `<div id="myCart_DiscountWrapper" class="myCart_totalCartWrapper">
                                      <p class="Heading u-h6">Ersparniss</p>
                                      <p id="MyCart_ItemDiscountTotal" class="Heading u-h4 myCart_p"></p>
                                    </div>`);
    }

    //
    var sum = 0;
    if (discounts){
      discounts.forEach(element => {
        var discount = element.innerText.replace("€", "").trim();
        sum = sum + parseFloat(discount.replace(".", "").replace(",", "."));
      });
      sum = Intl.NumberFormat("de-DE", {style: "currency", currency: "EUR"}).format(sum);
    }
    const totalDiscount = sum;
    const totalDiscountElement = document.querySelector("#MyCart_ItemDiscountTotal");
    if(totalDiscountElement){
      totalDiscountElement.innerText = totalDiscount;    
    }
  }
  
  addCartTotalDiscount();
  
  subscribeToCartStateUpdate(state => {
    addCartTotalDiscount()
  });
</script>

<script>
  function overlayToggle() {
    document.querySelector("#myCart_Overlay").classList.toggle("hide_sideCart");
  }
</script>
