{% if cart.item_count > 0 %}
  {% assign total_price_number = cart.total_price | plus: 0 %}
  
  <div class="MyCart_MessageContainer">
    {% if settings.cart_countdown_enable %}
      <div id="MyCart_Countdown" {% if total_price_number < 10000 %}style="border-bottom: 1px solid lightgray"{% endif %}></div>
    {% endif %}
    {% if total_price_number < 10000 %}
      {% assign add_for_free_shipping = 10000 | minus: total_price_number %}
      <div class="MyCart_Message">
        Nur noch 
        <span class="MyCart_HighlightedText">
          {{ add_for_free_shipping | money_with_currency }}
        </span> 
        für gratis Versand!  
      </div>
    {% endif %}
  </div>
{% endif %}