{% if option.name=="Gewicht" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Das Deckengewicht sollte ungefähr 10% des Körpergewichtes ausmachen.</p></div>
{% elsif option.name=="Bezugsart" and product.title contains "Basic Gravity" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Die Gravity Therapiedecke mit Schlaufen zur Befestigung.</p></div>
{% elsif option.name=="Bezugsart" and product.title contains "Standard Gravity" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Die Standard Gravity Therapiedecke mit Schlaufen zur Befestigung.</p></div>
{% elsif option.name=="Bezugsart" and product.title contains "Balance" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Die Premium Balance Therapiedecke mit Reißverschlüssen als Befestigung.</p></div>
{% elsif option.name=="Bezugssystem" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Bitte wählen Sie das Therapiedecken Modell, das Sie besitzen. Handelsübliche Bezüge eignen sich nicht für Therapiedecken.</p></div>
{% elsif option.name=="Druck" %}
	<div class="info-title-div"><p><span class="icon-information-outline"></span> Beim Komplettdruck wird Ihr Tierfoto komplett auf die Vorderseite des Bezuges gedruckt. Beim Kopfdruck verwenden wir nur den Kopf des Tieres. Die Farbe der Rückseite bzw. der restlichen Vorderseite des Bezugs können Sie unten auswählen.</p></div>
{% endif %}