{{ 'pet-printed-blanket.css' | asset_url | stylesheet_tag }}

<div id="PetPrint_MainContainer">
  <h2 class="Heading u-h1">Wie funktioniert's?</h2>
  <div id="PetPrint_ColumnsContainer">
    <div class="PetPrint_steps_wr">
      <div><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_1_1.jpg?v=1642684250" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1"></div>

      <div class="icon-40"><span class="icon-1"><span class="path1"></span><span class="path2"></span></span></div>
      <h3 class="Heading u-h2 top10" style="margin-bottom:0">Wählen Sie Ihr Lieblings Pyjama Design aus</h3>

    </div>
    <div class="PetPrint_steps_wr">
      <div><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_2_1_1.jpg?v=1642684250" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step2"></div>

      <div class="icon-40"><span class="icon-2"><span class="path1"></span><span class="path2"></span></span></div>
      <h3 class="Heading u-h2 top10" style="margin-bottom:0">Läden Sie ein Foto Ihres Hundes hoch, wo das Gesicht besonderes gut zu sehen ist</h3>

    </div>
    <div class="PetPrint_steps_wr">
      <div><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_-_Gravity_Product_Page_Updates_Personalized_Pet_Prints_LP_3_1_1.jpg?v=1642684250" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step3"></div>
      <div class="icon-40"><span class="icon-3"><span class="path1"></span><span class="path2"></span></span></div>
      <h3 class="Heading u-h2 top10" style="margin-bottom:0">Das wars! <br> Wir machenden Rest</h3>
    </div>
  </div>
</div>