{{ 'pet-printed-blanket.css' | asset_url | stylesheet_tag }}

<div id="PetPrint_MainContainer">
  <div class="PetPrint_steps_wr">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Personalized_Pet_Prints_LP_1.jpg?v=1642415591" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1">

    <div><span class="icon-one"><span class="path1"></span><span class="path2"></span></span></div>
    <h2 class="h4">Title here</h2>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 

  </div>
  <div class="PetPrint_steps_wr">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Personalized_Pet_Prints_LP_1.jpg?v=1642415591" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1">
    <div>
      <span class="icon-one"><span class="path1"></span><span class="path2"></span></span>
      <h2 class="h4"></h2>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
    </div>
  </div>
    <div class="PetPrint_steps_wr">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Personalized_Pet_Prints_LP_1.jpg?v=1642415591" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1">
    <div>
      <span class="icon-one"><span class="path1"></span><span class="path2"></span></span>
      <h2 class="h4"></h2>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna 
    </div>
  </div>
</div>