<div>
  <div class="PetPrint_steps_wr">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Personalized_Pet_Prints_LP_1.jpg?v=1642415591" alt="Standard_Gravity_Gewichtsdecke_mit_personalisierten_Hunde_&_Katzen_Motiv_step1">
  </div>
  
</div>