<!-- product-promotional-badge.liquid -->
{{ 'badges.css' | asset_url | stylesheet_tag }}

{% if settings.enable_product_badge %}
	{% if product.title == 'PREMIUM Balance Gewichtsdecke für Erwachsene'
      or product.title == 'Standard Gravity Gewichtsdecke für Erwachsene'
      or product.title == 'Basic Gravity Gewichtsdecke für Erwachsene'
      or product.title == 'Medizinische Gewichtsdecke für Erwachsene'
      or product.title == 'Premium Balance Gewichtsdecke für Kinder'
      or product.title == 'Standard Gravity Gewichtsdecke für Kinder'
      or product.title == 'Medizinische Gewichtsdecke für Kinder'
      or product.title == 'Set: Premium Balance Gewichtsdecke für Erwachsene'
      or product.title == 'Set: Standard Gravity Gewichtsdecke für Erwachsene'
      %}
		<div class="ProductBadge_Wrapper">
          <div class="Prod_SmallBadge">Gratis Kissen</div>
          <div class="Prod_ImgSmallBadge"><img class="Prod_ImgSize-SmallBadge Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Free_pillow.png?v=1643632039" alt="Valentines_badge" /></div>
        </div>
  	{% endif %}
{% endif %}