<!-- product-promotional-badge.liquid -->

{% if settings.enable_product_badge %}
  {{ 'badges.css' | asset_url | stylesheet_tag }}

  {% if product.handle == 'therapiedecken' %}

    <div class="ProductBadge_Wrapper">
      <div class="Prod_SmallBadge">Gratis</div>
      <div class="Prod_ImgSmallBadge"><img class="Prod_ImgSize-SmallBadge Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/neutral_badge_fae5813b-a203-47d0-b31d-57137afc8456.svg?v=1655918503" alt="warm and cold weather badge" /></div>
    </div>
  {% endif %}
{% endif %}