<!-- product-promotional-badge.liquid -->

{% if settings.enable_product_badge %}
  {{ 'badges.css' | asset_url | stylesheet_tag }}

  {% if product.handle == 'therapiedecken' %}

    <div class="ProductBadge_Wrapper">
      <div class="Prod_SmallBadge">Gratis</div>
      <div class="Prod_ImgSmallBadge">
        <img class="Prod_ImgSize-SmallBadge Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_Sumer_Promotion_2022_Badge.svg?v=1656679388" alt="New Summer 20 euros discount badge" />
      </div>
    </div>
  {% endif %}
{% endif %}