<!-- product-promotional-badge.liquid -->

{% if settings.enable_product_badge %}
  {{ 'badges.css' | asset_url | stylesheet_tag }}

  {% if product.handle == 'therapiedecken' %}

    <div class="ProductBadge_Wrapper">
      <div class="Prod_SmallBadge">Gratis</div>
      <div class="Prod_ImgSmallBadge"><img class="Prod_ImgSize-SmallBadge Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_Summer_Cooling_art_png.png?v=1654588702" alt="Summer Cooling's day badge" /></div>
    </div>
  {% endif %}
{% endif %}