<!-- product-promotional-badge.liquid -->

{% if settings.enable_product_badge %}
  {{ 'badges.css' | asset_url | stylesheet_tag }}

  {% if product.handle == 'therapiedecken'
  		or product.handle == 'balance-gewichtsdecke-fur-erwachsene'
		or product.handle == 'basic-gravity-gewichtsdecke-fur-erwachsene' %}

    <div class="ProductBadge_Wrapper">
      {% comment %}<div class="Prod_SmallBadge">Gratis</div>{% endcomment %}
      <div class="Prod_ImgSmallBadge">
        <img class="Prod_ImgSize-SmallBadge" src="https://cdn.shopify.com/s/files/1/2451/6611/files/TD_Sumer_Promotion_2022_Badge.svg?v=1656941226" alt="New Summer 20 euros discount badge" />
      </div>
    </div>
  {% endif %}
{% endif %}