<!-- product-promotional-badge.liquid -->

{% if settings.enable_product_badge %}
  {{ 'promotional-badges.css' | asset_url | stylesheet_tag }}
  {% if product.handle == 'therapiedecken'
  		or product.handle == 'balance-gewichtsdecke-fur-erwachsene' %}
    <div class="ProductBadge_Wrapper">
      {% comment %}<div class="Prod_SmallBadge">Gratis</div>{% endcomment %}
      <div class="Prod_ImgSmallBadge">
        <img class="Prod_ImgSize-SmallBadge" 
             src="{{ settings.promo_badge }}" 
             alt="Product promotional badge" />
      </div>
    </div>
  {% endif %}
{% endif %}