{% style %}
    .rightBlanket_container{
        display: flex;
        justify-content: center;
    }
{% endstyle %}

<div class="rightBlanket_container">
    <p> Which blanket is right for you <span> </span></p>
</div>