<div class="rightBlanket_container">
    <a class="rightBlanket_linkContent" href="/pages/therapiedecken-vergleich">
        <p class="Heading u-h3"> Welche Gewichtsdecke ist die richtige für mich? 
            <span class="rightBlanket_button hidden-phone Button Button--primary">Zum Quiz</span>
            <span class="rightBlanket_button hidden-tablet-and-up"><span class="icon-arrow-right-button"></span></span>
        </p>
    </a>
</div>