{% style %}
    .rightBlanket_container{
        display: inline-flex;
        justify-content: center;
    }
{% endstyle %}

<div class="rightBlanket_container">
    <p> Which blanket is right for you </p>
    <a href="/products/balance-gewichtsdecke-fur-erwachsene" class="Button Button--primary">Mehr Erfahren</a>
</div>