{% style %}
    .rightBlanket_container{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #3a3c3c;
        color: white;
        padding: 10px 0;
    }
{% endstyle %}

<div class="rightBlanket_container">
    <p class="Heading u-h3" style="margin-bottom: 0; padding: 0 20px;"> Which blanket is right for you </p>
    <a href="/products/balance-gewichtsdecke-fur-erwachsene" class="Button Button--primary">Mehr Erfahren</a>
</div>