{% for variant in product.variants %}
  {% if variant.metafields.bgd.availability %}
    {% if variant.id == product.selected_or_first_available_variant.id %}
    {% assign shipping_class = "twtd-shipping-time" %}
    {% endif %}
    <div data-variant-id="{{variant.id}}" class="{{ shipping_class }}">
      {{ variant.td_field.cooling_measurement }}

    </div>
  {% endif %}
{% endfor %}