<style>
  .slider-quote-logos-container{
    margin-top: 50px;
  }
  .reviews-info-icon{
	font-size: 11px;
  }
  .slider-quote-logos-container .owl-carousel {
      width: 800px;
      margin: 0 auto;
  }
  .slider-quote-logos-container .owl-nav{
    text-align: center;
  }
  .slider-quote-logos-container .owl-carousel .owl-nav button.owl-prev,
  .slider-quote-logos-container .owl-carousel .owl-nav button.owl-next{
      width: 35px;
      height: 35px;
      background: #e9e9e9;
      line-height: 0px;
      text-align: center;
      border-radius: 50%;
      margin: 0 10px;
  }

  .slider-quote-logos-container .owl-nav button span{
      font-size: 28px;
      vertical-align: super;
      line-height: 8px;
  }
  .slider-quote-logos-container .owl-item>div {
      cursor: pointer;
      transition: margin 0.4s ease;
      width: 200px;
      height: auto;
      margin: 0 auto;
  }
  .slider-quote-logos-container .owl-item>div img {
      width: 100%;
      height: auto;
  }
  .slider-quote-logos-container .owl-item.center>div {
      cursor: auto;
      margin: 0;
  }
  .slider-quote-logos-container .owl-dots {
      display: none;
  }
  .slider-quote-logos-container .owl-item.center .image_review {
      opacity: 1!important;
  }
  .slider-quote-logos-container .owl-item .image_review {
      margin: 0 auto;
      opacity: 0.2!important;
  }
  .slider-quote-logos-container .owl-carousel .owl-item img{
      width: 80%;
      height: 105px;
      object-fit: contain;
      cursor: pointer;
  }
  .slider-quote-logos-quote-wrapper{
      font-size: 24px;
      margin: auto;
      text-align: center;
      font-style: italic;
      padding: 0 30px;
  }
  .text_review{
      max-width: 600px;
  }
  @media (min-width: 1024px){
  	.slider-quote-logos-container .owl-carousel .owl-stage-outer {
      min-height: 180px;
  	}
  }
  @media (max-width: 959px){
    .slider-quote-logos-container .owl-item>div{
      width: 190px;
    }
    .slider-quote-logos-container .owl-carousel{
      width: inherit;
      margin-bottom: 40px;
    }
  }

  @media(max-width: 640px) {
    .slider-quote-logos-container .owl-carousel .owl-stage-outer {
      min-height: 130px;
    }
    .slider-quote-logos-quote-wrapper{
      font-size: 20px;
  	}
  }
</style>
<div class="slider-quote-logos-container">
  	<p class="slider-quote-logos-quote-wrapper">
      <span class="icon-left-quote reviews-info-icon" ></span>  
      <span class="text_review" style="text-align: center;" data="clicked">
        Gute Nacht war nie so einfach.
      </span>
      <span class="icon-right-quote reviews-info-icon"></span>
  	</p>
    <div class="owl-carousel">
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/2000px-Suddeutsche_Zeitung_Logo.svg_900ae289-b7f0-4bfe-9829-0cce36abc783.png?v=1613171883" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/barbara_logo.jpg?v=1658232361" alt="">
        </div>
      	<div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Galileo-Gewichtsdecke-Gravity-Logo.png?v=1613171883" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/taff.png?v=1613987157" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/bild.png?v=1613623827" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/gesundheit.png?v=1617860912" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Schlafzimmer-Logo-BLAU-1.jpg?v=1641213152" alt="">
        </div>
        <div>
            <img class="image_review" src="https://cdn.shopify.com/s/files/1/2451/6611/files/gofeminin_logo.png?v=1658232361" alt="">
        </div>
    </div>
</div>


<script>
  
  var $owl = $('.slider-quote-logos-container .owl-carousel');

  $owl.children().each(function (index) {
      $(this).attr('data-position', index);
      console.log(index);
  });

  $owl.owlCarousel({
      center: true,
      loop: true,
      items: 5,
      autoWidth:true,
      responsive:{
          0:{
              items:2,
              nav:true
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
      }
  });


  $(document).on('click', '.slider-quote-logos-container .owl-item>div', function () {
      var $speed = 300;
      $owl.trigger('to.owl.carousel', [$(this).data('position'), $speed]);
  });  

  $owl.on('changed.owl.carousel', function (e) {
      switch (e.page.index) {
          case 0:
              $('.text_review').html('Gute Nacht war nie so einfach.');
              break;
          case 1:
              $('.text_review').html('Es ist tatsächlich ein bisschen ähnlich, wie umarmt zu werden.');
              break;
          case 2:
              $('.text_review').html('Echt einen Versuch wert.');
              break;
          case 3:
              $('.text_review').html('Maximale Entspannung garantiert!');
              break;
          case 4:
              $('.text_review').html('Entspannt nach einem stressigen Arbeitstag.');
              break;
          case 5:
              $('.text_review').html('Die Decke, die Ihren Schlaf revolutionieren wird.');
              break;
          case 6:
              $('.text_review').html('Gesünder und schneller einschlafen dank Therapiedecken.');
              break;
          case 7:
              $('.text_review').html('Gesunder und erholsamer Schlaf ist einfach unbezahlbar.');
              break;
          
      }
  });

</script>