<!-- section: slider-product-page -->
<div class="grid-general-product">

    <!--  Slider 2021 - Balance Therapiedecke snnipet:slider_balance -->
    {% comment %} Yurith {% endcomment %}
    <div id="slider21-cont">
  
      {% comment %} Slide 1 (bg img1) {% endcomment %}
      <div id="slider21-1" class="slides21">
        <div class="slider21-text">
          <div class="slider21-icons">
            <span class="icon-winner product-page"></span>
          </div>
          <h3 class="text21-inside">Der Therapiedecken Alleskönner</h3>
          <hr class="slide21-line" />
          <p class="text21-inside">
            Die Premium Balance Gewichtsdecke hat eine optimale Gewichtsverteilung,
            da feine, rostfreie Edelstahlkügelchen in das Innere des Premium Inletts
            geklebt werden. Durch das Reißverschlusssystem können die Bezüge schnell
            und einfach gewechselt werden. Die stabile, feste Therapiedecke hält
            Bewegungen ideal stand und verrutscht nicht.
          </p>
        </div>
      </div>
  
      {% comment %} Slide 2 (bg img2) {% endcomment %}
      <div id="slider21-2" class="slides21" style="display: flex !important;">
        <div class="slider21-text">
          <div class="slider21-icons">
            <span class="icon-leaf"></span>
            <span class="icon-sun"></span>
            <span class="icon-icon-leaf"></span>
            <span class="icon-snowflake-o"></span>
          </div>
          <h3 class="text21-inside slide21-bal-title">
            Therapiedecken Bezüge Ideal für 365 Tage im Jahr
          </h3>
          <hr class="slide21-line" />
          <p class="text21-inside">
            Die 4-Jahreszeiten Bezüge der Balance Therapiedecke sind ideal für
            das gesamte Jahr!
          </p>
        </div>
      </div>
  
      {% comment %} buttons {% endcomment %}
      <div class="btn-left-cont">
        <button class="slider21-btn-left" onclick="plusDivs(-1)">
          &#10094;
        </button>
      </div>
      <div class="btn-right-cont">
        <button class="slider21-btn-right" onclick="plusDivs(1)">
          &#10095;
        </button>
      </div>
    </div>
  </div>