<style>
  .OwlScript_li{
    list-style: none;
  }
  .OwlScript_li .icon-one .path2:before{
    margin-left: -30px;
  }
  .OwlScript_li > span{
    position: relative;
    left: -30px;
    margin-right: -24px;
    top: 6px;
    font-size: 20px;
  }
  .mobile-ol{
    display: none;
    max-width: 350px;
    margin: auto;
  }
  .mobile-ol .item > span{
    font-size: 35px;
    display: block;
    padding: 5px 0 10px;
  }
  .mobile-ol .owl-dots button{
    width: 15px;
    height: 15px;
    background: #d6d6d6;
    border-radius: 50px;
    margin: 0 8px;
  }
  .mobile-ol .owl-dots button.active{
    background: #fac636;
  }

  @media only screen and (max-width: 640px){
    .mobile-ol{
      display: block;
    }
    .desktop-ol{
      display: none;
    }
  }
</style>

<div class="desktop-ol">
   <ol>
      <li class="OwlScript_li">
        <span class="icon-one-1"><span class="path1"></span><span class="path2"></span></span>
        Abnehmbarer Basic Bezug aus Polyester und Baumwolle
      </li>
      <li class="OwlScript_li">
         <span class="icon-two"><span class="path1"></span><span class="path2"></span></span>
         Gravity Gewichtsdecke (Inlett)
         Das Gravity Inlett besteht aus 100% organischer Baumwolle.
         Füllung
      </li>
      <li class="OwlScript_li">
         <span class="icon-three"><span class="path1"></span><span class="path2"></span></span>
         Die Füllung ist aus 32% Polyester und 68% Baumwolle
      </li>
      <li class="OwlScript_li">
         <span class="icon-four"><span class="path1"></span><span class="path2"></span></span>
         In der Füllung befinden sich in kleinen Kammern hochwertige, sandfeine Glasperlen, die der Decke das nötige Gewicht geben.
      </li>
   </ol>
</div>


<div class="mobile-ol">
   <div class="OwlCarousel_TextWithImage owl-carousel owl-theme">
	   <div class="item">
	     <span class="icon-one"><span class="path1"></span><span class="path2"></span></span>
         Abnehmbarer Basic Bezug aus Polyester und Baumwolle
	   </div>
	   <div class="item">
	      <span class="icon-two"><span class="path1"></span><span class="path2"></span></span>
	      Gravity Gewichtsdecke (Inlett)
          Das Gravity Inlett besteht aus 100% organischer Baumwolle.
          Füllung
	   </div>
	   <div class="item">
	      <span class="icon-three"><span class="path1"></span><span class="path2"></span></span>
	      Die Füllung ist aus 32% Polyester und 68% Baumwolle
	   </div>
	   <div class="item">
	      <span class="icon-four"><span class="path1"></span><span class="path2"></span></span>
	      In der Füllung befinden sich in kleinen Kammern hochwertige, sandfeine Glasperlen, die der Decke das nötige Gewicht geben.
	   </div>
	</div>
</div>


<script>
   $('.OwlCarousel_TextWithImage').owlCarousel({
    items:1,
           loop:true,
           margin:30,
           nav:false,
    dots:true
   })
</script>