<form method="post" action="/cart/add">
  <select name="id">
    <option value="39684136599691">suggested product</option>
  </select>
  <button type="submit">add to cart</button>
</form>

{% for product in all_products %}
		{{ product.title | json }}
{% endfor %}

{{ product.title }}

{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

{{ suggested_product.title }}

<div>
  Testing:
  <b>{{ collection | json }}</b>
  
</div>