<form method="post" action="/cart/add">
  <select name="id">
    <option value="39684136599691">suggested product</option>
  </select>
  <button type="submit">add to cart</button>
</form>


{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

<br>
<br>

{% for collection in product.collections %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
{% endfor %}

<img class="Image--lazyLoad" data-src="{{ product.featured_image }}">

{% for collection in collections %}
  {% if collection.title == 'Therapiekissen' %}
  	{% for product in collection.products %}
		{% if product.title contains 'Weiß Magische Dinge' %}
			<img src="{{ product.featured_image }}">
		{% endif %}
	{% endfor %}
  {% endif %}

{% endfor %}