<form method="post" action="/cart/add">
  <select name="id">
    <option value="39684136599691">suggested product</option>
  </select>
  <button type="submit">add to cart</button>
</form>

{% for product in all_products %}
		{{ product.title | json }}
{% endfor %}


{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

<br>
<br>

<div>
  Testing:
    <br>
  	<br>
{% for collection in product.collections %}
	{% for product in collection.products %}
		{% if product.title contains 'Weiß Magische Dinge' %}
  			{{ product.title }}
        {% endif %}
  	{% endfor %}
    <br>
  	<br>
{% endfor %}

{% for collection in product.collections %}
{% assign mainCollectionCovers = collection %}
    <br>
  	<br>
  <script type="text/javascript">
    window.mainCollectionCovers = {{ collection | json }};
  </script>
{% endfor %}
  
  </div>

  <script type="text/javascript">
    window.mainProductCoversTitle = {{ product.title | json }};
  </script>