{{ 'suggested_upsell_product.css' | asset_url | stylesheet_tag }}


{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

<br>
<br>

{% for collection in product.collections %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
{% endfor %}

{% for collection in collections %}
  {% if collection.title == 'Therapiekissen' %}
  	{% for product in collection.products %}
		{% if product.title contains 'Weiß Magische Dinge' %}
			{%- assign image_url = product.featured_image | image_url: width: 300 -%}
			<form class="SuggestedUpProd_ContentWr" method="post" action="/cart/add">
              <input type="hidden" name="id" value="39684136599691">
              <a><img class="SuggestedUpProd_imageWr Image--lazyLoad" data-src="{{ image_url }}"></a>
              <div class="SuggestedUpProd_infoWr">
                <a><h2>{{ product.title }}</h2></a>
                <p></p>
              	<button class="SuggestedUpProd_buttonWr Button Button--primary" type="submit">Add to cart</button>
              </div>
			</form>
		{% endif %}
	{% endfor %}
  {% endif %}

{% endfor %}