<div>
  <div>
    Product here
  </div>
  <div>
    Info of Product here
  </div>
  <div>
    <button type="submit" data-use-primary-button="true" class="ProductForm__AddToCart Button Button--primary Button--full" data-action="add-to-cart">
      <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>

      
    </button>
  </div>
</div>