{{ 'suggested_upsell_product.css' }}
<form method="post" action="/cart/add">
  <select name="id">
    <option value="39684136599691">suggested product</option>
  </select>
  <button type="submit">add to cart</button>
</form>


{% assign suggested_product = all_products['gesundheitskissen-sternenzauber'] %}

<br>
<br>

{% for collection in product.collections %}
    <script type="text/javascript">
      window.mainCollectionCoversProducts = {{ collection.products | json }};
    </script>
{% endfor %}

{% for collection in collections %}
  {% if collection.title == 'Therapiekissen' %}
  	{% for product in collection.products %}
		{% if product.title contains 'Weiß Magische Dinge' %}
			{%- assign image_url = product.featured_image | image_url: width: 300 -%}
			<div>
              <div class="SuggestedUpProd_imageWr"><img class="Image--lazyLoad" data-src="{{ image_url }}"></div>
              <div class="SuggestedUpProd_infoWr"><b>{{ product.title }}</b></div>
              <div class="SuggestedUpProd_buttonWr"></div>
			</div>
		{% endif %}
	{% endfor %}
  {% endif %}

{% endfor %}