<form method="post" action="/cart/add">
  <select name="id">
    <option value="39684136599691">suggested product</option>
  </select>
  <button type="submit">add to cart</button>
</form>

{% for product in product.options %}
	{% if product.title contains 'Weiß Magische Dinge' %}
		{{ product.title }}
    {% endif %}
{% endfor %}