<style>
  .cta-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
  }
  .cta-wrapper h3{
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    margin: 0 0 18px;
    text-align: left;
  }
  .cta-wrapper p{
    margin: 0 0 14px;
  }
  .cta-wrapper a{
    margin-top: 25px;
    width: 100%!important;
    padding: 15px;
  }
  .cta-wrapper .cta-image{
    height: 100%;
  }
  .cta-wrapper img{
    height: 100%;
    object-fit: cover;
  }
  .cta-wrapper .cta-content{
    background: #5b5b5b;
    padding: 30px;
    color: #fff;
  }
  ul.cta-bullets li {
    list-style: none;
  }
  ul.cta-bullets li:before {
    font-family: FontAwesome;
    content: '\f00c';
    margin: 0 5px 0 -15px;
    color: #fac636;
  }
  @media only screen and (max-width: 767px){
    .cta-wrapper{
      display: block;
    }
    .cta-wrapper .cta-image {
      height: 150px;
      width: 100%;
    }
    .cta-wrapper img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .cta-wrapper .cta-content{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
</style>
{% if message_type == 'adults_kids' %}
  <div class="cta-wrapper">
    <div class="cta-image">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/158A6497-570x380.jpg?v=1662987474" loading="lazy">
    </div>
    <div class="cta-content">
      <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
      <p>Die bis zu 12 kg schweren Gewichtsdecken helfen Erwachsenen oder Kindern bei Schlafproblemen, Stress, Angstattacken, Autismus, ADHS und mehr! Testen Sie oder Ihr Kind eine Therapiedecke für 100 Tage.</p>
      <ul class="cta-bullets">
          <li>Kostenloser Versand</li>
          <li>Gratis Umtausch</li>
          <li>100 Tage Probeschlafen</li>
          <li>100% Geld-Zurück-Garantie</li>
      </ul>
      <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
    </div>
  </div>
<!--<div class="wirkung-container">
    <h3 class="wirkung-container-title">Jetzt 100 Tage Probeschlafen!</h3>
    <div class="wirkung-container-subcontent">
        <p>Die bis zu 12 kg schweren Gewichtsdecken helfen Erwachsenen oder Kindern bei Schlafproblemen, Stress,
            Angstattacken, Autismus, ADHS und mehr! Testen Sie oder Ihr Kind eine Therapiedecke für 100 Tage.</p>
    </div>
    <div class="wirkung-container-thumb">
        <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecke_Therapiedecke_28_Tage_Probeschlafen_Kinder_Erwachsene_Schlafprobleme.png?v=1581519163"
            class="responsive-wirkung" loading="lazy" />
    </div>
    <div class="wirkung-container-content">
        <ul class="wirkung-bullets">
            <li>Kostenloser Versand</li>
            <li>Gratis Umtausch</li>
            <li>100 Tage Probeschlafen</li>
            <li>100% Geld-Zurück-Garantie</li>
        </ul>
    </div>
    <a style="margin-top:25px;" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"
        class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
</div>-->
{% endif %}

{% if message_type == 'kids' %}
  <div class="cta-wrapper">
    <div class="cta-image">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/158A6497-570x380.jpg?v=1662987474" loading="lazy">
    </div>
    <div class="cta-content">
      <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
      <p>Lassen Sie Ihr Kind jetzt eine Therapiedecke für 100 Tage testen.</p>
      <ul class="cta-bullets">
          <li>Kostenloser Versand</li>
          <li>Gratis Umtausch</li>
          <li>100 Tage Probeschlafen</li>
          <li>100% Geld-Zurück-Garantie</li>
      </ul>
      <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
    </div>
  </div>
  
<!--<div class="wirkung-container">
    <h3 class="wirkung-container-title">Jetzt 100 Tage Probeschlafen!</h3>
    <div class="wirkung-container-subcontent">
        <p>Lassen Sie Ihr Kind jetzt eine Therapiedecke für 100 Tage testen.</p>
    </div>
    <div class="wirkung-container-thumb">
        <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecke_Therapiedecke_28_Tage_Probeschlafen_Kinder_Schlafprobleme.png?v=1581530911"
            class="responsive-wirkung" loading="lazy" />
    </div>
    <div class="wirkung-container-content">
        <ul class="wirkung-bullets">
            <li>Kostenloser Versand</li>
            <li>Gratis Umtausch</li>
            <li>100 Tage Probeschlafen</li>
            <li>100% Geld-Zurück-Garantie</li>
        </ul>
    </div>
    <a style="margin-top:25px;" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"
        class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
</div>-->
{% endif %}

{% if message_type == 'general' %}
<div class="cta-wrapper">
  <div class="cta-image">
    <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/158A6497-570x380.jpg?v=1662987474" loading="lazy">
  </div>
  <div class="cta-content">
    <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
    <p>Testen Sie jetzt für 100 Tage eine Gewichtsdecke Ihrer Wahl!</p>
    <ul class="cta-bullets">
        <li>Kostenloser Versand</li>
        <li>Gratis Umtausch</li>
        <li>100 Tage Probeschlafen</li>
        <li>100% Geld-Zurück-Garantie</li>
    </ul>
    <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
  </div>
</div>
  
<!--<div class="wirkung-container">
    <h3 class="wirkung-container-title Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
    <div class="wirkung-container-subcontent">
        <p>Testen Sie jetzt für 100 Tage eine Gewichtsdecke Ihrer Wahl!</p>
    </div>
    <div class="wirkung-container-thumb">
        <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecke_Therapiedecke_28_Tage_Probeschlafen_Kinder_Erwachsene_Schlafprobleme.png?v=1581519163"
            class="responsive-wirkung" />
    </div>
    <div class="wirkung-container-content">
        <ul class="wirkung-bullets">
            <li>Kostenloser Versand</li>
            <li>Gratis Umtausch</li>
            <li>100 Tage Probeschlafen</li>
            <li>100% Geld-Zurück-Garantie</li>
        </ul>
    </div>
    <a style="margin-top:25px;" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"
        class="Button Button--primary button-wirkung"><span>Jetzt 100 Tage Probeschlafen!</span></a>
</div>-->
{% endif %}