{% if message_type == 'adults_kids' %}
  <div class="cta-wrapper">
    <div class="cta-image">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/158A6497-570x380.jpg?v=1662987474" loading="lazy">
    </div>
    <div class="cta-content">
      <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
      <p>Die bis zu 12 kg schweren Gewichtsdecken helfen Erwachsenen oder Kindern bei Schlafproblemen, Stress, Angstattacken, Autismus, ADHS und mehr! Testen Sie oder Ihr Kind eine Therapiedecke für 100 Tage.</p>
      <ul class="cta-bullets">
          <li>Kostenloser Versand</li>
          <li>Gratis Umtausch</li>
          <li>100 Tage Probeschlafen</li>
          <li>100% Geld-Zurück-Garantie</li>
      </ul>
      <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
    </div>
  </div>
{% endif %}

{% if message_type == 'kids' %}
  <div class="cta-wrapper">
    <div class="cta-image">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/CTA-KIDS-570x380.jpg?v=1662995818" loading="lazy">
    </div>
    <div class="cta-content">
      <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
      <p>Lassen Sie Ihr Kind jetzt eine Therapiedecke für 100 Tage testen.</p>
      <ul class="cta-bullets">
          <li>Kostenloser Versand</li>
          <li>Gratis Umtausch</li>
          <li>100 Tage Probeschlafen</li>
          <li>100% Geld-Zurück-Garantie</li>
      </ul>
      <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
    </div>
  </div>
{% endif %}

{% if message_type == 'general' %}
<div class="cta-wrapper">
  <div class="cta-image">
    <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/158A6497-570x380.jpg?v=1662987474" loading="lazy">
  </div>
  <div class="cta-content">
    <h3 class="Heading u-h3">Jetzt 100 Tage Probeschlafen!</h3>
    <p>Testen Sie jetzt für 100 Tage eine Gewichtsdecke Ihrer Wahl!</p>
    <ul class="cta-bullets">
        <li>Kostenloser Versand</li>
        <li>Gratis Umtausch</li>
        <li>100 Tage Probeschlafen</li>
        <li>100% Geld-Zurück-Garantie</li>
    </ul>
    <a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Zu den Therapiedecken</span></a>
  </div>
</div>
{% endif %}