{{ 'icons-text.css' | asset_url | stylesheet_tag }}

<div class="Container Container--extraNarrow upp-to-title section-space-medium icons-text-section" style="margin: auto;">
    <h2 class="SectionHeader__Heading Heading u-h1">Therapiedecken hergestellt in Europa</h2>
    <p> Unsere Therapiedecken werden in eigener Herstellung handgefertigt. Die verwendete Baumwolle stammt aus organischem Anbau verschiedener Baumwollplantagen in Spanien. Die Gewichtsdecken, die mit Glasperlen oder Edelstahlkügelchen gefüllt werden, sind hochwertig verarbeitet, wodurch ein langlebiges, wohltuendes Produkt für jede Nacht entsteht.</p>
    <p>


    </p>
<div id="icons21_wrapper">
        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Cotton01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
            <div>Organische Baumwolle</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Europe01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
            <div>Handgefertigt in Europa</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Sustainable01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
            <div>Nachhaltige Herstellung</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Vegan01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></span>
            <div>100% Vegan</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Allergy01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span></span>
            <div>Antiallergisch</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Quality01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
            <div>Hochwertige Verarbeitung</div>
        </div>
    </div>


    <div class="spacer_small"></div>
    <a href="/pages/herstellung" class="Button Button--primary">
        Mehr erfahren
    </a>

</div>