<div>
  <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainWhiteWithoutSubText_200x.png?v=1628264278">
  <img src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/FinalLogoMainWhiteWithoutText_160x.png?v=1632493172">
</div>