<style>
  .website-tab{
  	display: block;
    position: relative;
    width: auto;
    height: 60px;
  }
  .website-tab img{
  	width: auto;
    height: 100%;
  }
</style>
<div class="Container--standard--medium">
  <div class="website-tab">
  	<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainBlackWithoutSubText_4186d8fc-26ba-4c03-b4ba-ed773fe7d6ed.png?v=1646748231">
  </div>
  <div class="website-tab">
  	<a href="https://therapiewelt.de/">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainBlackWithoutText.png?v=1646748231">
    </a>
  </div>
</div>