<style>
  .website-tab{
  	background: #ebebeb;
  }
  .website-tab-img{
  	display: inline-block;
    position: relative;
    width: auto;
    height: 40px;
  }
  .website-tab-img img{
  	width: auto;
    height: 100%;
    padding: 10px 15px;
  }
  .website-tab-img.active{
  	background: #fff;
  }
  .website-tab-img.inactive{
    margin-left: -4px;
  	background: #6e6e6e;
    -webkit-box-shadow: inset 11px -11px 17px -13px #151515; 
    box-shadow: inset 11px -11px 17px -13px #151515;
  }
</style>
<div class="website-tab">
  <div class="Container--standard--medium">
    <div class="website-tab-img active">
      <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainBlackWithoutSubText_4186d8fc-26ba-4c03-b4ba-ed773fe7d6ed.png?v=1646748231">
    </div>
    <div class="website-tab-img inactive">
      <a href="https://therapiewelt.de/" target="_blank">
        <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainWhiteWithoutText.png?v=1646749243">
      </a>
    </div>
  </div>
</div>