<div>
  <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/FinalLogoMainBlackWithoutSubText_200x.png?v=1628287162">
  <a href="https://therapiewelt.de/"><img src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/FinalLogoMainBlackWithoutText_160x.png?v=1636842322"></a>
</div>