<!-- Weitere Informationen Section -->
<div class="additional-infomation">
    <div class="product-page-title-line"></div>
    <h2 class="additional-infomation-title">Weitere Informationen</h2>
    <div class="additional-infomation-section">
      <details class="detailswirkung">
        <summary>Produktdetails<br /></summary>
        <div class="uberblick-sadasd">
          <ul>
            <li>Therapiedecken helfen bei Stress, Angst- und Schlafstörungen, sowie bei Entwicklungsstörungen, wie ADHD,
              Down-Syndrom, Asperger- Syndrom oder Autismus helfen kann.</li>
            <li>Durch das Gewicht entsteht ein angenehmes und pflegendes Wohlgefühl. Der Druck der Decke verteilt sich
              gleichmäßig über Ihren ganzen Körper. Sie können nun <b>friedlich einschlafen oder ruhig und entspannend</b>
              auf der Couch sitzen. Sie lässt mögliche Ängste und aufdringliche Gedanken verschwinden und beruhigt den
              Körper für einen durchgängigen Schlaf in der Nacht.</li>
            <li>Das Gewicht der Decke kann das allgemeine <b>Wohlbefinden enorm steigern</b> und Sie so mindestens noch
              ein Stück zufriedener machen.</li>
            <li><strong>Hochwertiger 4-Jahreszeiten- oder Sommerbezug</strong> - Der Balance 4-Jahreszeiten Bezug ist
              weich und gemütlich und eignet sich für jede Jahreszeit. Der Bezug setzt sich aus Polyester und Baumwolle
              zusammen. Der Sommerbezug ist dünner und auf einer Seite aus 100% Baumwolle, daher sehr luftdurchlässig.
              Beide Bezüge sind bei 40° in der Waschmaschine waschbar. Bezuggewicht: ca. 1,5 kg - inkl. der obigen
              Gewichtsauswahl.</li>
          </ul>
        </div>
      </details>
      <details>
        <summary>Gewicht</summary>
        <p>Wir empfehlen eine Therapiedecke auszuwählen, die ungefähr 10% Ihres Körpergewichts ausmacht. Unsicher?
          Verwenden Sie diese Deckengewichtstabelle:</p>
        <div class="deckengewicht-wrap">
          <table align="center" class="deckengewicht-tg">
            <tbody>
              <tr class="deckengewicht-tr">
                <th class="tg-c6of"></th>
                <th class="tg-rg0h">30 - 49 kg</th>
                <th class="tg-rg0h">50 - 69 kg</th>
                <th class="tg-rg0h">70 - 89 kg</th>
                <th class="tg-rg0h">90 - 109 kg</th>
                <th class="tg-rg0h">110+ kg</th>
              </tr>
              <tr class="deckengewicht-tr">
                <td class="tg-4ir0">135 x 200 cm</td>
                <td class="tg-amwm">4 kg</td>
                <td class="tg-amwm">6 kg</td>
                <td class="tg-amwm">8 kg</td>
                <td class="tg-amwm">10 kg</td>
                <td class="tg-amwm">12 kg</td>
              </tr>
              <tr class="deckengewicht-tr">
                <td class="tg-4ir0">155 x 220 cm</td>
                <td class="tg-amwm">6 kg</td>
                <td class="tg-amwm">8 kg</td>
                <td class="tg-amwm">10 kg</td>
                <td class="tg-amwm" colspan="2">12 kg</td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
      <details>
        <summary>Häufige Fragen</summary>
  
        <details class="detailsfaq">
          <summary class="summaryfaq">Welches Gewicht sollte meine Therapiedecke haben?</summary>
          <p>Die Therapiedecke sollte ungefähr 10% Ihres Körpergewichts ausmachen. Dies ist ein Richtwert, daher kann es
            durchaus sein, dass Sie mit mehr/weniger Gewicht besser zurechtkommen. Wenn Sie zwischen zwei Gewichtsklassen
            stehen, empfehlen wir nach unseren Erfahrungswerten, die schwerere Variante zu wählen.</p>
          <p>Nicht zufrieden mit dem Gewicht? Kontaktieren Sie uns bezüglich eines Umtausches.</p>
        </details>
  
        <details class="detailsfaq">
          <summary class="summaryfaq">Wie wird eine Gewichtsdecke angewandt?</summary>
          <p>Bitte beachten Sie, dass Gewichtsdecken bei jeder Person unterschiedlich schnell ihre Wirkung zeigen können.
            Beginnen Sie damit, die Decke tagsüber zu verwenden, um den Körper langsam an das Gewicht zu gewöhnen und zu
            beobachten, wie Sie mit dem Gewicht zurechtkommen. Steigern Sie langsam die Anwendungszeit bis Sie schließlich
            die gesamte Nacht mit der Decke schlafen.</p>
          <p>Erste positive Effekte können bereits nach wenigen Tagen eintreten. Es kann aber auch mehrere Wochen dauern
            bis der Körper sich umgestellt hat. Geben Sie sich ein wenig Zeit, schließlich haben Sie 28 Tage zum Testen!
          </p>
        </details>
  
        <details class="detailsfaq">
          <summary class="summaryfaq">Wie unterscheiden sich die Gewichtsdecken Modelle?</summary>
          <p>Grundsätzlich erfüllen alle Gewichtsdecken den gleichen Zweck, nämlich einen Druck auf den Körper auszuüben.
            Alle unsere Balance Decken haben eine fest fixierte Füllung mit Edelstahlkügelchen. Gravity Decken und die
            Medizinischen Gewichtsdecken werden mit Glasperlen gefüllt, die sich innerhalb der Quadrate bewegen können.
          </p>
        </details>
        <p>Bei weiteren Fragen besuchen Sie bitte unsere ausführliche <a
            href="https://therapiedecken.de/apps/help-center">FAQ Seite</a>, schreiben uns eine E-Mail an <a
            href="mailto:kundenservice@therapiedecken.de">kundenservice@therapiedecken.de</a> oder rufen uns an: <a
            href="tel:+498921093242">+49 89-21 09 32 42</a>.
      </details>
      <details>
        <summary>Versand- und Zahlungsinformationen</summary>
        <div class="versand-informationen">
          <div class="versand-icon"><span class="icon-versand-icon"></span></div>
          <div class="versand-main-text">
            <div class="versand-main-headline">Versicherter DHL Standardversand</div>
            <div class="versand-sub-text">1-3 Werktage</div>
          </div>
        </div>
        <div class="produktion-informationen">
          <div class="produktion-icon"><span class="icon-tools"></span></div>
          <div class="produktion-main-text">
            <div class="produktion-main-headline">Produktionszeit</div>
            <div class="produktion-sub-text">Siehe Produktionszeit/Verfügbarkeit unter der Warenkorb Schaltfläche <a
                href="#twtd-shipping-time">hier</a></div>
          </div>
        </div>
        <div class="tage-probeschlafen-informationen">
          <div class="tage-probeschlafen-icon"><span class="icon-Tage-Probeschlafen"></span></div>
          <div class="tage-probeschlafen-main-text">
            <div class="tage-probeschlafen-main-headline">28 Tage Probeschlafen</div>
            <div class="tage-probeschlafen-sub-text">Ab Erhalt</div>
          </div>
        </div>
        <div class="zahlungsarten-informationen">
          <div class="zahlungsarten-icon"><span class="icon-coin-euro"></span></div>
          <div class="zahlungsarten-main-text">
            <div class="zahlungsarten-main-headline">Verfügbare Zahlungsarten</div>
            <div class="zahlungsarten-sub-text">Verschlüsselt und sicher</div>
          </div>
        </div>
        <ul class="zahlungsarten-auflistung">
          <li>PayPal</li>
          <li>Auf Rechnung</li>
          <li>SEPA-Lastschrift</li>
          <li>Kreditkarte</li>
          <li>Ratenzahlung</li>
          <li>Sofortüberweisung</li>
          <li>Amazon Pay</li>
        </ul>
      </details>
    </div>
  </div>