{{ 'icons-text.css' | asset_url | stylesheet_tag }}

<div class="Container--extraNarrow upp-to-title section-space-medium icons-text-section" style="margin: auto;">
    <h2 class="SectionHeader__Heading Heading u-h1">Wirkung von Therapiedecken</h2>
    <p>Die Gewichtsdecke ist eine einmalige Investition für Erwachsene, die unter Stress, Angst oder Schlafproblemen
        leiden. Vor allem bei Stresssituationen haben sie eine beruhigende Wirkung. Die Gewichtsdecke hat keine
        Nebenwirkungen und macht nicht abhängig, wie zum Beispiel Schlafmittel. Einfach zudecken!</p>
    <p>
        Untersuchungen beweisen, dass es dem Körper schneller und länger gelingt, sich durch den leichten, angenehmen
        Druck der Gewichtsdecken in der Tiefschlafphase zu befinden.</p>

    <div class="icons21_wrapper">
        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Sleep01 icons21_font_size">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
            <div>Schlafstörungen und Schlafprobleme</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Anxiety01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
            <div>Angstzustände und Panikattacken</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Autism01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
            <div>Asperger-Syndrom und Autism</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Alzheimer01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
            <div>Alzheimer, Parkinson und Demenz</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_Stress01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
            <div>Stress</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_WellBeing01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
            <div>Besseres Wohlbefinden</div>
        </div>

        <div class="icons21_small_wrapper">
            <span class="icon-Icons_ADD01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
            <div>ADHS und ADD</div>
        </div>

    </div>

<div class="spacer_small"></div>
    <a href="/pages/wirkung" class="Button Button--primary">
        Mehr erfahren
    </a>

</div>