{% assign position_from_bottom = '5.8em' %}
<a href="#" title="Back to the top" class="back-to-top">
  <span>ZUR AUSWAHL <span class="icon-keyboard_arrow_up"></span></span>
</a>


{% style %}
@media screen and (max-width: 640px){
  .back-to-top {
    position: fixed;
    z-index: 9;
    text-align: center;
    width: 100%;
    background-color: #fac636;
    bottom: 0px;
    letter-spacing: 0.2em;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 12px));  
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    padding: 15px 28px;
    display: none;
  }
}
{% endstyle %}

<script>
window.onload = function() {
 jQuery(function($) {
   let offset = 3400;
   let duration = 500;
   $(window).scroll(function() {
     const chatraButton = $('#chatra.chatra--side-bottom');
     if ($(this).scrollTop() > offset) {
       $('.back-to-top').fadeIn(duration);
       if(chatraButton){
         chatraButton.attr("style","bottom:65px; width: 96px; height: 40px; transform: none; z-index: 9999;");
       }
     } 
     else {
       $('.back-to-top').fadeOut(duration);
       if(chatraButton){
         chatraButton.attr("style","bottom:20px; width: 96px; height: 40px; transform: none; z-index: 9999;");
       }
     }
   });
   $('.back-to-top').unbind('click.smoothscroll').bind('click', function(e) {
     e.preventDefault();
     $('html, body').animate( { scrollTop: 0 }, duration);
     return false;
   })
 });
}
</script>

{% schema %}
  {
    "name": "Back top product",
    "settings": [],
	"presets": [
      {
        "category": "Product",
        "name": "Back top product"
      }
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
