<style>
  .collection_erwachsene_main{
  	padding-top: 100px;
  }
  .heading_wrapper p{
  	margin-bottom:0;
  }
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
    margin: 80px 30px;
  }
</style>
<div class="collection_erwachsene_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p> 
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>
  <div class="collection_erwachsene_wrapper">
    <div class="collection_erwchsene_list">This is 1</div>
    <div class="collection_erwchsene_list">This is 1</div>
  </div>
</div>
{% schema %}
{
    "name": "Collection Erwachsene",
    "settings": [],
	"presets":[
	{
		"name": "Collection Erwachsene"
	}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
