<style>
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
  }
</style>
<div class="collection_erwachsene_main">
  <div class="PageHeader__ImageWrapper">
    <div class="Container">
      <div class="SectionHeader SectionHeader--center">
        <p class="SectionHeader__SubHeading Heading u-h6">Original Therapiedecken</p> 
        <h1 class="SectionHeader__Heading Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
        <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
      </div>
    </div>
  </div>
  <div class="collection_erwachsene_wrapper">
    <div class="collection_erwchsene_list">1</div>
    <div class="collection_erwchsene_list">1</div>
  </div>
</div>
{% schema %}
{
    "name": "Collection Erwachsene",
    "settings": [],
	"presets":[
	{
		"name": "Collection Erwachsene"
	}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
