{{ 'collection_list_new.css' | asset_url | stylesheet_tag }}

<div class="collection_new_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p>
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>

  {%- capture collection_inner -%}
    {%- if collection.products_count > 0 -%}
      {%- paginate collection.products by section.settings.grid_items_per_page -%}
    	{%- for product in collection.products -%}
  		  {%- for block in section.blocks -%}
            {%- assign collection = collections[block.settings.collection] -%}
            {%- render 'collection-item-new', product: product, block: block, collection: collection, apply_overlay: block.settings.apply_overlay -%}
  		  {% endfor %}
    	{% endfor %}
      {%- endpaginate -%}
    {% endif %}
  {%- endcapture -%}
  
  <div class="collection_new_wrapper">
  	{{ collection_inner }}
  </div>
</div>

{% schema %}
  {
    "name": "Collection list new",
    "settings": [],
	"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1120 x 1200px .jpg recommended"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          },
          {
            "type": "select",
            "id": "simple_icons",
            "label": "Icon 1",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "icon_title",
            "label": "Icon 1 title",
            "default": "Icon 1 title"
          },
          {
            "type": "text",
            "id": "icon_subheading",
            "label": "Icon 1 sub-heading",
            "default": "Icon 1 sub-heading"
          },
          {
            "type": "select",
            "id": "simple_icons2",
            "label": "Icon 2",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "icon2_title",
            "label": "Icon 2 title",
            "default": "Icon 2 title"
          },
          {
            "type": "text",
            "id": "icon2_subheading",
            "label": "Icon 2 sub-heading",
            "default": "Icon 2 sub-heading"
          },
		  {
            "type": "select",
            "id": "simple_icons3",
            "label": "Icon 3",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "icon3_title",
            "label": "Icon 3 title",
            "default": "Icon 3 title"
          },
          {
            "type": "text",
            "id": "icon3_subheading",
            "label": "Icon 3 sub-heading",
            "default": "Icon 3 sub-heading"
          },
		  {
            "type": "select",
            "id": "simple_icons4",
            "label": "Icon 4",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "icon4_title",
            "label": "Icon 4 title",
            "default": "Icon 4 title"
          },
          {
            "type": "text",
            "id": "icon4_subheading",
            "label": "Icon 4 sub-heading",
            "default": "Icon 4 sub-heading"
          },
		  {
            "type": "select",
            "id": "simple_icons5",
            "label": "Icon 5",
            "options": [
              {
                "value": "premium-cotton",
                "label": "premium Cotton"
              },
              {
                "value": "icon-zipper",
                "label": "zipper"
              },
              {
                "value": "icon-icn_metalballs",
                "label": "metalballs"
              },
              {
                "value": "icon-icn_stability100-1",
                "label": "stability"
              },
              {
                "value": "icon-cooling-blanket",
                "label": "cooling blanket"
              },
              {
                "value": "none",
                "label": "none"
              }
            ],
            "default": "premium-cotton"
          },
          {
            "type": "text",
            "id": "icon5_title",
            "label": "Icon 5 title",
            "default": "Icon 5 title"
          },
          {
            "type": "text",
            "id": "icon5_subheading",
            "label": "Icon 5 sub-heading",
            "default": "Icon 5 sub-heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collection name"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading",
            "default": "Sub-heading"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "View products"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "info": "If none is set, collection URL is used."
          },
          {
            "type": "checkbox",
            "id": "apply_overlay",
            "label": "Apply overlay on image",
            "info": "This can improve text visibility.",
            "default": true
          }
        ]
      }
	],
	"presets": [
      {
        "category": "Collection",
        "name": "Collection list new",
        "settings": {},
        "blocks": [
          {
          	"type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }	
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}