<style>
  .collection_erwachsene_main{
  	padding-top: 100px;
  }
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 40px;
  }
  .heading_wrapper p{
  	margin-bottom:0;
  }
  .collection_erwchsene_list{
    position: relative;
  }
  .collection_content_img{
  	display: block;
    position: relative;
    width: 100%;
    height: 625px;
  }
  .collection_content_img img{
  	width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .collection_content_block_main{
  	position: absolute;
    top: 82px;
    right: 25px;
    text-align: center;
  }
  .collection_content_block{
    background: #ffffffe0;
    text-align: center;
    padding: 0 15px 15px;
    width: 260px;
    margin-bottom: 20px;
  }
  .blanket_image{
  	position: relative;
    width: 180px;
    height: auto;
    margin: 0 auto;
  }
  .blanket_image img{
  	width: 100%;
    height: auto;
    margin-top: -55px;
  }
  .blanket_content{
  	margin-top: 10px;
  }
  .blanket_content .price{
  	font-size: 18px;
    color: #BA2E2E;
  }
  .blanket_content .title{
  	font-size: 20px;
    font-weight: 700;
  }
  .blanket_content .title_extra{
  	font-weight: 600;
    font-size: 15px;
    display: block;
    line-height: 20px;
    color:#5b5b5b;
  }
  .ce_divider{
  	border: 0;
    display: block;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 15px 0 17px;
  }
  .ce_container{
  	display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 7px;
    padding: 0 20px;
    margin-bottom: 17px;
  }
  .ce_container .icon-30{
  	font-size: 30px;
  }
  .ce_container .icon-30 span:before{
  	color: #3C3A3A;
  }
  .ce_container .Heading{
  	text-align:left;
    line-height: 16px;
    font-weight: 700;
  }
  .ce_container .Heading span{
  	display: block;
    font-family:"Maven Pro", sans-serif;
    font-size: 12px;
    font-weight: 100;
  }
  @media only screen and (max-width: 767px){
    .collection_erwachsene_wrapper{
    	display: inherit;
      	margin-top: 60px;
    	margin-bottom: 0;
    	margin-left: 0;
    	margin-right: 0;
    }
    .collection_erwachsene_main .heading_wrapper{
    	padding: 0 30px;
    }
    .collection_content_block_main{
    	right: 0;
      	width: 100%;
    	padding: 0 20px;
     	bottom: 30px;
    	top: inherit;
    }
    .collection_content_block{
    	width: inherit;
      	padding: 0 7px 7px;
    }
    .ce_container{
    	padding: 0;
      	margin-bottom: 12px;
    	float: left;
    	width: 50%;
      	grid-column-gap: 3px;
    }
    .ce_container_wrapper{
    	display: inline-block;	
    }
    .ce_container .icon-30{
    	font-size: 25px;
    }
    .ce_container .Heading{
    	font-size: 10px;
    }
    .ce_container .Heading span{
    	font-size: 11px;
    }
  }
</style>

<div class="collection_erwachsene_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p>
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>
  
  
  
  <div class="collection_erwachsene_wrapper">
    {% for block in section.blocks %}
      <div class="collection_erwchsene_list">
          <div class="collection_content_img">
              <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2_256x256.jpg?v=1656500179">
          </div>
          <div class="collection_content_block_main">
            <div class="collection_content_block">
              <div class="blanket_image">
                <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/blanket_image.png?v=1657106987">
              </div>
              <div class="blanket_content">
                <div class="price_div Heading">
                  <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
                  <span class="price">229</span>
                </div>
                {% if block.settings.title %}
                  <h2 class="title Heading">
                    <span>{{ block.settings.title | default: collection.title | escape }}</span>
                    <span class="title_extra">{{ block.settings.subheading | default: collection.subheading | escape }}</span>
                  </h2>
                {% endif %}
                <hr class="ce_divider">
                <div class="ce_container_wrapper">
                  {% if block.settings.icon1 %}
                  <div class="ce_container">
                      <div class="icon-30">
                        {{ block.settings.simple_icons }}
                      </div>
                      <div class="Heading u-h6">
                        Premium Biobezüge<span>Bezug</span>
                      </div>
                  </div>
                  {% endif %}
                  <div class="ce_container">
                      <div class="icon-30">
                        <span class="icon-zipper"></span>
                      </div>
                      <div class="Heading u-h6">
                        Reißverschluss<span>Bezugssystem</span>
                      </div>
                  </div>
                  <div class="ce_container">
                      <div class="icon-30">
                        <span class="icon-icn_metalballs"></span>
                      </div>
                      <div class="Heading u-h6">
                        Edelstahlperlen<span>Gewichtsmaterial</span>
                      </div>
                  </div>
                  <div class="ce_container">
                      <div class="icon-30">
                        <span class="icon-icn_stability100-1"></span>
                      </div>
                      <div class="Heading u-h6">
                        100% fest stabil<span>Gewichtsverteilung</span>
                      </div>
                  </div>
                  <div class="ce_container">
                    <div class="icon-30">
                        <span class="icon-cooling-blanket"></span>
                    </div>
                    <div class="Heading u-h6">
                        Kühlmöglichkeit<span>Zusatzfunktion</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="https://therapiedecken.de/collections/erwachsene/products/balance-gewichtsdecke-fur-erwachsene" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
          </div>
      </div>
    {% endfor %}
    
    
    
    <div class="collection_erwchsene_list">
        <div class="collection_content_img">
    		<img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2_256x256.jpg?v=1656500179">
        </div>
        <div class="collection_content_block_main">
          <div class="collection_content_block">
            <div class="blanket_image">
              <img class="Image--lazyLoad" data-src="https://cdn.shopify.com/s/files/1/2451/6611/files/blanket_image.png?v=1657106987">
            </div>
            <div class="blanket_content">
              <div class="price_div Heading">
                <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
                <span class="price">229</span>
              </div>
              <h2 class="title Heading">
                <span>PREMIUM Balance</span>
                <span class="title_extra">Gewichtsdecke für Erwachsene</span>
              </h2>
              <hr class="ce_divider">
              <div class="ce_container_wrapper">
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-premium-cotton"></span>
                    </div>
                    <div class="Heading u-h6">
                      Premium Biobezüge<span>Bezug</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-zipper"></span>
                    </div>
                    <div class="Heading u-h6">
                      Reißverschluss<span>Bezugssystem</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-icn_metalballs"></span>
                    </div>
                    <div class="Heading u-h6">
                      Edelstahlperlen<span>Gewichtsmaterial</span>
                    </div>
                </div>
                <div class="ce_container">
                    <div class="icon-30">
                      <span class="icon-icn_stability100-1"></span>
                    </div>
                    <div class="Heading u-h6">
                      100% fest stabil<span>Gewichtsverteilung</span>
                    </div>
                </div>
                <div class="ce_container">
                  <div class="icon-30">
                      <span class="icon-cooling-blanket"></span>
                  </div>
                  <div class="Heading u-h6">
                      Kühlmöglichkeit<span>Zusatzfunktion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="https://therapiedecken.de/collections/erwachsene/products/balance-gewichtsdecke-fur-erwachsene" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
      	</div>
    </div>
    

    
    
  </div>
</div>

{% schema %}
  {
    "name": "Collection Erwachsene",
    "settings": [],
	"blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "1120 x 1200px .jpg recommended"
          },
          {
            "type": "select",
            "id": "image_alignment",
            "label": "Image alignment",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          },
          {
            "type": "select",
            "id": "simple_icons",
            "label": "Icons",
            "options": [
              {
                "value": "middleLeft",
                "label": "Middle left"
              },
              {
                "value": "middleRight",
                "label": "Middle right"
              },
              {
                "value": "middleCenter",
                "label": "Middle center"
              },
              {
                "value": "bottomLeft",
                "label": "Bottom left"
              },
              {
                "value": "bottomRight",
                "label": "Bottom right"
              },
              {
                "value": "bottomCenter",
                "label": "Bottom center"
              }
            ],
            "default": "bottomLeft"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub-heading",
            "default": "Sub-heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collection name"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "View products"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link",
            "info": "If none is set, collection URL is used."
          },
          {
            "type": "checkbox",
            "id": "apply_overlay",
            "label": "Apply overlay on image",
            "info": "This can improve text visibility.",
            "default": true
          }
        ]
      }
	],
	"presets": [
      {
        "category": "Collection",
        "name": "Collection list",
        "settings": {},
        "blocks": [
          {
          	"type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }	
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}