<style>
  .collection_erwachsene_main{
  	padding-top: 100px;
  }
  .heading_wrapper p{
  	margin-bottom:0;
  }
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
    margin: 80px 30px;
    column-gap: 40px;
  }
  .collection_erwchsene_list{
    position: relative;
  }
  .collection_content_img{
  	display: block;
    position: relative;
    width: 100%;
    height: 400px;
  }
  .collection_content_img img{
  	width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .collection_content_block{
  	position: absolute;
    top: 70px;
    right: 25px;
    background: #ffffffcf;
    text-align: center;
    padding: 0 25px;
  }
  .blanket_image{
  	position: relative;
    width: 100px;
    height: auto;
    margin: -40px auto 0;
  }
  .blanket_image img{
  	width: 100%; 
    height: auto;
  }
  .blanket_content{
  	margin-top: 15px;
  }
  .blanket_content .price{
  	font-size: 18px;
    color: #ba2e2e;
  }
  .blanket_content .title{
  	font-size:22px;
  }
  .blanket_content .title span{
  	text-transform: uppercase;
  }
</style>
<div class="collection_erwachsene_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p> 
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>
  <div class="collection_erwachsene_wrapper">
    <div class="collection_erwchsene_list">
        <div class="collection_content_img">
    		<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2.jpg?v=1656500179">
        </div>
  		<div class="collection_content_block">
          <div class="blanket_image">
          	<img src="https://cdn.shopify.com/s/files/1/2451/6611/products/1200x1200_9_6e6461a7-7b81-4579-ac03-ba6b860fabc9_900x.jpg?v=1650025256">
          </div>
          <div class="blanket_content">
            <div class="price_div Heading">
              <span style="font-size: 10px">Ab</span>
              <span class="price">229 €</span>
            </div>
            <h2 class="title Heading"><span>Premium</span> Balance</h2>
          </div>
      	</div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Collection Erwachsene",
    "settings": [],
	"presets":[
	{
		"name": "Collection Erwachsene"
	}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
