<style>
  .collection_erwachsene_main{
  	padding-top: 100px;
  }
  .heading_wrapper p{
  	margin-bottom:0;
  }
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
    margin: 80px 30px;
    column-gap: 40px;
  }
  .collection_erwchsene_list{
    position: relative;
  }
  .collection_content_img{
  	display: block;
    position: relative;
    width: 100%;
    height: 650px;
  }
  .collection_content_img img{
  	width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .collection_content_block_main{
  	position: absolute;
    top: 70px;
    right: 25px;
    text-align: center;
  }
  .collection_content_block{
    background: #ffffffe0;
    text-align: center;
    padding: 0 15px 15px;
    width: 260px;
    margin-bottom: 20px;
  }
  .blanket_image{
  	position: relative;
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
  .blanket_image img{
  	width: 100%; 
    height: auto;
    margin-top: -30px;
  }
  .blanket_content{
  	margin-top: 15px;
  }
  .blanket_content .price{
  	font-size: 18px;
    color: #ba2e2e;
  }
  .blanket_content .title{
  	font-size: 20px;
    font-weight: 700;
  }
  .blanket_content .title_extra{
  	font-weight: 600; 
    font-size: 15px; 
    display: block;
    line-height: 20px;
    color:#5b5b5b;
  } 
  .ce_divider{
  	border: 0;
    display: block;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    margin: 15px 0 17px;
  }
  .ce_container{
  	display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 7px;
    padding: 0 20px;
    margin-bottom: 17px;
  }
  .ce_container .icon-30{
  	font-size: 30px;
  }
  .ce_container .icon-30 span:before{
  	color: #3c3a3a;
  }
  .ce_container .Heading{
  	text-align:left;
    line-height: 16px;
    font-weight: 700;
  }
  .ce_container .Heading span{
  	display: block; 
    font-family:"Maven Pro", sans-serif;
    font-size: 12px;
    font-weight: 100;
  }
</style>
<div class="collection_erwachsene_main">
  <div class="heading_wrapper SectionHeader--center">
    <p class="Heading u-h6">Original Therapiedecken</p> 
    <h1 class="Heading u-h1">Welche Therapiedecken Modelle für Erwachsene gibt es?</h1>
    <a href="/pages/therapiedecken-vergleich" class="ImageHero__BlockLink Link Link--underline">Zum Detailvergleich</a>
  </div>
  <div class="collection_erwachsene_wrapper">
    <div class="collection_erwchsene_list">
        <div class="collection_content_img">
    		<img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Insurance-lp-image2.jpg?v=1656500179">
        </div>
        <div class="collection_content_block_main">
          <div class="collection_content_block">
            <div class="blanket_image">
              <img src="https://cdn.shopify.com/s/files/1/2451/6611/products/1200x1200_9_6e6461a7-7b81-4579-ac03-ba6b860fabc9_900x.jpg?v=1650025256">
            </div>
            <div class="blanket_content">
              <div class="price_div Heading">
                <span style="font-size: 10px; color: #5B5B5B; vertical-align: text-bottom;">Ab</span>
                <span class="price">229 €</span>
              </div>
              <h2 class="title Heading">
                <span style="text-transform: uppercase;">Premium</span> Balance
                <span class="title_extra">Gewichtsdecke für Erwachsene</span>
              </h2>
              <hr class="ce_divider">
              <div class="ce_container">
                  <div class="icon-30">
                    <span class="icon-premium-cotton"></span>
                  </div>
                  <div class="Heading u-h6">
                    Premium Biobezüge<span>Bezug</span>
                  </div>
              </div>
              <div class="ce_container">
                  <div class="icon-30">
                    <span class="icon-zipper"></span>
                  </div>
                  <div class="Heading u-h6">
                    Reißverschluss<span>Bezugssystem</span>
                  </div>
              </div>
              <div class="ce_container">
                  <div class="icon-30">
                    <span class="icon-icn_metalballs"></span>
                  </div>
                  <div class="Heading u-h6">
                    Edelstahlperlen<span>Gewichtsmaterial</span>
                  </div>
              </div>
              <div class="ce_container">
                  <div class="icon-30">
                    <span class="icon-icn_stability100-1"></span>
                  </div>
                  <div class="Heading u-h6">
                    100% fest stabil<span>Gewichtsverteilung</span>
                  </div>
              </div>
              <div class="ce_container">
                <div class="icon-30">
                	<span class="icon-cooling-blanket"></span>
                </div>
                <div class="Heading u-h6">
                  	Kühlmöglichkeit<span>Zusatzfunktion</span>
                </div>
              </div>
            </div>
          </div>
          <a href="/collections/erwachsene/products/balance-gewichtsdecke-fur-erwachsene" class="Button_Colleciton_small Button Button--primary">Mehr Erfahren</a>
      	</div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Collection Erwachsene",
    "settings": [],
	"presets":[
      {
          "name": "Collection Erwachsene"
      }
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
