<style>
  .collection_erwachsene_wrapper{
  	display: grid;
    grid-template-columns:1fr 1fr;
  }
</style>
<div class="collection_erwachsene_wrapper">
  <div class="collection_erwchsene_list">1</div>
  <div class="collection_erwchsene_list">1</div>
</div>
{% schema %}
{
    "name": "Collection Erwachsene",
    "settings": [],
	"presets":[
	{
		"name": "Collection Erwachsene"
	}
	]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
