<div class="{% if section.settings.paddings %}section{% endif %} section--bordered">
	{{ section.settings.custom_liquid }}
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
