<!-- section: icons-delivery-info -->

{{ 'product-custom.css' | asset_url | stylesheet_tag}}

{% style %}
  .full-bg-color-icons{
    background-color: {{ section.settings.bg-color }};
  }
  @media only screen and (min-width: 641px){
    .icons-container-mobile{
      display:none !important;
    }
  }
  @media only screen and (max-width: 641px){
    .icons-container-desktop{
      display:none !important;
    }
  }
{% endstyle %}


<div class="full-bg-color-icons section-space-medium">
  <div class="Container--standard--medium icons-container icons-container-desktop">
    <div class="icons-del-wr">
      <span class="icon-days"></span>
      <p style="font-weight: bold; margin-bottom: 0;">28 Tage Probeschlafen</p>
      <p style="color: #f8f8f8;">Ausreichend Zeit zum Testen, um das passende Modell und Gewicht Ihrer Therapiedecke zu finden.</p>

    </div>
    <div class="icons-del-wr">
      <span class="icon-invoice"></span>
      <p style="font-weight: bold; margin-bottom: 0;">Rechnung & Ratenzahlung</p>
      <p style="color: #f8f8f8;">Bequeme Zahlungsmöglichkeiten, mit denen Sie bestellen, testen und erst später bezahlen können.</p>
    </div>
	{% if product.type contains "Kinder" %}   
    <div class="icons-del-wr">
        <span class="icon-one-wachstumsgarantie"></span>
      <p style="font-weight: bold; margin-bottom: 0;">1 Jahr Wachstumgsgarantie</p>
      <p style="color: #f8f8f8;">Flexibilität auch für schnell wachsende Kinder! Für weitere Infos klicken Sie <a href="https://therapiedecken.de/pages/1-jahr-wachstums-garantie"><u>hier</u></a>.</p>
    </div>
   {% elsif product.template_suffix == "standard-gravity" %} 
    <div class="icons-del-wr">
      <span class="icon-cooling-blanket"></span>
      <p style="font-weight: bold; margin-bottom: 0;">Atmungsaktive Bezüge</p>
      <p style="color: #f8f8f8;">Die atmungsaktiven Bezüge bestehen aus 100% Baumwolle und sind daher besonders kühlend und angenehm bei heißen Sommernächten.</p>
    </div>
   {% else %}
    <div class="icons-del-wr">
      <span class="icon-EU1"></span>
      <p style="font-weight: bold; margin-bottom: 0;">Hergestellt in Europa</p>
      <p style="color: #f8f8f8;">Dank europäischer Produktion und kurzen Lieferwegen nachhaltig und mit gutem Gewissen einkaufen.</p>
    </div>
    {% endif %}
    
  </div>
  
  <div class="icons-container-mobile">
    <div class="Container--standard--medium owl-carousel owl-carousel-glider-delivery owl-theme">
      <div class="icons-del-wr item">
        <span class="icon-days"></span>
        <p style="font-weight: bold; margin-bottom: 0;">28 Tage Probeschlafen</p>
        <p style="color: #f8f8f8;">Ausreichend Zeit zum Testen, um das passende Modell und Gewicht Ihrer Therapiedecke zu finden.</p>
      </div>
      <div class="icons-del-wr item">
        <span class="icon-invoice"></span>
        <p style="font-weight: bold; margin-bottom: 0;">Rechnung & Ratenzahlung</p>
        <p style="color: #f8f8f8;">Bequeme Zahlungsmöglichkeiten, mit denen Sie bestellen, testen und erst später bezahlen können.</p>
      </div>
      {% if product.type contains "Kinder" %}  
      <div class="icons-del-wr item">
        <span class="icon-one-wachstumsgarantie"></span>
        <p style="font-weight: bold; margin-bottom: 0;">1 Jahr Wachstumgsgarantie</p>
      <p style="color: #f8f8f8;">Flexibilität auch für schnell wachsende Kinder! Für weitere Infos klicken Sie <a href="https://therapiedecken.de/pages/1-jahr-wachstums-garantie"><u>hier</u></a>.</p>
      </div>
      {% elsif product.template_suffix == "standard-gravity" %} 
        <div class="icons-del-wr">
          <span class="icon-cooling-blanket"></span>
          <p style="font-weight: bold; margin-bottom: 0;">Atmungsaktive Bezüge</p>
          <p style="color: #f8f8f8;">Die atmungsaktiven Bezüge bestehen aus 100% Baumwolle und sind daher besonders kühlend und angenehm bei heißen Sommernächten.</p>
        </div>
      {% else %}
      <div class="icons-del-wr item">
        <span class="icon-EU1"></span>
        <p style="font-weight: bold; margin-bottom: 0;">Hergestellt in Europa</p>
        <p style="color: #f8f8f8;">Dank europäischer Produktion und kurzen Lieferwegen nachhaltig und mit gutem Gewissen einkaufen.</p>
      </div>     
      {% endif %}

    </div>
  </div>
      
</div>

<script>

  $('.owl-carousel-glider-delivery').owlCarousel({
    loop:true,
    dots:true,
    responsive:{
        0:{
            items:2
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
    
</script>

{% schema %}
{
    "name": "Icons Delivery",
    "settings": [
		{
		"type": "color",
		"id": "bg-color",
		"label": "Background Color"
		}
	],
    "presets": [
    {
      "category": "Product Sections",
      "name": "Icons Delivery",
      "settings": {}
    }
  ]
}
{% endschema %}