{% style %}
    .leadingPageGrid_container{
        display: grid;
    }
{% endstyle %}
<div class="leadingPageGrid_container">
    <div>
        
    </div>
</div>


{% schema %}
{
  "name": "Grid",
  "settings": [],
  "presets": [
	{
      "category": "Pages",
      "name": "Grid",
      "settings": {}
	}
  ]
}
{% endschema %}