{% style %}
    .leadGrid_container{
        display: grid;
    }
    .leadGrid_productBlockWrapper{
        width: 100%;
        max-width: 400px;
        background-color: #f8f8f8;

    }
{% endstyle %}
<div class="leadGrid_container">
    <div class="leadGrid_productBlockWrapper">
        <div class="leadGrid_logo">
            <img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gravity_logo_bdb47fe8-73d1-403d-a759-ef45dcad6421.svg?v=1657553072">
        </div>    
    </div>
</div>


{% schema %}
{
  "name": "Grid",
  "settings": [],
  "presets": [
	{
      "category": "Pages",
      "name": "Grid",
      "settings": {}
	}
  ]
}
{% endschema %}