<div class="Container Container--standard--medium">
  <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte" style="margin-bottom:0;">
    {{ page.content }}
    <div class="lp">
       <div class="lp-header">
          <div class="lp-header__banner">
             <img load="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/td-sleep_1728x_46a12b05-c869-455f-8f09-f11ea2984e25.jpg?v=1604360517" />
             <div class="lp-header__banner__meta">
                <h1>Therapiedecken<br />gegen Schlafprobleme</h1>
                <div class="lp-header__banner__meta__ratings">
                   <div><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/5-stars_900x.png?v=1604350117" /></div>
                   <div>Über 50.000 zufriedene Verwender</div>
                </div>
             </div>
          </div>
          <br />
         {% comment %}
          <center>
             <h2>Vorteile von Therapiedecken <br />bei Schlafproblemen im Überblick</h2>
          </center>
          <br /><br />
          <div class="wirkung-section-sub">
             <div class="wirkung-section-sub-col">
                <span class="icon-Icons_Sleep01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
                <h3 class="wirkung-section-sub-title">Besser schlafen</h3>
                <div class="wirkung-section-sub-background">
                   <div class="wirkung-section-sub-text">Das Gewicht der Decke fördert die Ausschüttung des Schlafhormon Melatonin. Die Muskeln und das Nervensystem lassen den Körper entspannen.</div>
                </div>
             </div>
             <div class="wirkung-section-sub-col">
                <span class="icon-Icons_Stress01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                <h3 class="wirkung-section-sub-title">Weniger Stress</h3>
                <div class="wirkung-section-sub-background">
                   <div class="wirkung-section-sub-text">Berufliche und private Belastungen können das Stresslevel ansteigen lassen, wodurch Schlafstörungen begünstigt werden. Mit der Therapiedecke kann der Körper effektiv heruntergefahren werden.</div>
                </div>
             </div>
             <div class="wirkung-section-sub-col">
                <span class="icon-Icons_Energy01 icons21_font_size"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
                <h3 class="wirkung-section-sub-title">Mehr Energie</h3>
                <div class="wirkung-section-sub-background">
                   <div class="wirkung-section-sub-text">Wer gut schläft, ist weniger gereizt und kann auch stressige Situationen besser meistern. Deshalb ist ein tiefer und erholsamer Schlaf die Voraussetzung für Energie und Kraft am Tag.</div>
                </div>
             </div>
          </div>
         {% endcomment %}
          <br />
       </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
