<div class="Container Container--standard--medium">
  <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte" style="margin-bottom:0;">
    {{ page.content }}
    <div class="lp">
       <div class="lp-header">
          <div class="lp-header__banner">
             <img load="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/td-kids-sleep-1728x.jpg?v=1604359703" />
             <div class="lp-header__banner__meta">
                <h1>Therapiedecken für<br />besseren Kinderschlaf</h1>
                <div class="lp-header__banner__meta__ratings">
                   <div><img load="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/5-stars_900x.png?v=1604350117" /></div>
                   <div>Über 50.000 zufriedene Verwender</div>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}