/* accordion-video-product.liquid */

.grid-general-product{
     max-width: 900px;
     margin: auto;
     padding: 50px 0;
}
 .intro-section{
     text-align: center;
}
 .intro-sec-content{
     display: flex;
     align-items: center;
     width: 100%;
     text-align: left;
}
 .intro-sec-content > div{
     width: 50%;
     display: flex;
     flex-direction: column;
}
 .intro-part-1 {
     padding-right: 20px;
}
 details{
     width: 100%;
}
 summary::before{
     content: "+";
     padding: 0 10px;
     width: 23px;
     height: 23px;
     float: right;
}
 .intro-part-1 summary:before{
     position:relative;
     top: 13px;
}
 details[open] summary:before {
     content: "-";
     padding: 0 7px;
}
 details summary::-webkit-details-marker {
     display: none!important;
}
 details:focus, summary:focus {
     outline: 0!important;
}
 summary {
     width: 100%;
     padding: 10px 10px;
}
 details {
     border-bottom: 1px solid #ccc;
}
 .intro-part-1 p.content{
	padding-left:50px;
}
 .content{
     padding: 5px 10px 10px 10px;
     width: 100%;
}
 .responsive-video {
     padding-bottom: 56.25%;
     padding-top: 25px;
     position: relative;
     height: 0;
}
 .responsive-video embed, 
 .responsive-video iframe, 
 .responsive-video object {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
 .icon_accordion > span{
     font-size: 23px;
     width: 35px;
     text-align: center;
     float: left;
     margin-right: 5px;
     position:relative;
     top: 13px;
}
 @media (max-width: 650px){
     .intro-part-1 summary{
         padding: 10px 10px !important;
    }
     .intro-part-1 summary:before{
         top:0;
    }
    .intro-part-1 p.content{
		 padding-left:21px;
    }
}
 @media (min-width: 481px) and (max-width: 650px){
     .icon_accordion{
         float:left;
    }
     .icon_accordion>span{
         margin-top: 1px;
         position: inherit;
         top:6px;
    }
}
 @media screen and (max-width: 600px) {
     .intro-part-1 {
         width: 80%!important;
         text-align: left!important;
         margin: auto;
    }
     .intro-sec-content>div {
         width: 100%;
    }
     .intro-part-2 {
         flex: 0 0 120%;
         max-width: 120%;
         margin-bottom: -65px;
    }
     .intro-sec-content {
         display: inline-block;
    }
     .grid-general-product{
         padding: 50px 0 0px;
         margin-bottom: -20px;
    }
     .icon_accordion{
         position: relative;
         top: -7px;
         float: left;
         width: 35px;
    }
}
 @media (max-width: 480px){
     .icon_accordion > span{
         margin-top: 7px;
       	 position: inherit;
         top:0;
    }
}
