/* FreeMask badge on Collection Pages */
.CollectionBadge_Mask__Wrapper{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1;
  height: 80px;
  margin-bottom: -50px;
  bottom: -170px;
}
.Collection_SmallBadge {
  position: relative;
  display: flex;
  align-items: center;
  left: 20px;
  background: #EE5183;
  z-index: 1;
  padding: 0 20px 0 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
  height: 20px;
  color: white;
}
.Collection_ImgSmallBadge {
  z-index: 2;
}
.Collection_ImgSize_SmallBadge{
    max-width: 80px;
    height: auto;
}

@media only screen and (max-width: 768px){
  .CollectionBadge_Mask__Wrapper{
    bottom: -100px;
  }
  .Collection_SmallBadge {
    left: 10px;
    padding: 0 10px 0 5px;
    font-size: 8px;
    height: 20px;
  }
  .Collection_ImgSmallBadge {
    width: 40%;
  }
  .Collection_ImgSize_SmallBadge{
    max-width: 60px;
    height: auto;
  }
}


/* Seasonal product badges */
.seasonal_badge {
  position: absolute;
  top: 5%;
  z-index: 1;
  left: 5%;
  color: #fff;
  font-size: 20px;
  padding: 13px 5px;
}

/* Badges on Product Pages */
.ProductBadge_Wrapper{
    position: absolute;
    top: 3%;
    z-index: 1;
    right: 5%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.Prod_SmallBadge {
  position: relative;
  display: flex;
  align-items: center;
  left: 30px;
  background: #EE5183;
  z-index: 1;
  padding: 0 23px 0 18px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  height: 25px;
  color: white;
}
.Prod_ImgSmallBadge {
  z-index: 2;
}
.Prod_ImgSize-SmallBadge{
    width: 100%;
    height: 100%;
}
.padding-left{
	padding-left: 30px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
  .ProductBadge_Mask__Wrapper{
    top: 280px;
  }
}
@media only screen and (max-width: 640px) and (orientation: portrait){
  .Prod_SmallBadge {
    padding: 0 30px 0 10px;
  }
}

@media only screen and (min-width: 641px){
  .Prod_ImgSmallBadge {
    width: 100px;
  }
}

@media only screen and (max-width: 640px){
  .Prod_ImgSmallBadge {
    width: 80px;
  }
}