/* FreeMask badge on Collection Pages */
.CollectionBadge_Mask__Wrapper{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1;
  height: 80px;
  margin-bottom: -80px;
  bottom: -190px;
}
.Collection_SmallBadge {
  position: relative;
  display: flex;
  align-items: center;
  left: 20px;
  background: #F01A22;
  z-index: 1;
  padding: 0 20px 0 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
  height: 20px;
  color: white;
}
.m21-img-small-badge {
  z-index: 2;
}
.m21-img-size-small-badge{
    max-width: 90px;
    height: auto;
}

@media only screen and (max-width: 640px){
  .CollectionBadge_Mask__Wrapper{
    bottom: -100px;
  }
  .Collection_SmallBadge {
    left: 10px;
    padding: 0 10px 0 5px;
    font-size: 8px;
    height: 20px;
  }
  .m21-img-small-badge {
    width: 40%;
  }
}

/* FreeMask badge on Product Pages */
.Prod_SmallBadge {
  position: relative;
  display: flex;
  align-items: center;
  left: 20px;
  background: #F01A22;
  z-index: 1;
  padding: 0 23px 0 18px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  height: 30px;
  color: white;
}
.Prod_ImgSmallBadge {
  z-index: 2;
  width: 20%;
}
.Prod_m21-img-size-small-badge{
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
  .ProductBadge_Mask__Wrapper{
    top: 280px;
  }
}
@media only screen and (max-width: 640px) and (orientation: portrait){
  .Prod_SmallBadge {
    padding: 0 30px 0 10px;
  }
}