{% if settings.announcement_countdown_enable or settings.product_countdown_enable %}
// countdown.js.liquid

  let endDate = new Date("{{ settings.countdown_date }}").getTime();
  const intervall = 1000 * 60 * 60 * {{ settings.loop_time }};
  const now = new Date().getTime();

  const dates = [];

  if (intervall > 0){
    while (endDate > now) {
      dates.push(new Date(endDate));
      endDate -= intervall;
    }
  } else {
      dates.push(new Date(endDate));
  }

  dates.reverse();

  function getNextDate() {
    let now = new Date().getTime();
    for (let date of dates) {
      if (date > now) {
        return date;
      }
    }
    return null;
  }

  const intervallId = setInterval(function () {
    let countDown = getNextDate();
    if (countDown === null) {
      document.getElementById("countdown_announcement").innerHTML = "";
      document.getElementById("countdown_product").innerHTML = "";
      document.getElementById("countdown_product_wrapper").className = " no-js"; 
      clearInterval(intervallId);
      return;
    }

    const distanceNow = countDown - new Date().getTime();

    var days = Math.floor(distanceNow / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distanceNow % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distanceNow % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distanceNow % (1000 * 60)) / 1000);

    {% if settings.announcement_countdown_enable %}
      document.getElementById("countdown_announcement").innerHTML = `<span class="countdown_days"><span class="countdown_text">${days}</span>` + "T " + `</span>` + `<span class="countdown_text">${hours}</span>` + "STD "
      + `<span class="countdown_text">${minutes}</span>` + "MIN " + `<span class="countdown_text">${seconds}</span>` + "S ";
    {% endif %}
    {% if settings.product_countdown_enable %}
      document.getElementById("countdown_product").innerHTML = `<span>{{ settings.countdown_product_text }} </span><span class="countdown_product_text">${days}</span>` + "T " + `<span class="countdown_product_text">${hours}</span>` + "STD "
      + `<span class="countdown_product_text">${minutes}</span>` + "MIN " + `<span class="countdown_product_text">${seconds}</span>` + "S ";
    {% endif %}

  }, 1000);
{% endif %}