.tm21_wr_lp{
  display: flex;
  flex-wrap: wrap;
  max-width: 990px;
  justify-content: space-around;
}
.tm21_wr_lp > div {
  width: 300px;
}
.tm21_wr_hp{
  display: flex;
  flex-wrap: wrap;
  max-width: 990px;
  justify-content: space-around;
}
.tm21_wr_hp > div {
  width: 300px;
}
@media only screen and (max-width: 450px){
  .tm21_wr_hidden {
    display: none !important;
  }
}
.tm21_wr_quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.tm21_wr_quote a:before {
    height: 0px!important;
}

.tm21_pic_wr {
    position: absolute;
    margin-left: 75px;
    width: 150px!important;
    height: 150px!important;
    display: flex!important;
	z-index: 1;
}

.tm21_text_wr {
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  margin-top: 75px;
  padding-top: 100px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  text-align: left;
  min-height: 385px;
}
.tm21_text_wr:hover{
  background-color: #fac636;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}
.tm21_text_wr:hover .gral_icon21_yellow{
  color: white;
}

.tm21_wr_lp > div a {
    text-decoration: none!important;
}

.tm21_wr_lp img, .tm21_pic_wr img {
	max-width: 100%!important;
}

.tm21_left_quote{
  margin-top: 10px;
  margin-bottom: -5px;
}
.tm21_citation > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.tm21_citation > p {
  margin: 0px;
  overflow: hidden;
}
.tm21_img{
  height: inherit;
}