#GravityPrint_MainContainer{
  max-width: 1200px;
  text-align: center;
  margin: 50px auto;
}

.GravityPrint_steps_wr{
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex-basis: 50%;
  max-width: 350px;
}
.GravityPrint_text_wr{
  max-width: 200px;
  margin: auto;
  text-align: left;
}
.GravityPrint_iconText_wr{
  display: inline-flex;
}
#GravityPrint_ColumnsContainer{
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 641px){
  .GravityPrint_steps_wr{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 640px){
  #GravityPrint_ColumnsContainer{
    flex-direction: column;
    align-items: center;
  }
}