.grid_images_wrapper{
  padding-top: 100px;
  max-width: 1000px;
  margin: 0 auto;
}
.grid_image_div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 80px 30px;
}
.grid_image a{
  display: block;
}
.grid_image{
  display: block;
  position: relative;
  width: auto;
  height: auto;
}
.grid_image img{
  width: auto;
  height: auto;
}
@media (max-width: 1023px){
  .grid_image_div{
    gap: 20;
  }
  .grid_images_wrapper{
    max-width: 700px;
  }
}
@media (max-width: 640px){
  .grid_image_div{
    grid-template-columns: 1fr 1fr;  
  }
}