#icons21_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons21_small_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  width: 150px;
}

#icons21_wrapper_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f8f8f8;
  margin-left: -50% !important;
  margin: auto auto 45px;
  margin-right: -50%;
}

.icons21_small_wrapper_products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  width: 100px;
  margin: 20px 20px;
}

.icons21_wrapper_block {
  display: flex;
}

.icons21_font_size {
  font-size: 60px;
}

@media only screen and (max-width: 820px) {
  #icons21_wrapper_products {
    margin: 0px -15px 25px !important;
  }

  .icons21_small_wrapper_products {
    margin: 10px 0px;
  }

  .icons21_small_wrapper {
    width: 145px !important;
  }
}
