.collection_new_main{
  padding-top: 100px;
}
.collection_new_wrapper{
  display: grid;
  padding: 80px 30px;
  margin: auto;
  gap: 40px;
}
.heading_wrapper p{
  margin-bottom:0;
}
.collection_new_list{
  position: relative;
}
.collection_content_img{
  display: block;
  position: relative;
  width: 100%;
}
.collection_content_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection_logo{
  position: absolute;
  bottom: 35px;
  left: 35px;
}
.collection_logo img{
  width: 120px;
}
.collection_content_block_main{
  position: absolute;
  top: 53%;
  right: 25px;
  text-align: center;
  transform: translateY(-50%);
}
.collection_content_block{
  background: #ffffffe0;
  text-align: center;
  padding: 0 15px 15px;
  width: 260px;
  margin-bottom: 20px;
}
.blanket_image{
  position: relative;
  width: 180px;
  height: auto;
  margin: 0 auto -10px auto;
}
.blanket_image img{
  width: 100%;
  height: auto;
  margin-top: -50px;
}
.blanket_content{
  margin-top: 10px;
}
.blanket_content .price{
  font-size: 18px;
  color: #BA2E2E;
}
.blanket_content .title{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.blanket_content .title_extra{
  font-weight: 600;
  font-size: 15px;
  display: block;
  line-height: 20px;
  color:#5b5b5b;
}
.ce_container{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 7px;
  padding: 0 20px;
  margin-bottom: 7px;
}
/*.ce_container_wrapper{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}*/
.ce_container .icon-30{
  font-size: 30px;
}
.ce_container .icon-30 span:before{
  color: #3C3A3A;
}
.ce_container .Heading{
  text-align:left;
  line-height: 16px;
  font-weight: 700;
}
.ce_container .Heading span{
  display: block;
  font-family:"Maven Pro", sans-serif;
  font-size: 12px;
  font-weight: 100;
}
@media only screen and (min-width: 1024px){
  .collection_new_wrapper{
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }
}
@media only screen and (max-width: 1023px){
  .collection_new_main .heading_wrapper{
    padding: 0 30px;
  }
  .collection_content_block_main{
    right: 0;
    width: 100%;
    padding: 0 10px;
    bottom: 30px;
    top: inherit;
    transform: inherit;
  }
  .collection_new_wrapper{
  	gap: 20px;
    max-width: 700px;
  }
  .collection_content_img{
  	height: 650px;
  }
  .collection_content_img img{
  	object-position: left;
  }
  .blanket_content .title{
  	font-size: 16px;
    padding: 0 10px;
  }
  .collection_logo{
  	bottom: inherit;
    left: inherit;
    top: 25px;
    right: 25px;
  }
  .collection_logo img{
  	width: 80px;
  }
  .collection_content_block{
    width: inherit;
    padding: 0 7px 7px;
  }
  .ce_container{
    padding: 0;
    margin-bottom: 12px;
    float: left;
    width: 50%;
    grid-column-gap: 3px;
  }
  .ce_container_wrapper{
    display: inline-block;	
  }
  .ce_container .icon-30{
    font-size: 25px;
  }
  .ce_container .Heading{
    font-size: 10px;
  }
  .ce_container .Heading span{
    font-size: 11px;
  }
}
@media (max-width: 640px){
   .collection_content_block_main{
   	padding: 0 20px;
    max-width: 500px;
   }
}