:root {
  --color-price: ;
  --color-highlights: #DD2200;
  --color-light-background1: #fcfcfc;
  --color-light-shadow: #eee;
  --color-light-text: ;
  --color-secondary-text: gray;
  --color-overlay: rgb(58 58 58 / 71%);
  --color-dark-green: #008f2d;
  --color-light-green: #c6ffc6;
  --color-light-border: rgba(0,0,0,0.1);
}
/* Animation when cart opens */
@keyframes mycartmove {
  from {
    right: -450px;
  }
  to {
    right: 0;
  }
}
body.js-my-cart-open{
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
}
form[action="cart/add"].js-ajax-cart-request-in-progress [type="submit"] {
  opacity: .5;
}
body.js-my-cart-open .MyCart_SectionsWrapper {
  flex: 0 0 300px;
  display: block;
  transition:opacity 0.15s ease-in-out;
}

body.js-ajax-cart-request-in-progress .MyCart_ItemsContainer {
  opacity: .5;
}
/* Hides or shows the quantity bubble on the cart icon */
body.js-ajax-cart-empty .icon-MyCart_Header {
  display: none !important;
}
body.js-my-cart-open #MyCart_Slider{
  transition: transform .5s;
  transform: translateX(0%);
}
body.js-my-cart-open .MyCartUpsells_SuggestedContainer{
  animation: mycartmove .5s;
}
/* Show the floating cart if the 'js-my-cart-open' CSS class exists */
.js-my-cart-open .MyCart_FloatingCart { 
  display: block;
}
#MyCart_Slider{
  z-index: 1000;
  transition: 0.4s transform;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.09),0 0 4px 0 rgba(0,0,0,0.21),0 0 0 1px rgba(0,0,0,0.09);
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 440px;
  height: 100%;
  top: 0;
  right: 0;
  justify-content: space-between;
  transition: transform .5s;
  transform: translateX(100%);
}
.MyCart_FooterWrapper, #MyCart_Slider, .MyCart_EmptyMessage, .MyCart_PriceContainer, .MyCart_FlexColumn{
  display: flex;
  flex-direction: column;
}
#MyCart_Overlay{
  z-index: 19;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: none; /* Hidden by default */
  background-color: var(--color-overlay);
  opacity:1;
  transition:opacity 0.15s ease-in-out;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  cursor:pointer;
  padding-right: 15px;
}
#MyCart_UpsellOverlay{
  z-index:1000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  right:0;
  display: none; /* Hidden by default */
  background-color: var(--color-overlay);
  opacity:1;
  transition:opacity 0.15s ease-in-out;
  height: 100vh;
  overflow-y: hidden;
  max-width: 440px;
  width: 100%;
  cursor:pointer;
  padding-right: 15px;
}
.MyCart_EmptyMessage{
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: var(--color-secondary-text);
}
.MyCart_Header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--color-light-shadow);
  border-bottom: 1px solid var(--color-light-border);
  z-index: 1;
  padding-top: 5px;
  flex-direction: column;
}
.MyCart_H2, .MyCart_PriceItem{
  line-height: 1.2 !important;
  margin: 0 0 5px;
}
.MyCart_PriceItem{
  font-weight: 400;
}
.MyCart_Heading.Heading{
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0;
}
.MyCart_CloseSlideCart{
  position: absolute;
  right: 27px;
  top: 8px;
}
.MyCart_ItemWrapper{
  display: inline-flex;
  border-top: 1px solid var(--color-light-border);
  width: 100%;
  padding: 15px 20px;
}
.MyCart_ContentItem{
  width: fit-content;
  padding-right: 30px;
  flex-grow: 1;
}
.MyCart_QuantityItemWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.MyCart_RemoveItem{
  position: absolute;
  right: 30px;
  margin-top: -5px;
}
.MyCart_ImageItem{
  width: 70px !important;
  max-width: 70px;
}
.MyCart_QuantityItem{
  display: inline-flex;
  align-items: center;
}
.MyCart_QuantityButtonItem{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-light-border);
}
input.MyCart_InputItem{
  display: inline-flex;
  line-height: 28px;
  height: 30px;
  max-height: none;
  min-height: 0;
  border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
  background: transparent;
  border-top: 1px solid var(--color-light-border) !important;
  border-bottom: 1px solid var(--color-light-border) !important;
  width: 45px;
  text-align: center;
  font-size: 13px;
  padding: 0;
  border-radius: 0;
  min-height: 0 !important;
  margin: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance:textfield !important;
}
input.MyCart_InputItem::-webkit-inner-spin-button, input.MyCart_InputItem::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.MyCart_BodyWrapper {
  flex: 1 1 auto;
}

/* Free gift item - Discount message */
.MyCartItem__DiscountList{
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 11px));
  line-height: 1.3;
  list-style: none;
  padding-inline-start: 0;
}
.MyCartItem__Discount{
  display: inline-block;
  margin-top: 6px;
  padding: 4px 8px;
  color: var(--color-dark-green);
  background: var(--color-light-green);
  font-size: 11px;
  line-height: 14.3px
}
.MyCartItem__Discount span {
  color: var(--color-dark-green);
  height: 1em;
  width: 1em;
  margin-right: 5px;
}
.MyCartItem__Discount svg {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  stroke-width: 1px;
  background: none;
  pointer-events: none;
}
.MyCartItem__Discount + .MyCartItem__Discount {
  margin-top: 4px;
}
/* Footer of cart */
.MyCart_BottomSection{
  position: sticky;
  bottom: 0px;
  z-index: 1;
  background-color: white;
  width: 100%;
}
.MyCartUpsells_SuggestedContainer{
  background-color: white;
}
.MyCart_Spacer{
  width: 100%;
}
.MyCart_FooterWrapper{
  background-color: var(--color-light-background1);
  border-top: var(--color-light-border) 1px solid;
  padding: 10px 20px;
}
#MyCart_TotalFinalWrapper, .MyCart_FooterInfoWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
/* Text style */
.MyCart_H2 > a, .MyCart_H2, .MyCartUpsells_ProductHeader{
  color: var(--color-gral-text);
}
.MyCart_ValueItem{
  margin: 0;
  line-height: 1.2;
  font-size: 14px;
  color: var(--color-secondary-text);
}
.MyCart_FooterWrapper > .MyCart_FooterText:nth-child(1), .MyCart_FooterWrapper > .MyCart_FooterText:nth-child(2), .MyCart_Price{
  /* change bold to 500 if bold is too thick */
  font-weight: 600;
}
.MyCart_FooterText > p, .MyCart_Price{
  margin: 0;
}
#MyCart_DiscountWrapper{
  display: flex;
  justify-content: flex-end;
}
#MyCart_DiscountWrapper > span {
  padding-right: 5px;
}
.MyCart_Price.MyCart_ItemDiscount, #MyCart_ItemDiscountTotal, .MyCart_ComparedPrice, .MyCartUpsells_OptionLabel[for]{
  font-size: 14px;
}
.MyCart_Price.MyCart_ItemDiscount, .MyCart_ComparedPrice{
  font-weight: normal;
}
.MyCart_Price{
  color: var(--color-gral-text);
  line-height: 1.2;
}
.MyCart_HighlightedText{
  color: var(--color-highlights);
}
.MyCart_ComparedPrice{
  text-decoration: line-through;
}
.MyCart_PriceContainer{
  text-align: right;
  padding-left: 10px;
}
/* Cart messages */
.MyCart_Message{
  padding: 5px 20px;
}
.MyCart_MessageContainer{
  text-align: center;
  background-color: var(--color-light-background1);
  font-size: 12px;
  line-height: 1.4;
}
#MyCart_Countdown{
  background-color: #fac6371c;
  padding: 5px 20px;
}
/* Payment logos on slide cart */
.MyCart_PaymentOptions {
  display:table;
  margin: auto;
  text-align:center;
  background-color: white;
  width: 90%;
  padding-bottom: 10px;
}
.MyCart_PaymentOptions .inline-list {
 padding:0;
 margin:0;
 display:flex;
 align-items:flex-start;
 justify-content:space-around;
 align-content:center;
 flex-wrap:wrap;
 flex-direction:row;
 margin-left:auto;
 margin-right:auto;
 margin-bottom: 0px;
}
.payment-icons li.icon--payment {
  cursor: default;
  margin: 0 4px 0px 0;
  list-style: none;
}
/* Upsells */
.MyCartUpsells_MainTitle{
  text-align: center;
  background-color: var(--color-light-shadow);
  margin: 0;
}
.MyCartUpsells_SuggestedContainer .owl-nav{
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}
.MyCartUpsells_SubmitButton{
  width: 100%;
}
.MyCartUpsells_Bttn.Button{
  height: unset;
  padding: 10px 20px;
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
}
.MyCartUpsells_Bttn[disabled]{
  cursor: none;
}
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-prev,
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-next{
  width: 30px;
  height: 30px;
  background-color: white;
  line-height: 0px;
  text-align: center;
  position: relative;
  top: -50px;
}
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-prev{
  margin-left: 20px;
}
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-next{
  margin-right: 20px;
}
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-prev span,
.MyCartUpsells_SuggestedContainer .owl-carousel .owl-nav button.owl-next span{
  font-size: 25px;
  position: relative;
  top: -2px;
  color: var(--color-text);
}
.MyCartUpsells_ItemWrapper{
  padding: 10px 20px 10px 35px;
}
.MyCartUpsells_HeaderWrapper{
  display: flex;
}
@keyframes myUpsellUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes myUpsellDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
.MyCartUpsells_MainContainer{
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  transition: transform .5s;
  transform: translateX(100%);
}
.MyCartUpsells_MainContainer > form{
  background-color: #fff;
  padding: 20px 30px;
  border-top: var(--color-light-border) 1px solid;
}

.MyCartUpsells_MainContainer>form a:link {
    text-decoration: none!important;
}

.MyCartUpsells_Select{
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  padding: 0 10px;
  height: 34px;
  border: 1px solid var(--color-light-border);
}
.MyCartUpsells_OptionWrapper{
  display: flex;
  flex-direction: column;
  padding: 3px 0;
}
.MyCartUpsells_ImageUploadButton .cl-po--label{
  display: none !important;
}
.MyCartUpsells_SelectorsWrapper{
  padding-top: 10px;
  margin-bottom:20px;
}
.MyCartUpsells_OptionLabel[for]{
  cursor: auto;
}
.MyCartUpsells_Close{
  cursor: pointer;
  margin-left: 10px;
  padding-left: 20px;
  background-color: white;
}
.MyCartUpsells_ProductHeader{
  display:flex;
  width: 100%;
}
button.MyCart_CheckoutButton{
  font-size: 16px;
  width: 100%!important;
}
/* Tablet and up */
@media only screen and (min-width: 441px){
  #MyCart_TotalFinalWrapper, .MyCart_FooterInfoWrapper{
    padding: 5px;
  }
  .MyCartUpsells_SuggestedContainer{
    bottom: 216px;
  }
  .MyCartUpsells_MainContainer > form {
    width: 440px;
  }
  .MyCartUpsells_SuggestedContainer{
    width: 440px;
  }
  .MyCartUpsells_Select{
    width: 350px;
  }
  .MyCartUpsells_SuggestedImageWrapper{
    max-width: 70px;
    margin: 0 15px;
  }
  .MyCartUpsells_MainTitle{
    padding: 7px 20px;
  }
  button.MyCart_CheckoutButton{
    margin-top: 10px;
  }
  .MyCart_ImageItemWrapper{
    margin: 15px;
  }
  .MyCart_Spacer{
    min-height: 20px;
  }
}
/* Mobile */
@media only screen and (max-width: 440px){
   #MyCart_Slider{
    width: 100%;
  }
  #MyCart_TotalFinalWrapper, .MyCart_FooterInfoWrapper{
    padding: 0;
  }
  .MyCartUpsells_SuggestedContainer{
    bottom: 191px;
  }
  .MyCartUpsells_SuggestedContainer, .MyCartUpsells_MainContainer, .MyCartUpsells_MainContainer > form {
    width: 100%;
  }
  .MyCartUpsells_Select{
    width: 100%;
  }
  .MyCartUpsells_SuggestedImageWrapper{
    max-width: 70px;
  }
  .SuggestedUpProd_ContentWr{
    padding: 23px 11px 17px 11px;
  }
  .MyCart_ValueItem, .MyCartUpsells_MainTitle, .MyCartUpsells_OptionLabel[for]{
    font-size: 12px;
  }
  .MyCart_PriceItem{
    font-size: 13px;
  }
  .MyCart_H2, .MyCart_FooterText > p, .MyCart_Price{
    font-size: 14px;
  }
  p.MyCart_FinalPrice{
    font-size: 16px;
  }
  .MyCart_Paragraph{
    line-height: 1.5;
  }
  .MyCartUpsells_MainTitle{
    padding: 6px 15px;
  }
  .MyCart_CheckoutButton{
    margin-top: 5px;
  }
  .MyCart_Heading.Heading{
    margin: 5px 0;
  }
  .MyCart_ImageItemWrapper{
    margin: 5px 15px 0;
  }
  .MyCart_Spacer{
    min-height: 20px;
  }
}
