#PetPrint_MainContainer{
  max-width: 1200px;
  text-align: center;
  margin: 50px auto;
}

.PetPrint_steps_wr{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media only screen and (min-width: 768px){
  #PetPrint_MainContainer{
    display: flex;
  }
}