/* accordion-video-product.liquid */

.grid-general-product{
     max-width: 900px;
     margin: auto;
     padding: 50px 0;
}
 .intro-section{
     text-align: center;
}
 .intro-sec-content{
     display: flex;
     align-items: center;
     width: 100%;
     text-align: left;
}
 .intro-sec-content > div{
     width: 50%;
     display: flex;
     flex-direction: column;
}
 .intro-part-1 {
     padding-right: 20px;
}
 details{
     width: 100%;
}
 summary::before{
     content: "+";
     padding: 0 10px;
     width: 23px;
     height: 23px;
     float: right;
}
 .intro-part-1 summary:before{
     position:relative;
     top: 13px;
}
 details[open] summary:before {
     content: "-";
     padding: 0 7px;
}
 details summary::-webkit-details-marker {
     display: none!important;
}
 details:focus, summary:focus {
     outline: 0!important;
}
 summary {
     width: 100%;
     padding: 10px 10px;
}
 details {
     border-bottom: 1px solid #ccc;
}
 .intro-part-1 p.content{
	padding-left:50px;
}
 .content{
     padding: 5px 10px 10px 10px;
     width: 100%;
}
 .responsive-video {
     padding-bottom: 56.25%;
     padding-top: 25px;
     position: relative;
     height: 0;
}
 .responsive-video embed, 
 .responsive-video iframe, 
 .responsive-video object {
     position: absolute;
     /*top: 0;*/
     left: 0;
     width: 100%;
     /*height: 100%;*/
}
 .icon_accordion > span{
     font-size: 23px;
     width: 35px;
     text-align: center;
     float: left;
     margin-right: 5px;
     position:relative;
     top: 13px;
}
 @media (max-width: 650px){
     .intro-part-1 summary{
         padding: 10px 10px !important;
    }
     .intro-part-1 summary:before{
         top:0;
    }
    .intro-part-1 p.content{
		 padding-left:21px;
    }
}
 @media (min-width: 481px) and (max-width: 650px){
     .icon_accordion{
         float:left;
    }
     .icon_accordion>span{
         margin-top: 1px;
         position: inherit;
         top:6px;
    }
}
 @media screen and (max-width: 600px) {
     .intro-part-1 {
         width: 80%!important;
         text-align: left!important;
         margin: auto;
    }
     .intro-sec-content>div {
         width: 100%;
    }
     .intro-part-2 {
         flex: 0 0 120%;
         max-width: 120%;
         margin-bottom: -65px;
    }
     .intro-sec-content {
         display: inline-block;
    }
     .grid-general-product{
         padding: 50px 0 0px;
         margin-bottom: -20px;
    }
     .icon_accordion{
         position: relative;
         top: -7px;
         float: left;
         width: 35px;
    }
}
 @media (max-width: 480px){
     .icon_accordion > span{
         margin-top: 7px;
       	 position: inherit;
         top:0;
    }
}


/* product-details.liquid - It also takes some CSS from the accordion-video section - Yurith */

.product-details-infomation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h2.product-details-infomation-title,
.wirkung-title {
    padding-bottom: 15px;
}
.product-details-infomation-section summary {
    outline: none !important;
}
.product-details-infomation-section {
    background-color: white;
    width: 80%;
}
.product-details-infomation-section a {
    text-decoration: underline;
}
details:first-child {
    border-top: 1px solid #ccc;
}
details > div {
  padding: 0 30px 30px 30px;
}
.content-extra-faq {
  padding: 0 30px 10px 30px;
}
.detailsfaq {
    width: 80%;
    margin: auto;
    border-bottom: dashed 1px;
}
.detailsfaq:last-child{
  margin-bottom: 20px;
}
.last-content-block-faq{
  margin-top: 15px;
}
summary.summaryfaq {
    font-weight: normal;
    padding-left: 30px;
}
.versand-informationen, .produktion-informationen, .tage-probeschlafen-informationen, .zahlungsarten-informationen {
    display: flex;
    flex-direction: row;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.zahlungsarten-auflistung {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 10px 10px 10px 30px;
}
.zahlungsarten-auflistung li {
    list-style: circle;
}
.zahlungsarten-icon, .produktion-icon {
    font-size: 20px;
    box-sizing: inherit;
    padding-right: 19px;
    padding-left: 9px;
    padding-top: 9px;
}
.versand-icon {
    font-size: 15px;
    box-sizing: inherit;
    padding-right: 10px;
    padding-top: 9px;
}
.tage-probeschlafen-icon {
    font-size: 25px;
    box-sizing: inherit;
    padding-right: 19px;
    padding-left: 9px;
    padding-top: 5px;
}
.versand-main-text, .produktion-main-text, .tage-probeschlafen-main-text, .zahlungsarten-main-text {
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 1.5;
}

/* Icons 2021 'Yurith 20-04-21' */

#icons21_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
}
.icons21_small_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 150px;
}
#icons21_wrapper_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f8f8f8;
    margin: auto auto 45px;
}
.icons21_small_wrapper_products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    margin: 20px 20px;
}
.icons21_wrapper_block {
    display: flex;
}
.icons21_font_size {
    font-size: 60px;
}

@media only screen and (max-width: 820px) {

    .icons21_small_wrapper_products {
        margin: 8px;
    }
    .icons21_small_wrapper {
        width: 145px !important;
    }
}

/* gewichtsdecken tabelle / weight table on product pages 16.03.2019 - by Felix */


.deckengewicht-tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
}

.deckengewicht-tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}

.deckengewicht-tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.deckengewicht-tg .tg-c6of {
    background-color: #ffffff;
    border-color: inherit;
    text-align: left;
    vertical-align: middle;
    text-transform: none !important;
    letter-spacing: normal !important;
}

.deckengewicht-tg .tg-rg0h {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    text-transform:
        none !important;
}

.deckengewicht-tg .tg-4ir0 {
    font-size: 12px;
    padding: 5px;
    background-color: #efefef;
    border-color: #cccccc;
    text-align: center;
    vertical-align: top
}

.deckengewicht-tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: middle
}

@media screen and (max-width: 767px) {
    .deckengewicht-tg {
        width: auto !important;
    }

    .deckengewicht-tg col {
        width: auto !important;
    }

    .deckengewicht-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media screen and (max-width: 350px) {

    .tg-amwm,
    .tg-4ir0 {
        display: table-cell !important;
    }
}

@media screen and (max-width: 350px) {
    tr.deckengewicht-tr {
        border-bottom: 1px solid #ddd !important;
        display: table-header-group !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 800px) {

    .tg-amwm,
    .tg-4ir0 {
        display: table-cell !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
    tr.deckengewicht-tr {
        border-bottom: 1px solid #ddd !important;
        display: table-row !important;
    }
}

table.deckengewicht-tg {
    width: auto !important;
    margin-top: 10px !important;
    display: table !important;
    margin: auto !important;
}

.deckengewicht-wrap {
    padding-top: 10px;
}

/* advantages-overview.liquid */

.adtg-main {
  display: inline-flex;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  width: 25%;
  flex-direction: column;
}
.adtg-main-wr {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.adtg-inner-wr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#ProductSection--basic-balance-product-template .adtg-main {
  width: 33%;
}
.adtg-title {
  font-size: 35px;
  font-weight: 700;
  color: #fac636;
}
.adtg-title-sub {
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  text-align: center;
}
.adtg-title-main {
  padding: 10px;
  color: white !important;
  text-align: center;
}

a.adtg-main-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: underline;
  text-align: center;
  margin: auto;
}

span.icon-reissverschluss,
span.icon-icn_basiccotton,
span.icon-euro-bill,
span.icon-icn_loopribbon,
span.icon-icn_premiumcotton,
span.icon-icn_glassballs,
span.icon-icn_premiumcotton-1 {
  font-size: 30px;
}
.adtg-title .icon-icn_premiumcotton-1 .path1:before {
  color: #fac636;
}
.adtg-main-sec {
  margin: auto;
  background: #5b5b5b;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .adtg-main {
    width: 49% !important;
    text-align: center;
    margin-left: -5px;
    padding: 15px;
  }
}

/* html-with-image.liquid */

header.html-text-wr{
  padding: 0 30px;
}

@media only screen and (max-width: 641px){
  header.html-text-wr{
    padding: 0;
  }
  .FeaturedHtmlImage-container{
    padding: 0 !important;
  }
}

/* impact-outcome.liquid */

.wirkung-section{
    text-align: center; 
	background: #f8f8f8;
    padding: 50px 30px;
}
.wirkung-section-sub{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	max-width: 900px;
    margin: auto;
}
.wirkung-section-sub-background, .new-balance-wirkung-background {
    padding: 0 15px 15px 15px;
    color: black;
}
.wirkung-section-sub-title.h3, h3.wirkung-section-sub-title {
    color: black;
    width: 90%;
    margin: auto;
    padding-top: 15px;
}
.wirkung-section-sub-image {
    position: relative;
}
.wirkung-section-sub-text{
    display: inline-block;
    line-height: 1.9;
}
.wirkung-section-sub-col{
    flex: 0 0 33.33%;
    max-width: 30.33%;
    text-align: center;
    margin: 0 10px;
	background: white;
	padding: 20px 0;
}
.icons21_font_size{
    font-size: 60px;
}
.margin-less-20{
  margin-bottom: -20px;
}
.margin-bottom-0{
  margin-bottom: 0;
}
.button_link_outcome{
  margin-top: 30px;
}

/* HTML Cover Bullet Points */

#shopify-section-template--14145679982731__1630502279241963c8 ul, #shopify-section-template--14154342793355__16329258760d95ba98 ul {
    list-style-position: outside;
    padding-left: 20px;
  	text-align: left;
}


/* icons-prestige.liquid */

.icons-prestige-wr{
  display:flex;
}  
.icons-prestige-wr > .icons-prestige-single{
  width: 20%  
}
.icons-prestige-single > p{
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding: 15px 15px 0 15px;
}
.prestige-img-wr{
  display: flex;
  min-height: 60px;
  justify-content: center;
}
.prestige-img{
  max-height: 60px;
  max-width: 120px;
}
@media only screen and (max-width: 641px){
  .icons-prestige-wr{
	width: 80%;
  }
  .icons-prestige-wr > .icons-prestige-single{
    scroll-snap-align: center;
	flex: 0 0 45%;
    padding: 0 10px;
  }
  .prestige-img-wr{
    max-width: 120px;
    align-items: center;
    margin: auto;
  }
  .icons-prestige-single > p{
    padding: 15px 0;
  }
  .prestige-img{
    max-height: 50px;
    max-width: 100px;
  }
  .icons-prestige-single{
    padding: 0 15px;
  }
}

/* icons-delivery-info.liquid */

.icons-container{
  display: flex;
  justify-content: space-around;
}
.icons-del-wr{
  display: flex;
  flex-direction: column;
  color: #f8f8f8;
  align-items: center;
  padding: 0 25px;
  text-align: center;
}
.icons-del-wr > span {
  font-size: 40px;
  color: #fac636;
  padding-bottom: 10px;
}
.icon-Europe-Map:before {
  content: "\e92f";
  color: #fac636;
}
@media only screen and (max-width: 641px) {
  icons-del-wr > span {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .icons-del-wr{
    scroll-snap-align: center;
    flex: 0 0 33%;
    padding: 0 20px 20px 20px;
  }
  .icons-container{
	overflow-x: scroll;
    scroll-snap-type: x mandatory;
	width: 100%;
    justify-content: flex-start;
  }
}

/* text-simple.liquid */

.image-text-simple{
  margin-top: 30px;
}