/* Home Cover Pages */

.promotion-home-hero_content_container{
  height: 100%;
  padding: 100px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_promotional_content_wrapper{
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
}

.homePromotional_svg_ribbon{
  position: absolute;
  top: 64%;
}

.home_promotional_bottom_part{
  display: flex; 
  justify-content: center;
  text-align: center;
  margin-top: -20%;
}

@media screen  and (min-width: 1024px){
  .promotion-home-hero_content_container, .homePromotional_svg_ribbon{
    width: 40%;
  }
  .home_promotional_bottom_part{
    padding: 15px 0 30px 0; 
  }
}

@media screen  and (min-width: 500px) and (max-width: 1023px) and (orientation: landscape){
  .promotion-home-hero_content_container, .homePromotional_svg_ribbon{
    width: 40%;
  }
}

@media screen  and (min-width: 500px) and (max-width: 1023px) and (orientation: portrait){
  .promotion-home-hero_content_container, .homePromotional_svg_ribbon{
    width: 55%;
  }
}

@media screen  and (max-width: 499px) and (orientation: portrait) {
  .promotion-home-hero_content_container, .homePromotional_svg_ribbon{
    width: 100%;
  }
}