.certificate-hp {
  background: #5b5b5b;
  height: 70px;
  text-align: center;
  position:relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-certificate{
  width: 100px;
  position: relative;
  margin: -60px 20px 0 20px;
}
.badge-certificate-text{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
  line-height: normal;
  padding-left: 20px;
}
.u_h1_main{
  font-size:3.5rem;
  line-height: 1.2;
  margin-top: 10px;
}
@media screen  and (max-width: 640px) and (orientation: portrait) {
  .badge-certificate-text{
      font-size: 14px;
  }
}
@media screen  and (max-width: 640px) and (orientation: landscape) {
  .badge-certificate-text{
      font-size: 14px;
  }
}
@media screen  and (max-width: 768px) {
  .badge-certificate-text{
      font-size: 14px;
  }
  .u_h1_main{
    font-size:30px;
    margin-top: 0;
    margin-bottom:0
  }
}