$(document).ready(function (){
  const addSuccessIcon = $('.ProductForm input[type=file]');
  addSuccessIcon.change(function(){
    $('.cl-po--upload-files').html('<span class="icon-checkmark"></span>');
  });
    
});


