.SuggestedUpProd_ContentWr{
  display: flex;
  border: #ccc 1px solid;
  border-radius: 3px;
  padding: 9px 11px;
  margin-top: 20px;
  justify-content: center;
  align-content: center;
}
.SuggestedUpProd_imageWr{
  max-width: 110px;
}
.SuggestedUpProd_infoWr{
  max-width: 220px;
}
.SuggestedUpProd_infoWr > a > h2{
  font-weight: bold;
}

@media only screen (min-width: 401px){
  .SuggestedUpProd_imageWr{
    max-width: 135px;
  }
}