.text-with-image-new_ContentWrapper{
  padding-left: 0px;
  padding-right: 0;
}
.balance-schlafmaske-heading{
	padding: 0 25px;
}
@media only screen and (min-width: 1024px){
  .balance-schlafmaske-padding{
  	padding-bottom: 50px;
  }
}
@media only screen and (max-width: 640px){
  .balance-schlafmaske-heading{
  	padding-top: 34px;
  }
  .spacer{
    padding: 0 !important;
  }
  .FeatureText{
    display: grid;
  }
  .FeatureText__ContentWrapper{
    order: 2;
  }
  .FeatureText__ImageWrapper{
    order: 1;
  }
  .icon_html_img{
	margin-bottom: 10px;
  }
  .gewichtsdecken-im-test-padding .SectionHeader__Heading{
  	padding: 0 25px;
  }
}
@media only screen and (min-width: 641px){
  .HTMLimg__WithIcon{
	display:flex;
	align-items:center;
  }
  .HTMLimg__titleWithIcon{
	padding-left: 8px;
  }
  .gewichtsdecken-im-test-padding .SectionHeader__Description{
	padding: 0!important;
  }
}
.icon_html_img{
  line-height: 1.1;
}
.text-align-left{
  text-align: left;
}