/* Home Cover Pages */

.Centered_Promotional{
  height: 100%;
  padding: 100px 0 30px 0;
  margin: auto;
}
.home_promotional_content_wrapper{
  width: 50%;
  margin: auto;
}
.button-cover{
  margin-top: 30px;
}

@media screen  and (max-width: 1400px) and (orientation: portrait) {
  .home_promotional_content_wrapper{
    width: 86%;
    margin: auto;
  }
}