/* Home Cover Pages */

.Centered_Promotional{
  height: 100%;
  padding: 100px 0 30px 0;
  margin: auto;
}
.home_promotional_content_wrapper{
  width: 40%;
  margin: auto;
}
.mask_text{
  padding-left: 10px;
  padding-right: 30px;
  line-height: 1.1;
}
.button-cover{
  margin-top: 30px;
}

@media screen  and (max-width: 640px) and (orientation: portrait) {
  .home_promotional_content_wrapper{
    width: 86%;
    margin: auto;
  }
  .badge-certificate{
    width: 80px !important;
    margin: -40px 20px 0 20px !important;
  }
}