<!-- page.anwendung.liquid -->
{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag }}
<div class="Container Container--standard--medium anwendung-grid">
   <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
         <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </div>
   </header>
   <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte">
      {{ page.content }}
      <div class="lp_anwendung_wp">
         <p>Unsere Empfehlung, dass das Gewicht der Decke etwa 10% des Körpergewichts betragen sollte, basiert vor allem auf Kundenerfahrungen und Studien. Dennoch kann es sein, dass Sie zur Entfaltung der Wirkung mehr oder weniger Gewicht benötigen. Letztendlich entscheidet Ihre eigene Empfindung, denn jeder Körper reagiert individuell. Befolgen Sie unsere Anwendungshinweise und Sie werden herausfinden, ob Ihre Decke das richtige Gewicht für Sie hat.</p>
         <h2 class="Heading u-h2">Anwendungsbereiche</h2>
         <p>Eine Therapiedecke kann vielseitig eingesetzt werden. Denn die schwere Decke hat eine beruhigende und entspannende Wirkung, was bei einigen Tätigkeiten besonders vorteilhaft ist.</p>
         <div class="pic_lp1_wp"><img class="pic_lp1" loading="lazy" src="https://cdn.shopify.com/s/files/1/0053/3243/4990/files/anwendung_1.jpg?v=1624358239" alt=""></div>
         <div class="icon_text_lp_wp" style="margin-bottom:30px">
            <div class="icon_lp_wp"><span class="icon_120 icon-sleep"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></div>
            <div class="text_lp_wp">
               <h2 class="Heading u-h2">Eine Gewichtsdecke zum Schlafen</h2>
               <p>Die häufigste Anwendung findet eine Therapiedecke im Schlafzimmer. Dabei ersetzt die Gewichtsdecke zeitweise oder komplett die gebräuchliche Bettdecke. Das Gewicht der Decke fördert schnelleres Einschlafen und einen tieferen Schlaf. Gerade Menschen mit Schlafproblemen, viel Stress und innerer Unruhe können dank der Gewichtsdecke die Schlafqualität verbessern und so erholter in den nächsten Tag starten.</p>
            </div>
         </div>
         <div class="icon_text_lp_wp" style="margin-bottom:30px">
            <div class="icon_lp_wp"><span class="icon_120 icon-sofa-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
            <div class="text_lp_wp">
               <h2 class="Heading u-h2">Eine Gewichtsdecke für die Couch</h2>
               <p>Am Abend lassen die meisten Menschen den Tag ausklingen, indem sie es sich abends auf der Couch gemütlich machen. Viele Ereignisse, Termine und Stress können jedoch diese Einleitung der Erholungsphase beeinträchtigen. Das Gewicht einer Therapiedecke stimuliert den gesamten Körper, sodass er herunterfahren und sich die notwendige Entspannung holen kann. Auch für kurze Ruhepausen tagsüber wie beim Mittagsschlaf oder Lesen sorgt die Gewichtsdecke für zusätzliche Beruhigung und Gelassenheit.</p>
            </div>
         </div>
         <div class="icon_text_lp_wp" style="margin-bottom:30px">
            <div class="icon_lp_wp"><span class="icon_120 icon-yoga"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span></div>
            <div class="text_lp_wp">
               <h2 class="Heading u-h2">Eine Gewichtsdecke beim Sport</h2>
               <p>Der beruhigende Effekt einer Therapiedecke kann bei einigen sportlichen Aktivitäten sehr hilfreich sein. Gerade dann, wenn der Körper schon einiges geleistet hat und nun in den Zustand der Ruhe und Entspannung zurückgebracht werden soll. Dies bietet sich vor allem bei Meditationen und Yoga, aber auch bei anderen Übungen an. Das Gewicht wirkt zusätzlich beruhigend und hilft dabei, den Körper spürbar wahrzunehmen und so im Hier und Jetzt anzukommen.</p>
            </div>
         </div>
         <h2 class="Heading u-h2">Wie nutze ich die Gewichtsdecke?</h2>
         <p> </p>
         <ul style="list-style-position: inherit; padding-left: 15px;margin-bottom:20px;">
            <li>Geben Sie Ihrem Körper genügend Zeit, sich langsam an das Gewicht zu gewöhnen. Dafür bieten wir die 28 Tage Testzeit an.</li>
            <li>Achten Sie immer auf Ihre Wahrnehmung, ob Sie sich angenehm umarmt unter der Decke fühlen. Ihr Wohlbefinden steht im Vordergrund.</li>
            <li>Der Druck der Gewichtsdecke sollte angenehm sein. Fühlen Sie sich eingeengt, ist dies ein Hinweis für eine zu schwere Decke.</li>
            <li>Die Decke kann auch nur auf bestimmte Körperteile gelegt werden.</li>
            <li>Verwenden Sie die Therapiedecke immer dann, wenn Ihnen danach ist. Sie können sie täglich, aber auch zeitbegrenzt verwenden.</li>
         </ul>
         <p>Eine Therapiedecke ist nicht mit einer normalen Bettdecke gleichzusetzen. Daher sollten Sie Ihren Körper langsam an das Gewicht gewöhnen. Zunächst kann das Gewicht zu viel für Sie wirken – dann sollten Sie sich unbedingt an unser Anwendungsvorschlag halten und die Verwendung schrittweise erhöhen. Fühlt sich das Gewicht von Anfang an wohltuend an, spricht nichts dagegen, die Decke schon für längere Zeit zu nutzen. Sie werden dann feststellen, ob das Gewicht angemessen ist oder ggf. noch erhöht werden kann.</p>
         <h2 class="Heading u-h2">Unser Anwendungsvorschlag</h2>
         <div class="timeline_anwendung_wp" style="margin-bottom:20px;">
            <ul class="timeline_anwendung">
               <li>
                  <span class="number_icon">1</span>
                  <div class="Heading u-h6">15 Minuten am Tag</div>
                  Gewöhnen Sie Ihren Körper langsam an das Gewicht. Nutzen Sie zu Beginn die Decke für etwa 15 Minuten und schauen Sie, wie Ihr Körper auf das Gewicht reagiert. Fühlen Sie sich angenehm umarmt?
               </li>
               <li>
                  <span class="number_icon">2</span>
                  <div class="Heading u-h6">1 Stunde am Tag</div>
                  Erhöhen Sie langsam die Anwendungszeiten und beobachten Sie, wie wohl Sie sich unter der Decke fühlen. Ggf. stellen Sie jetzt fest, ob das Gewicht zu hoch oder niedrig gewählt ist. Falls ja, hilft Ihnen unser Kundenservice bei einem Umtausch weiter.
               </li>
               <li>
                  <span class="number_icon">3</span>
                  <div class="Heading u-h6">Komplette Nacht</div>
                  Der Körper hat sich auf das Gewicht gut eingestellt und Sie können keine Beschwerden feststellen. Nun können Sie die Therapiedecke die gesamte Nacht verwenden und Ihre Schlafqualität gezielt verbessern.
               </li>
               <li>
                  <span class="number_icon">4</span>
                  <div class="Heading u-h6">Gewöhnung setzt ein?</div>
                  Der Mensch ist ein Gewohnheitstier. Auch bei einer Gewichtsdecke ist eine Gewöhnung nicht unüblich. Eine Gewichtssteigerung ist nicht notwendig, denn Sie können die Therapiedecke einfach für einige Nächte aus Ihrem Schlafzimmer verbannen. Danach sollte wieder ein spürbarer Effekt eintreten.
               </li>
            </ul>
         </div>
         <div class="lp_btn_wp lp1_btn_style text-link"><a class="Button Button--primary" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"><span>Zu den Therapiedecken</span></a></div>
      </div>
   </div>
</div>