<!-- page: wirkung.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag}}

<div class="grid">
   <div class="grid__item large--five-sixths push--large--one-twelfth">
      <header class="section-header text-center">
         <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </header>
      <div class="rte">
               <meta charset="utf-8" />
               <p>Therapiedecken bewirken mit dem gefüllten Gewicht eine Schwere, die sich beim Auflegen auf den Körper durch
                  Entspannung bemerkbar macht. Der Tiefendruck, der dabei entsteht, vermittelt dem Gehirn das gleiche Signal, das bei
                  einer liebevollen Umarmung entsteht.
               </p>
               <div class="social social-new image-left">
                  <img loading="lazy" style="margin-right: 10px;" class="socialimg rte__no-indent"
                     src="https://cdn.shopify.com/s/files/1/2451/6611/files/gravity-therapiedecke.jpg?v=1601046975" />
                  <div>
                     <p style="text-align: left;">Die Decken sind bis zu 12 kg schwer und angepasst an das Körpergewicht und
                        persönliche Empfinden individuell wählbar. <br /><br />Bei angemessenem Gewicht wird die Ausschüttung des
                        Glückshormons Serotonin und des Schlafhormons Melatonin gefördert und gleichzeitig der Cortisolspiegel (sog.
                        Stresshormon) gesenkt. <br /><br /> Das Ergebnis ist ein euphorisches Gefühl der völligen Entspannung des
                        Körpers und des Nervensystems.
                     </p>
                  </div>
               </div>
               <div class="social social-new image-right">
                  <img loading="lazy" class="socialimg rte__no-indent"
                     src="https://cdn.shopify.com/s/files/1/2451/6611/files/kinder-therapiedecken.jpg?v=1601046949" />
                  <div>
                     <p style="text-align: left;">Das Gewicht wirkt sich nicht nur positiv auf den Schlaf aus, indem Tiefschlafphasen
                        schneller erreicht werden können, sondern auch beim Entspannen auf der Couch, beim Lesen und Fernsehen.
                        Ausreichende Erholung des Körpers und Geistes, die durch Steigerung der Schlafqualität und intensive
                        Entspannung erreicht werden kann, hat zweifellos Einfluss auf den Gesundheitszustand und das Berufsleben.
                        <br /><br /> Durch Nutzung der Decke kann das Stresslevel sinken, Schlafprobleme gelöst und die
                        Produktivität gesteigert werden. Gelassenheit und Ausgeglichenheit stehen anstelle von Reizbarkeit und
                        innerer Unruhe.
                     </p>
                  </div>
               </div>
               <meta charset="utf-8" />
               <p><span></span><strong>Lesen Sie jetzt mehr über die positive Wirkung der Gewichtsdecken für die jeweiligen
                  Erkrankungen, Störungen und Symptome:</strong>
               </p>
               <center>
                  <div class="wk_wr_all">
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/zusammenfassung-aller-vorteile-von-therapiedecken">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_Quality01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">- Therapiedecken -</div>
                                 <h3>Zusammenfassung aller Vorteile</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-bei-schlafstorungen-schlafproblemen">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_Sleep01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>Schlafstörungen / Schlafprobleme</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-helfen-bei-stress">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_Stress01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>Stress</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-helfen-bei-angstzustande-und-panikattacken">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_Anxiety01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>Angstzuständen und Panikattacken</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-fur-ein-besseres-wohlbefinden">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_WellBeing01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken für ein</div>
                                 <h3>Besseres Wohlbefinden</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-helfen-bei-adhs-und-add">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_ADD01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>ADHS / ADD</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-helfen-bei-asperger-syndrom-und-autismus">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr">
                                 <span class="wk_icon_size icon-Icons_Autism01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>Asperger-Syndrom und Autismus</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                     <div class="wk21_wr">
                        <a href="https://therapiedecken.de/pages/therapiedecken-helfen-bei-alzheimer-parkinson-und-demenz-1">
                           <div class="wk21_widget_wr">
                              <div class="wk_icon_wr" style="height: 100px;">
                                 <span class="wk_icon_size icon-Icons_Alzheimer01"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
                              </div>
                              <div class="wk21_text_wr">
                                 <div style="margin-bottom: -10px;">Therapiedecken bei</div>
                                 <h3>Alzheimer, Parkinson und Demenz</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </center>
               <div>
                  <p>
                     <span>Weitere interessante Artikel über Therapiedecken finden Sie hier:</span>
                  </p>
                  <meta charset="utf-8" />
                  <p>
                     <span><a href="https://therapiedecken.de/blogs/news/wie-wirkt-eine-gewichtsdecke">Wie wirkt eine
                     Gewichtsdecke?</a></span>
                  </p>
                  <meta charset="utf-8" />
                  <p>
                     <span><a href="https://therapiedecken.de/blogs/news/fur-wen-ist-eine-gewichtsdecke-geeignet">Für wen ist eine
                     Gewichtsdecke geeignet?</a></span>
                  </p>
                  <p>
                     <span>Bei weiteren Fragen besuchen Sie bitte unsere </span><a
                        href="https://therapiedecken.de/pages/faq" class="Link--underline">FAQ</a><span>
                     Seite oder schreiben Sie uns eine E-Mail an
                    <b>kundenservice@therapiedecken.de.</b></span>
                  </p>
               </div>
            </div>
   </div>
</div>