<!-- page.gewichtsdecken_fur_kinder.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag }}

<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
          <!-- HC - Newsletter page changes - 20 Apr '18 -->
          {% if page.handle == 'newsletter-abonnieren'%}
          {% section 'newsletter-abonnieren' %}
          {% else %}
          {{ page.content }}
          
          <div style="text-align: center;"></div>
          <div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Kinder_Therapiedecke_Gewichtsdecke_copy.jpg?v=1581538721" alt="therapiedecken gewichtstdecken für kinder gegen adhs schlafprobleme " width="" height="" /></div>
          <h2 class="Heading u-h2">Wann kann eine Therapiedecke helfen?</h2>
          <p><span style="font-weight: 400;">Als Elternteil möchte man nur das Beste für sein Kind. Manchmal ist es der Wunsch, dass das Kind abends schnell einschlafen kann oder nachts nicht mehrmals wach wird. Unsere Kleinen sind oft schlecht gelaunt oder weinerlich nur, weil sie nicht genug Schlaf bekommen haben. Ist Ihr Kind eher ängstlich oder überdreht und kommt abends nicht zur Ruhe? In anderen Fällen sind die Sorgen um das Wohlbefinden des Kindes durch eine Erkrankung begründet. Vielleicht wurde Ihr Kind mit einer Entwicklungs- oder sensorischen Integrationsstörung diagnostiziert? Sie wissen mittlerweile was Ihrem Kind gut tut und was nicht. Wenn Sie außerdem großen Wert auf beste Qualität und Nachhaltigkeit bei der Herstellung legen, dann sind Sie bei TherapieDecken.de genau richtig.</span></p>
          <h2 class="Heading u-h2">Wie funktioniert eine Gewichtsdecke?</h2>
          <p><span style="font-weight: 400;">Unsere Gewichtsdecken (</span><i><span style="font-weight: 400;">auch sensorische Decke genannt</span></i><span style="font-weight: 400;">) werden erfolgreich bei der Behandlung von Kindern mit Autismus (ASD), Asperger-Syndrom (AS), ADHS oder bei Sensorischen Integrationsstörungen (SID) eingesetzt. </span>Die Gewichtsdecke übt einen angenehmen und festen Druck aus und aktiviert damit tiefsitzende Rezeptoren. Das Kind kann den Körper nun intensiver wahrnehmen: ein Gefühl von Sicherheit und Geborgenheit stellt sich ein und das Kind entspannt sich. Diese körperliche Entspannung wirkt sich wiederum auf den Geist und das Wohlbefinden aus.</p>
          <meta charset="utf-8" />
          <h2 class="Heading u-h2"><span>Wie schwer muss eine Kinder Gewichtsdecke sein?</span></h2>
          <p><span style="font-weight: 400;">Generell empfehlen wir, dass das Gewicht der Therapiedecke etwa 10% des Körpergewichts betragen soll. Bei Kindern hängt dies ebenfalls von der Körpergröße ab, sodass das Deckengewicht auch auf die Größe der Decke abgestimmt werden kann. Wenn Sie sich für eine etwas größere Decke entscheiden, können Sie auch das Gewicht leicht erhöhen. Grundsätzlich gilt, dass sich das Kind eigenständig von der Decke befreien sollte. Hier sollten Sie das Kind einbeziehen und nach dem Wohlbefinden fragen. Ist die Decke zu leicht, können Sie gerne unsere Beratung in Anspruch nehmen und wir besprechen, welches Gewicht für Ihr Kind gut funktionieren könnte. Alle empfohlenen Werte sind nur Richtwerte und können im individuellen Fall auch abweichen. </span></p>
          <h2 class="Heading u-h2"><span style="font-weight: 400;">Welche Gewichtsdecken gibt es für Kinder?</span></h2>
          <p><span style="font-weight: 400;">Wir sind der Meinung, dass Medizinprodukte nicht langweilig aussehen müssen, deswegen bieten wir eine große Auswahl an kinderfreundlichen Mustern an, die von Tieren über Fahrzeuge zu aktuellen Märchenhelden reichen. Bei der Farbgebung wählen wir meistens ruhige Töne, damit das Kind von den Farben nicht zu stark stimuliert wird. Auch unsere Gravity Decke gibt es inzwischen für Kinder, die besonders aufgrund der Wärme und das kuschelige Gefühl beliebt ist.</span></p>
          <p><span style="font-weight: 400;">Wir schätzen Ihr Vertrauen und wissen, dass eine Gewichtsdecke eine Investition in das Wohlbefinden Ihres Kindes ist. Deswegen sind unsere Produkte sehr langlebig und pflegeleicht. Die Herstellung basiert auf unserem Wissen, das wir in den USA erworben haben, und modernster Technologie. Sie kaufen damit ein Qualitätsprodukt. Sowohl die Stoffe, als auch die Füllstoffe der Gewichtsdecken, sind zu 100% hypoallergen und atmungsaktiv.</span></p>
          <p><span style="font-weight: 400;">Unsere Therapiedecken können bei niedrigen Temperaturen in der Waschmaschine gewaschen werden. </span></p>
          <p><span style="font-weight: 400;">Wenn Sie sich für den Kauf einer Therapiedecke entscheiden, haben Sie 28 Tage Rückgaberecht und können sich jederzeit an unseren Kundenservice wenden. Wir sind für Sie da. Ebenfalls kommen alle </span><a href="https://therapiedecken.de/collections/kinder">Kinder Therapiedecken</a> mit einer <a href="https://therapiedecken.de/pages/1-jahr-wachstums-garantie">1-Jahr- Wachstums-Garantie</a>.</p>
          <div class="wirkung-container">
             <h3 class="wirkung-container-title Heading u-h3">Jetzt 28 Tage Probeschlafen!</h3>
             <div class="wirkung-container-subcontent">
                <p>Lassen Sie Ihr Kind jetzt eine Therapiedecke für 28 Tage testen.</p>
             </div>
             <div class="wirkung-container-thumb"><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecke_Therapiedecke_28_Tage_Probeschlafen_Kinder_Schlafprobleme.png?v=1581530911" class="responsive-wirkung" /></div>
             <div class="wirkung-container-content">
                <ul class="wirkung-bullets">
                   <li>Kostenloser Versand</li>
                   <li>Gratis Umtausch</li>
                   <li>28 Tage Probeschlafen</li>
                   <li>100% Geld-Zurück-Garantie</li>
                </ul>
             </div>
             <a style="margin-top:25px;" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Jetzt 28 Tage Probeschlafen!</span></a>
             <!--<a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"><button class="button-wirkung">Jetzt 28 Tage Probeschlafen!</button></a>-->
          </div>
          <p><span style="font-weight: 400;">Falls Sie mehr Informationen zur Herstellung oder zum richtigen Deckengewicht für Kinder benötigen, besuchen Sie bitte folgende Webseiten: <a href="https://therapiedecken.de/pages/herstellung" title="herstellung kinder gewichtsdecken westen" class="Link--underline">Herstellung</a> und <a href="https://therapiedecken.de/pages/deckengewicht" title="richtiges deckengewicht gewichtsdecke" class="Link--underline">Deckengewicht</a></span></p>
          <meta charset="utf-8" />
          <p><span style="font-weight: 400;"><span>Bei weiteren Fragen besuchen Sie bitte unsere </span><a href="https://therapiedecken.de/apps/help-center" class="Link--underline">FAQ</a><span> Seite oder schreiben Sie uns eine E-Mail an <b>kundenservice@therapiedecken.de.</b></span></span></p>
          
          {% endif %}
          
          {% comment %}{% include 'judgeme_all_reviews' %}{% endcomment %}
          
{% if page.handle == 'therapiedecken-helfen-bei-alzheimer-parkinson-und-demenz-1'  %} 

{% include 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: true %}  {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>

