<!-- page.vergleich.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag}}


<div class="grid vergleich-grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </div>
    </header>
    <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
          <p>Erreichen Sie mit einer Therapiedecke einen besseren Schlaf, Reduzierung von Stress und Angstattacken. Alle Therapiedecken erfüllen den gleichen Zweck, indem sie Gewicht auf den Körper ausüben und eine sog. Deep-Pressure-Stimulation hervorrufen. Finden Sie hier heraus, welche Decke Ihren Bedürfnissen am besten gerecht wird.</p>
          <div class="vergleich-inner">
             <div class="vergleich-item">
              <div class="vergleich-img">
                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Therapiedecken-Cover-Bild-_0002_Layer_1_f1010c14-412a-442f-b1ac-10b65b28a3da.jpg?v=1630572154">
              </div>
              <h2 class="ProductItem__Title Heading">Premium Balance Therapiedecke</h2>
              <a href="/pages/therapiedecken" class="Button Button--primary">Mehr Erfahren</a>
              <hr class="vergleich-divider">
              <div class="vergleich-section verfugbar-height">
                <div class="title">Verfügbar für</div>
                <p>Kinder und Erwachsene</p>
              </div>
              <div class="vergleich-section besonderheit">
                <div class="title">Besonderheit</div>
                <p class="u-h6 top10">Die Alleskönner Therapiedecke</p>
                <p>Viele Vorteile in einer Decke vereint. Einfache Handhabung, optimale Gewichtsverteilung und Reißverschlüsse zum Beziehen.</p>
              </div>
              <div class="vergleich-section gewichtsverteilung-height">
                <span class="icon icon-icn_stability100-1"></span>
                <p class="u-h6 top10">100%</p>
                <div class="title">Gewichtsverteilung und Füllung</div>
                <p>Fest und stabil. Fixierte Kügelchen aus Edelstahl sorgen für ideale Gewichtsverteilung</p>
              </div>
              <div class="vergleich-section bezugssystem-height">
                <span class="icon icon-icn_zipper"></span>
                <div class="title">Bezugssystem</div>
                <p class="u-h6 top10">Reißverschluss</p>
                <p>Bezug über Reißverschluss am Inlett befestigt und besonders leicht zu wechseln</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <span class="icon icon-premium-cotton"></span>
                <div class="title">Bezug</div>
                <p>Premium Bezüge aus hochwertiger Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Inlett</div>
                <p class="u-h6 top10">Premium Inlett</p>
                <p>Premium Inlett aus 100% Baumwolle mit Füllung aus Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Waschbar</div>
                <p class="u-h6 top10">Jain</p>
                <p>Nur Bezug bei 40° waschbar</p>
              </div>
              <div class="vergleich-section">
                <div class="title">Anwendungsdauer</div>
                <p class="u-h6 top10">ab 15 Minuten täglich</p>
                <p>Wir empfehlen generell, die Verwendung von Gewichtsdecken zunächst langsam zu beginnen. Steigen Sie mit 15 Minuten ein und erhöhen Sie die Anwendung, wenn sich Ihr Körper wohl mit dem Gewicht fühlt. Ihr Empfinden bietet Ihnen hier viel Orientierung.</p>
              </div>
            </div>
            <div class="vergleich-item">
              <div class="vergleich-img">
                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Therapiedecken-Cover-Bild-_0001_Layer_2_41f8af9d-0227-4d56-a288-ffed4189921c.jpg?v=1630572153">
              </div>
              <h2 class="ProductItem__Title Heading">Standard Gravity Therapiedecke</h2>
              <a href="/pages/therapiedecken" class="Button Button--primary">Mehr Erfahren</a>
              <hr class="vergleich-divider">
              <div class="vergleich-section verfugbar-height">
                <div class="title">Verfügbar für</div>
                <p>Kinder und Erwachsene</p>
              </div>
              <div class="vergleich-section besonderheit">
                <div class="title">Besonderheit</div>
                <p class="u-h6 top10">Die bekannteste Therapiedecke</p>
                <p>Das beliebte und bekannteste Modell unter den Gewichtsdecken. Inlett mit Schlaufen und hochwertigen Premium Bezügen.</p>
              </div>
              <div class="vergleich-section gewichtsverteilung-height">
                <span class="icon icon-icn_stability80"></span>
                <p class="u-h6 top10">80%</p>
                <div class="title">Gewichtsverteilung und Füllung</div>
                <p>Beweglich und anschmiegsam. Bewegungen der Glasperlen innerhalb der Quadrate möglich, Bezug stabilisert zusätzlich</p>
              </div>
              <div class="vergleich-section bezugssystem-height">
                <span class="icon icon-icn_loopribbon"></span>
                <div class="title">Bezugssystem</div>
                <p class="u-h6 top10">Schlaufen</p>
                <p>Bezug über Schlaufen am Inlett befestigt</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <span class="icon icon-premium-cotton"></span>
                <div class="title">Bezug</div>
                <p>Premium Bezüge aus hochwertiger Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Inlett</div>
                <p class="u-h6 top10">Basic Inlett</p>
                <p>Basic Inlett aus 100% Baumwolle mit Füllung aus Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Waschbar</div>
                <p class="u-h6 top10">Ja</p>
                <p>Inlett bei 30° schonend waschbar, Bezüge bei 40° waschbar (Füllmenge der Waschmaschine beachten!)</p>
              </div>
              <div class="vergleich-section">
                <div class="title">Anwendungsdauer</div>
                <p class="u-h6 top10">ab 15 Minuten täglich</p>
                <p>Wir empfehlen generell, die Verwendung von Gewichtsdecken zunächst langsam zu beginnen. Steigen Sie mit 15 Minuten ein und erhöhen Sie die Anwendung, wenn sich Ihr Körper wohl mit dem Gewicht fühlt. Ihr Empfinden bietet Ihnen hier viel Orientierung.</p>
              </div>
            </div>            
          	<div class="vergleich-item">
              <div class="vergleich-img">
                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Therapiedecken-Cover-Bild-_0000_Layer_3_3c4cd4da-5887-4693-81b5-aafcc051537d.jpg?v=1630572153">
              </div>
              <h2 class="ProductItem__Title Heading">Basic Gravity Therapiedecke</h2>
              <a href="/collections/therapiedecken-erwachsene/products/basic-gravity-gewichtsdecke-fur-erwachsene" class="Button Button--primary">Mehr Erfahren</a>
              <hr class="vergleich-divider">
              <div class="vergleich-section verfugbar-height">
                <div class="title">Verfügbar für</div>
                <p>Erwachsene</p>
              </div>
              <div class="vergleich-section besonderheit">
                <div class="title">Besonderheit</div>
                <p class="u-h6 top10">Die Einsteiger Therapiedecke</p>
                <p>Für alle, die sich mit dem Konzept der schweren Decken vertraut machen wollen. Inlett mit Schlaufen und Basic Bezügen.</p>
              </div>
              <div class="vergleich-section gewichtsverteilung-height">
                <span class="icon icon-icn_stability80"></span>
                <p class="u-h6 top10">80%</p>
                <div class="title">Gewichtsverteilung und Füllung</div>
                <p>Beweglich und anschmiegsam. Bewegungen der Glasperlen innerhalb der Quadrate möglich, Bezug stabilisert zusätzlich</p>
              </div>
              <div class="vergleich-section bezugssystem-height">
                <span class="icon icon-icn_loopribbon"></span>
                <div class="title">Bezugssystem</div>
                <p class="u-h6 top10">Schlaufen</p>
                <p>Bezug über Schlaufen am Inlett befestigt</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <span class="icon icon-icn_basiccotton"></span>
                <div class="title">Bezug</div>
                <p>Basic Bezüge aus Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Inlett</div>
                <p class="u-h6 top10">Basic Inlett</p>
                <p>Basic Inlett aus 100% Baumwolle mit Füllung aus Baumwolle/Polyester</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Waschbar</div>
                <p class="u-h6 top10">Ja</p>
                <p>Inlett bei 30° schonend waschbar, Bezüge bei 40° waschbar (Füllmenge der Waschmaschine beachten!)</p>
              </div>
              <div class="vergleich-section">
                <div class="title">Anwendungsdauer</div>
                <p class="u-h6 top10">ab 15 Minuten täglich</p>
                <p>Wir empfehlen generell, die Verwendung von Gewichtsdecken zunächst langsam zu beginnen. Steigen Sie mit 15 Minuten ein und erhöhen Sie die Anwendung, wenn sich Ihr Körper wohl mit dem Gewicht fühlt. Ihr Empfinden bietet Ihnen hier viel Orientierung.</p>
              </div>
            </div>
            <div class="vergleich-item">
              <div class="vergleich-img">
                <img loading="lazy" src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecken_Vergleich_Sternen_Therapiedecke.jpg?v=1630572153">
              </div>
              <h2 class="ProductItem__Title Heading">Medizinische Therapiedecke</h2>
              <a href="/pages/therapiedecken" class="Button Button--primary">Mehr Erfahren</a>
              <hr class="vergleich-divider">
              <div class="vergleich-section verfugbar-height">
                <div class="title">Verfügbar für</div>
                <p>Kinder</p>
              </div>
              <div class="vergleich-section besonderheit">
                <div class="title">Besonderheit</div>
                <p class="u-h6 top10">Die medizinische Therapiedecke</p>
                <p>Eine Gewichtsdecke in ihrer reinsten Form. Das ursprüngliche Modell ohne Bezüge und aus reiner Baumwolle.</p>
              </div>
              <div class="vergleich-section gewichtsverteilung-height">
                <span class="icon icon-stability70"></span>
                <p class="u-h6 top10">70%</p>
                <div class="title">Gewichtsverteilung und Füllung</div>
                <p>Beweglich und anschmiegsam. Bewegungen der Glasperlen innerhalb der Quadrate möglich</p>
              </div>
              <div class="vergleich-section bezugssystem-height">
                <span class="icon icon-icn_none"></span>
                <div class="title">Bezugssystem</div>
                <p>Ohne Bezug, dafür ideal als Überdecke oder normale Bettdecke im Sommer</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <span class="icon icon-icn_none"></span>
                <div class="title">Bezug</div>
                <p>Ohne, nicht abziehbar</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Inlett</div>
                <p class="u-h6 top10">Basic Inlett</p>
                <p>Basic Inlett aus 100% Baumwolle</p>
              </div>
              <div class="vergleich-section vergleich-height">
                <div class="title">Waschbar</div>
                <p class="u-h6 top10">Ja</p>
                <p>Decke bei 30° schonend waschbar (Füllmenge der Waschmaschine beachten!)</p>
              </div>
              <div class="vergleich-section">
                <div class="title">Anwendungsdauer</div>
                <p class="u-h6 top10">ab 15 Minuten täglich</p>
                <p>Wir empfehlen generell, die Verwendung von Gewichtsdecken zunächst langsam zu beginnen. Steigen Sie mit 15 Minuten ein und erhöhen Sie die Anwendung, wenn sich Ihr Körper wohl mit dem Gewicht fühlt. Ihr Empfinden bietet Ihnen hier viel Orientierung.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </div>
</div>