<!-- page.krankenkassen_und_gewichtsdecken.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag}}


<div class="Container Container--standard--medium">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent {% unless section.settings.show_large %}PageContent--narrow{% endunless %} Rte">
    <p>Bisher zählen Gewichtsdecken nicht zu den anerkannten Hilfsmitteln bei deutschen Krankenkassen. Deshalb sind diese auch nicht im Hilfsmittelkatalog aufgeführt. Dies bedeutet nicht, dass Therapiedecken keine Wirkung haben. Vielmehr ist mit der Einführung eines neuen Hilfsmittels ein großer bürokratischer Aufwand verbunden. Gewichtsdecken galten bislang als Nischenprodukt und standen vor wenigen Jahren noch nicht dem allgemeinen Haushalt zur Verfügung. Wir setzen uns allerdings aktiv dafür ein, dass jeder von der Wirkung einer Gewichtsdecke profitieren kann - um Erkrankungen oder Schlafstörungen entgegenzuwirken oder nur um das eigene Wohlbefinden zu steigern.</p> 
      <p>Auch wenn Gewichtsdecken noch nicht im Hilfsmittelkatalog aufgeführt sind, lohnt es sich bei Ihrer Krankenkasse gezielt nachzufragen. Hilfreich kann auch eine Empfehlung oder Überweisung eines Arztes sein. Auf Anfrage stellen wir Ihnen gerne einen Kostenvoranschlag aus.</p>
    <p>Während die meisten Krankenkassen die Kosten für Gewichtsdecken nicht übernehmen, gibt es jedoch sehr wenige die dies tun. Wir haben einige Kunden bei denen die <em>LKV (Landwirtschaftliche Krankenversicherung)<strong> </strong></em><strong></strong>bis zu 60% der Decke erstattet haben. </p>
          <p>Wir empfehlen Ihnen, bei Ihrer Krankenkasse einfach nachzufragen, eventuell haben Sie ja Glück!</p>
    <p>Sollten Sie ähnliche Erfahrungen gemacht haben, schreiben Sie uns bitte eine E-Mail an <b>kundenservice@therapiedecken.de.</b></p>
          <p>Für weitere Fragen und Antworten besuchen Sie bitte unser <a href="https://therapiedecken.de/apps/help-center" title="krankenkasse gewichtsdecken erstattungen" class="Link--underline">FAQ</a>.</p>
    
  
</div>