<!-- page.therapiedecken_helfen_bei_stress.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag}}

<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">
    <header class="section-header text-center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </header>
    <div class="rte rte--nomargin rte--indented-images">
          
          <!-- HC - Newsletter page changes - 20 Apr '18 -->
          {% if page.handle == 'newsletter-abonnieren'%}
          {% section 'newsletter-abonnieren' %}
          {% else %}
          {{ page.content }}
          
          <meta charset="utf-8" />
          <p><a href="https://therapiedecken.de/pages/wirkung"><span>← </span>Zurück zur Übersicht weiterer Vorteile von Gewichtsdecken </a></p>
          <p>Lesedauer: 2 Minuten</p>
          <h2 class="Heading u-h2">Wodurch entsteht Stress?</h2>
          <p>Stress ist heutzutage ein häufig auftretendes Phänomen, das vor allem durch die Anforderungen im Beruf und die permanente Abrufbarkeit hervorgerufen wird. Dabei können schlechte Schlagzeilen, irritierende Handy-Benachrichtigungen und die Erledigung vieler Dinge gleichzeitig zu einer Belastung führen, die sich extrem auf den Schlaf auswirkt. Unruhe und Rastlosigkeit sind die Auswirkungen von Stress, man kann nicht mehr abschalten, genau dann, wenn man eigentlich die Erholung braucht. Stress kennt jeder und wird trotzdem oft unterschätzt. Denn findet kein Stressausgleich oder -abbau statt, kann es sich zu dauerhaften Zuständen mit z.B. Verspannungen, Ängsten und negativen Veränderungen im Essverhalten entwickeln.</p>
          <meta charset="utf-8" />
          <h2 class="Heading u-h2"><span>Wie kann eine Gewichtsdecke bei Stress helfen?</span></h2>
          <p>Um Stress und dessen Folgen entgegenzuwirken, gibt es einige hilfreiche Methoden. Neben sportlichen Aktivitäten und gesunder Ernährung kann zusätzlich eine Gewichtsdecke die Ruhepause einleiten und zu einer besseren Erholung beitragen. Gerade wenn es oft nur wenig Zeit zum Schlafen gibt, ist es wichtig, dass diese Zeit zur Regenerierung der Zellen genutzt wird. Die Eindrücke des Tages schwirren noch im Kopf herum und machen das Einschlafen zu einer Herausforderung.</p>
          <h2 class="Heading u-h2">Wie kann eine Gewichtsdecke helfen?</h2>
          <div class="video-wrapper">
          	<iframe src="https://player.vimeo.com/video/394566332" width="320" height="320" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
          </div>
          <p>Das Einsetzen einer Gewichtsdecke kann dabei helfen, den Körper schneller herunterzufahren und in den Ruhemodus zu befördern. Das Gewicht der Decke wirkt auf die Muskeln, Sehnen und Gelenke, sodass der Körper intensiver wahrgenommen wird und besser kontrolliert werden kann. Dafür verantwortlich sind das Glückshormon Serotonin und das Schlafhormon Melatonin, deren Ausschüttung beim Auflegen der Gewichtsdecke gefördert und in ein Gleichgewicht gebracht wird. Zudem wird durch den Druck der Decke auf den Körper der Cortisolspiegel gesenkt (Cortisol als sog. Stresshormon). Die Muskeln und das Nervensystem entspannen sich, Ängste werden gemindert und der Körper kann sich insgesamt leichter von angestautem Stress und Anspannungen erholen.</p>
          <p><strong>Zusammenfassung:</strong></p>
          <ul>
             <li>Neben gesunder Ernährung und Bewegung sorgt Gewichtsdecke für wichtige Ruhepausen und Erholung</li>
             <li>Gewicht begünstigt das Abschalten und Entspannen des Körpers und Geistes nach stressigen und unruhigen Tagen</li>
          </ul>
          <div class="wirkung-container">
             <h3 class="wirkung-container-title Heading u-h3">Jetzt 28 Tage Probeschlafen!</h3>
             <div class="wirkung-container-subcontent">
                <p>Testen Sie jetzt für 28 Tage eine Gewichtsdecke Ihrer Wahl!</p>
             </div>
             <div class="wirkung-container-thumb"><img src="https://cdn.shopify.com/s/files/1/2451/6611/files/Gewichtsdecke_Therapiedecke_28_Tage_Probeschlafen_Kinder_Erwachsene_Schlafprobleme.png?v=1581519163" class="responsive-wirkung" /></div>
             <div class="wirkung-container-content">
                <ul class="wirkung-bullets">
                   <li>Kostenloser Versand</li>
                   <li>Gratis Umtausch</li>
                   <li>28 Tage Probeschlafen</li>
                   <li>100% Geld-Zurück-Garantie</li>
                </ul>
             </div>
            <a style="margin-top:25px;" href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke" class="Button Button--primary button-wirkung"><span>Jetzt 28 Tage Probeschlafen!</span></a>
            <!--<a href="https://therapiedecken.de/pages/fur-wenn-benotigen-sie-eine-therapiedecke"><button class="button-wirkung">Jetzt 28 Tage Probeschlafen!</button></a>-->
          </div>
          <meta charset="utf-8" />
          <p><a href="https://therapiedecken.de/pages/wirkung"><span>← </span>Zurück zur Übersicht weiterer Vorteile von Gewichtsdecken </a></p>
          
          {% endif %}
          
          {% comment %}{% include 'judgeme_all_reviews' %}{% endcomment %}
          
{% if page.handle == 'therapiedecken-helfen-bei-alzheimer-parkinson-und-demenz-1'  %} 

{% include 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: true %}  {% endif %}
        </div>
  </div>
</div>

