<!-- page: wissenswertes.liquid -->

{%- comment -%} CSS Added {%- endcomment -%}
{{ 'pages.css' | asset_url | stylesheet_tag}}

<div class="Container ">
   <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
         <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </div>
   </header>
   <div class="PageContent {% unless section.settings.show_large %}Container--standard{% endunless %} Rte">
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp swap_order">
            <h2 class="Heading u-h2">Wirkung</h2>
            <p>Noch nie von einer Therapiedecke gehört? Oder Sie fragen sich, für wen oder bei welchen Erkrankungen eine schwere Decke nützlich sein kann? Wir geben Ihnen einen Überblick über die Wirkungsweise von Therapiedecken bei unterschiedlichen Beschwerden.</p>
            <a href="/pages/wirkung" class="Button Button--primary"><span>Zur Wirkung</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1" src="//cdn.shopify.com/s/files/1/2451/6611/files/Wirkung-2.jpg?v=1624003898" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp image-text">
            <h2 class="Heading u-h2">Anwendung</h2>
            <p>Therapiedecken sind alles andere als normale Bettdecken. Deshalb ist es vorteilhaft, sich mit der Anwendung vorab vertraut zu machen, damit sich bei Ihnen die Wirkung der Gewichtsdecke bestens entfalten kann. </p>
            <a href="/pages/anwendung" class="Button Button--primary"><span>Zur Anwendung</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1" src="//cdn.shopify.com/s/files/1/2451/6611/files/Anwendung_1.jpg?v=1624003936" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp swap_order">
            <h2 class="Heading u-h2">Wissenschaftliche Studien</h2>
            <p>Das Phänomen der Gewichtsdecken ist in der Wissenschaft erst innerhalb der letzten Jahre zum Thema geworden. Erhalten Sie einen Einblick in bisher durchgeführte Studien und ihre Erkenntnisse über die Wirksamkeit von Therapiedecken.</p>
            <a href="/pages/wissenschaft" class="Button Button--primary"><span>Zu den Studien</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1 ls-is-cached" src="//cdn.shopify.com/s/files/1/2451/6611/files/Wissenschaftliche-Studien.jpg?v=1623859144" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp image-text">
            <h2 class="Heading u-h2">Expertenmeinungen</h2>
            <p>Therapiedecken haben einen breiten Anwendungsbereich. Wir lassen Experten wie Ärzte, Pädagogen und Therapeuten zu Wort kommen, die uns über Ihre beruflichen und persönlichen Erfahrungen und Einsatzmöglichkeiten einer Gewichtsdecke berichten.</p>
            <a href="/pages/was-experten-uber-die-wirkung-von-therapiedecken-sagen" class="Button Button--primary"><span>Zu den Experten</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1" src="//cdn.shopify.com/s/files/1/2451/6611/files/Expertenmeinungen.jpg?v=1623859253" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp swap_order">
            <h2 class="Heading u-h2">Kundenbewertungen</h2>
            <p>Nichts spricht mehr für sich als die Bewertungen von Kunden. Hier können Sie die Erfahrungsberichte nachlesen. Vielleicht wird Ihnen der ein oder andere geteilte Tipp bei der Auswahl Ihrer Gewichtsdecke behilflich sein. </p>
            <a href="/pages/erfahrungen" class="Button Button--primary"><span>Zu den Rezensionen</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1" src="//cdn.shopify.com/s/files/1/2451/6611/files/Kundenbewertungen.jpg?v=1623859296" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp image-text">
            <h2 class="Heading u-h2">Häufige Fragen zu Therapiedecken</h2>
            <p>Hier können Sie die häufigsten Fragen und Antworten rund um das Thema Therapiedecken für Erwachsene und Kinder sowie Informationen zum Versand und den Zahlungsmethoden nachlesen.</p>
            <a href="https://therapiedecken.de/pages/faq" class="Button Button--primary"><span>Zum FAQ</span></a>
         </div>
         <div class="pic_lp1_wp">
            <img loading="lazy" class="pic_lp1" src="//cdn.shopify.com/s/files/1/2451/6611/files/FAQ.jpg?v=1623859426" alt="">
         </div>
      </div>
      <div class="text_area_lp1_wp">
         <div class="text_in_area_lp1_wp swap_order">
            <h2 class="Heading u-h2">Hilfreiche Videos</h2>
            <p>Sie wollen mehr über die Wirkung von Gewichtsdecken erfahren oder wissen nicht, wie Sie Ihre Gewichtsdecke am einfachsten beziehen? Auf unserem YouTube Kanal finden Sie dazu hilfreiche Videos, die Ihnen die Handhabung einer Gewichtsdecke veranschaulichen.</p>
            <a href="https://www.youtube.com/channel/UCzoQFn6SP0y-YTgCNnrLIfA" class="Button Button--primary"><span>Zu unserem Kanal</span></a>
         </div>
         <div class="pic_lp1_wp">
            <iframe src="https://player.vimeo.com/video/651149209?h=df820d1710" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div>
   </div>
</div>